@import '_vars';
@import '_include-media';

$text-gray: #070707;
$medium-gray: #3C3C3C;
$light-gray: #efefef;

.center-wrapper{
  display:flex;
  justify-content: center;
  margin-top:0;
}

.about .active-nav {
  margin-top: 3em;
  margin-bottom: 5em;
}

.max-width{
  max-width:50%;
}

ul {
  margin-top: 15px;
}

a:hover, a:focus {
  text-decoration: none;
  color: $medium-gray;
}

.team-nav {
  background-color: $light-gray;
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    font-family: $montserrat;
    margin: 10px auto;
    width: 52%;
    li {
      color: $text-gray;
      font-weight: 300;
      cursor: pointer;
    }
  }
  .mixitup-control-active {
    font-weight: 400;
  }
}

.hero {
  img {
    width: 100vw;
  }
}

#team-photos {
//  display: flex;
//  justify-content: space-around;
//  flex-wrap: wrap;
  .team-info {
    display: block;
    margin: 0px auto;
    max-width: 250px;
    p {
      margin: 0px;
      font-family: $roboto;
      text-align: left;
      line-height: 1.4em;
      display:inline-block;
    }
    .portfolio{
      display:inline;
    }
    .team-name{
      display:block;
    }
    .role {
      font-family: $montserrat;
      font-weight: 300;
      font-size: .8em;
    }
    .team-name {
      font-weight: 400;
      font-size: 1em;
    }
    a {
      font-weight: 300;
      color: #000;
      font-size: .9em;
      text-decoration: none;
      &:hover {
        color: #ccc;
      }
    }
  }
  .bio {
    position: absolute;
    line-height: 1.5em;
    vertical-align: middle;
    width: 255px;
    height: 170px;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    visibility: hidden;
    opacity: 0;
    padding: 17px 20px;
    font-size: .85em;
    font-family: $roboto;
    -webkit-transition: visibility opacity 0.2s;
    transition: visibility opacity 0.2s;
    text-align: left;
  }
  .team-image-box {
    display: block;
    margin: 0px auto;
    max-width: 250px;
    &:hover{
      cursor:default;
    }
  }
  .mix {
  //  margin: 7px 2.5%;
    position: relative;
    display: block;
    margin-bottom: 12px;
    margin-top: 1.3em;
    &:hover .bio {
      visibility: visible;
      opacity: 1;
    }
    img {
      max-width: 250px;
      max-height: 225px;
    }
  }
}

.about-container {
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  p {
    text-align: left;
  }
}



.about-title {
  margin-top: -2%;
    width:inherit;
  #inner-title-box{
    margin-bottom: 3.8em;
  }
}

#about-intro-text {
  margin-bottom: 5em;
}

.divider {
  img {
  width: 150px;
  margin-bottom: -30px;
  margin-top: -10px;
  }
  h3 {
    font-family: $montserrat;
    font-weight: 400;
    margin: 20px;
  }
}

#special-thanks {
  background-color: $light-gray;
  color: $medium-gray;
  text-align: center;
  padding: 20px 0px;
  margin-top: 40px;
  h3 {
    font-weight: 400;
  }
  p {
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5px;
  }
  ul{
    list-style-type: none;
  }
}

.about-cinema-wrapper{
  video{
    margin-top:$nav-height;
  }
}

#about-cinemagraph {
   width: 100%;
   top: 0;
   left: 0;
   height: 100%;
}


@include media("screen", "<=md") {
.portfolio{
  display:inline;
}

.about-social-icon{
  display:inline;
}

.max-width {
  max-width: 80%;
}
.about-cinema-wrapper{
  #cinemagraph{
    margin-top:$mobile-nav-height;
  }
}

}

@include media("screen", ">=xl"){
  .team-nav{
    ul{
      padding:15px 20vw 15px 20vw;
    }
  }
}


@media screen and (max-width: 720px) {


.portfolio{
  display:inline;
}

.about-social-icon{
  display:inline;
}

@include media("screen", ">=xl"){
  .team-nav{
    ul{
      padding:15px 20vw 15px 20vw;
    }
  }
}


@include media("screen", "<=md") {
  .team-nav {
    ul{
      flex-direction: column;
      max-height: 80px;
      margin: 15px auto 1rem;
      width: 82%;
      text-align: center;
      }
    .mixitup-control-active {
      text-decoration: underline;
    }
  }
  .mix {
    margin-left: auto;
    margin-right: auto;
  }
  .about-container {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    p {
      text-align: left;
    }
  }
}
}
