$text-gray: #070707;
$medium-gray: #3C3C3C;
$light-gray: #efefef;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

.team-nav {
  background-color: $light-gray;
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    font-family: $montserrat;
    margin: 0 10%;
    li {
      color: $text-gray;
      font-weight: 300;
      cursor: pointer;
    }
  }
  .mixitup-control-active {
    font-weight: 400;
  }
}

.hero {
  img {
    width: 100vw;
  }
}

#team-photos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  p {
    margin: 0px;
    font-family: $roboto;
    text-align: left;
    line-height: 1.4em;
  }
  .role {
    font-family: $montserrat;
    font-weight: 300;
    font-size: .8em;
  }
  .team-name {
    font-weight: 400;
    font-size: 1em;
  }
  a {
    font-weight: 300;
    color: #000;
    font-size: .9em;
    text-decoration: none;
    &:hover {
      color: #ccc;
    }
  }
  .bio {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    visibility: hidden;
    opacity: 0;
    padding: 15px 10px;
    font-size: .85em;
    font-family: $roboto;
    -webkit-transition: visibility opacity 0.2s;
    transition: visibility opacity 0.2s;
    text-align: left;
  }
  .team-image-box {
    position: relative;
    width: 175px;
    height: 175px;
    margin-bottom: 4px;
  }
  .mix {
    margin: 7px 2.5%;
    &:hover .bio {
      visibility: visible;
      opacity: 1;
    }
  }
}

.about-container {
  margin: 10px 5%;
  text-align: center;
}

#about-title {
  font-weight: 400;
  margin: 30px 0px;
}

.divider {
  margin-top: 40px;
  img {
  width: 110px;
  }
  h3 {
    font-family: $montserrat;
    font-weight: 400;
    margin-top: 20px;
  }
}

#special-thanks {
  background-color: $light-gray;
  color: $medium-gray;
  text-align: center;
  padding: 10px 0px;
  margin-top: 40px;
  h3 {
    font-weight: 400;
  }
}
