$text-gray: #070707;
$light-gray: #efefef;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

.team-nav {
  background-color: $light-gray;
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    font-family: $montserrat;
    li {
      color: $text-gray;
      font-weight: 300;
      cursor: pointer;
    }
  }
  .active {
    font-weight: 400;
  }
}

.hero {
  img {
    width: 100vw;
  }
}

#team-photos {
  div {
    display: inline-block;
  }
  p {
    margin: 0px;
  }
}

.about-container {
  margin: 10px 5%;
  text-align: center;
}

#about-title {
  font-weight: 400;
  margin: 30px 0px;
}

.divider {
  img {
  width: 110px;
  }
  h4 {
    font-family: $montserrat;
    font-weight: 400;
  }
}
