#c {
  display: block;
  margin: 0 auto;
}

.label {
  height: 1em;
  padding: .3em;
  position: absolute;
  display: none;
  color:#696969;
}


.xy{
  font-size: 8pt;
  margin-left: 3%;
  margin-top: -18pt;
  text-align: center;
}

.xy p{
  margin-top: 0;
  margin-bottom: -3pt;
  color: #696969;
}
