@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

footer{
  text-align: left;
  background: none;
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  .wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100vw;
  }

  .item ul{
    list-style-type: none;
    margin-right: 3vw;
    display: block;
  }

  .item ul li{
    display: inline;

  }

  .item span {
    margin-left: 5px;
    margin-right: 5px;
  }

  .item img {
    height: 6vw;
    margin-left: 3vw;
  }

  ul li a {
    text-decoration: none;
    color: #535353;
  }

  ul li a:hover {
    font-weight: bold;
  }

  .fa {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
  }

}




/* ------- Media Queries --------- */

@media screen and (max-width: 500px){
  footer{

    padding-top: 3rem;

    .wrapper {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .item {
      padding: 0;
    }

    .item img{
      margin-left: 0px;
      height: 13vw;
    }

    .item ul{
      margin-right: 0px;
      padding: 0;
    }

  }


}
