@import '_vars';
@import '_include-media';

footer{
  text-align: left;
  background: none;
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  #about-footer{
    margin-top: 1.2em;
  }

  .wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: space-between;
  }
  .logo-wrapper #svg-logo {
      width: 210px;
  }
  .item {
    width:100%;
  }
  .item ul{
    list-style-type: none;
    padding:.1em 0;
  }

  .centered {
    text-align: center;
  }

  .item ul li{
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    padding:10px 20px 0 20px;
  }

  .item span {
    margin-left: 5px;
    margin-right: 5px;
  }

  ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
  }
  ul li a:hover {
    font-weight: 400;
    color: #fff;
  }

  a {
    margin-left: 5px;
    margin-right: 5px;
    color: #484848;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-weight:300;
    text-decoration: none;
  }
  a:hover {
    font-weight: 400;
  }
  .fa {
    font-size: 1.3em;
  }
  .sm-icons {
    margin-top:0.2em;
  }
  .links{
    margin-top: 1.3em;
    margin-bottom: 2em;
  }
}


/* ------- Media Queries --------- */

@media screen and (min-device-width: 501px) and (max-width: 768px){
  footer{
    .item ul li{
      padding:10px 5px 0 5px;
    }
    .item ul li a {
      font-size: .6em;
    }
  }
}
@media screen and (max-width: 500px){

  footer{

    padding-top: 3rem;

    .wrapper {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .item {
      padding: 0;
    }

    .item ul{
      margin-right: 0px;
      padding: 20px 0 0 0;
    }
    .item ul li {
      display: block;
      padding: 0;
      height:auto;
    }
    .nav-title.active-nav:after, .nav-title:hover:after {
      background:none!important;
    }
    .item ul li a:hover {
      font-weight: 700;
    }
    .item ul li a {
      font-size: .8em;
    }
  }
}
