
footer{
  text-align: left;
  background: none;
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  .wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: space-between;
  }

  .push-right{
    flex-grow: 3;
  }

  .item ul{
    list-style-type: none;
    margin-right: 3vw;
    display: block;
  }

  .centered {
    align-self: center;
  }

  .item ul li{
    display: inline;
  }

  .item span {
    margin-left: 5px;
    margin-right: 5px;
  }

  .item img {
    height: 10vw;
    margin-left: 3vw;
  }

  ul li a {
    text-decoration: none;
    color: #535353;
  }

  ul li a:hover {
    font-weight: bold;
  }

  .fa {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
  }

  .social {
    margin-left: -80px;
  }



}


/* ------- Media Queries --------- */

@media screen and (max-width: 500px){
  footer{

    padding-top: 3rem;

    .wrapper {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .item {
      padding: 0;
    }

    .item img{
      margin-left: 0px;
      height: 13vw;
    }

    .item ul{
      margin-right: 0px;
      padding: 0;
    }

    .item span{
      display: none;
    }

    .push-right{
      display: hide;
    }

    .social{
      margin-left: 0px;
    }

  }


}
