@import '_vars';
@import '_include-media';

#hiphop-wrap {
  display: flex;
}

.no-display {
  display: none;
}

.hiphop-info {
  background-color: white;
}

#hiphop-wrap-mobile {
  display: none;
  button {
    border: none;
    background: transparent;
    font-size: 4em;
    cursor: pointer;
    position: absolute;
    margin-top: 25vh;
    z-index: 10;
  }
  button:focus{
    outline: none;
  }
}

#hiphop-left {
  left: 3%;
}

#hiphop-right {
  right: 3%;
}

.hiphop-bio{
    line-height: 1;
    margin: 8px 15px;
    font-family: $roboto;
    font-size: .85em;
    word-break: break-all;
    -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.hiphop-text {
  color: black;
}

.hiphop-year, .hiphop-name{
  text-align: center;
  font-family: $montserrat;
  margin: 4px 4px 0px;
}

.hiphop-name{
  font-weight: 500;
  margin-top: 15px;
  font-size: 1.2em;
}

.hiphop-year {
  font-weight: 300;
  font-size: .8em;
  line-height: 1;
}

.hiphop-panel {
  // padding: 1vw;
  height: 23.75vw;
  width: 15vw;
  background-size: cover;
  display: block;
  position: relative;
  // background-color: black;
  perspective: 800px;
  &:hover .hiphop-text {
    visibility: visible;
  }
}

.hiphop-card {
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .1s;
    div {
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
}


.hiphop-panel img {
  height: auto;
  width: calc(100% + 1px);
  position: absolute;
  bottom: 0;
}

.hiphop-text {
    transform: rotateY( 180deg );
    background-color: #fff;
    a {
      font-size: 3em;
      display: block;
      text-align: center;
      width: 50px;
      margin: 0 auto;
      cursor: pointer;
      &:hover .fa-youtube{
        color: black;
      }
    }
}


#hiphop-container {
  display: block;
  width: 90%;
  max-height: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

.fa-youtube {
  color: #bb0000;
  font-size: 2em;
}

// #hiphop1 {
//   background-image: url("textures/harbor.JPG");
// }
//
// #hiphop2 {
//   background-image: url("textures/skate.JPG");
// }
//
// #hiphop3 {
//   background-image: url("textures/family.JPG");
// }
//
// #hiphop4 {
//   background-image: url("textures/hiphop.JPG");
// }
//
// #hiphop5 {
//   background-image: url("textures/dorian.JPG");
// }

#hiphop-wrap-mobile {
  width: 90%;
  height: 70vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#hiphop-wrap-mobile > ul {
  width: 100%;
  height: 70vh;
  left: -100%;
  transition: 0.5s left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-flex;
}

#hiphop-wrap-mobile > ul > li {
  width: 100%;
  height: 70vh;
  color: black;
  font-size: 3rem;
}

#hiphop-instructions-click {
  display: none;
}

.hiphop-card-mobile {
  cursor: pointer;
}

@include media("screen", ">md") {
  .hiphop-card:hover{
    transform: rotateY( 180deg );
  }
  .hiphop-panel {
    padding: 8px;
  }
}


@include media("screen", "<=photog-mid") {
  .hiphop-year {
    margin: 2px;
    font-size: .7em;
  }
  .hiphop-name {
    font-size: 1em;
    margin-top: 8px;
  }
  .hiphop-text {
    p {
    word-wrap: break-word;
    word-break: normal;
    }
    a {
      font-size: 2.4em;
    }
  }
  .hiphop-bio {
    font-size: .8em;
    margin-bottom: 2px;
  }
}

@include media("screen", "<=nav-mid") {
  .hiphop-name {
    font-size: .9em;
    margin-top: 3px;
  }
  .hiphop-bio {
    font-size: .77em;
  }
  .fa-youtube {
    font-size: 2em;
  }
}

@include media("screen", "<=md") {
  #hiphop-wrap-mobile > ul > li {
    width: 72vw;
    height: 65vh;
  }
  #hiphop-wrap-mobile {
    display: block;
  }
  #hiphop-wrap {
    display: none;
  }
  .hiphop-name {
    font-size: .7em;
    margin-top: 10px;
  }
  .hiphop-year {
    font-size: .6em;
    margin-bottom: 12px;
  }
  .hiphop-panel {
    height: 65vh;
    // width: 38vw;
    width: 268px;
    // padding: 0;
    padding: 12px;
    margin: 0 auto;
  }
  .hiphop-card div {
    // width: 66vw;
    // height: 60vh;
    // margin: 2.5vh 3vw;
    height: 65vh;
    // width: 38vw;
    width: 248px;
    margin-left: 10px;
    // padding: 1vw;
  }
  .hiphop-card-mobile {
    // width: 38vw;
    width: 268px;

  }
  .hiphop-bio {
    font-size: .5em;
  }
  .hiphop-text {
      a {
        font-size: 1.75em;
      }
  }
  #mobile-instructions:before {
    content: "Click on";
  }
  #desktop-instructions{
    display: none;
  }
  .flipped {
    transform: rotateY( 180deg );
    img {
      visibility: hidden;
    }
  }
  .hiphop-panel img {
    width: 248px;
  }
}

@include media("screen", "<=sm") {
  .hiphop-card div {
    // width: 66vw;
    // height: 60vh;
    // margin: 2.5vh 3vw;
    height: 60vh;
    width: 225px;
    // width: 65vw;
    margin-top: 2.5vh;
    margin-left: 12px;
    // padding: 1vw;
  }
  .hiphop-card-mobile {
    // width: 65vw;
    margin: 0 auto;
    width: 248px;
  }
  .hiphop-panel {
    // width: 72vw;
    padding: 0;
    width: 248px;

  }
  .fa-youtube {
    font-size: 3em;
  }
  .hiphop-panel img {
    width: 225px;
  }
  .hiphop-name {
    font-size: .55em;
  }
  .hiphop-year {
    font-size: .45em;
  }
  .hiphop-bio {
    font-size: .4em;
  }
}

@include media("screen", "<=hiphop-xs") {
  .hiphop-panel {
    width: 215px;
  }
  .hiphop-panel img {
    width: 180px;
  }
  .hiphop-card div {
    width: 180px;
    margin-left: 18px;
  }
  .hiphop-card-mobile {
    width: 235px;
  }
  .hiphop-card > .hiphop-text {
    width: 180px;
    right: 18px;
  }
  .hiphop-name {
    font-size: .5em;
  }
  .hiphop-year {
    font-size: .4em;
  }
  .hiphop-text {
      a {
        font-size: 1.5em;
      }
  }
}
