@import '_vars';
@import '_include-media';

#hiphop-wrap {
  display: flex;
}

#hiphop-wrap-mobile {
  display: none;
}

.hiphop-bio{
    line-height: 1!important;
    margin: 8px 12px;
    font-family: $roboto!important;
    font-size: .8em!important;
    word-break: break-all;
    -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.hiphop-year, .hiphop-name{
  text-align: center!important;
  font-family: $montserrat!important;
  margin: 4px;
}

.hiphop-name{
  font-weight: 500!important;
  margin-top: 15px;
}

.hiphop-year {
  font-weight: 300!important;
  font-size: .8em;
}

.hiphop-panel {
  padding: 1vw;
  height: 23.75vw;
  width: 14vw;
  background-size: cover;
  display: block;
  position: relative;
  perspective: 800px;
  &:hover .hiphop-text {
    visibility: visible;
  }
}

.hiphop-card {
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .5s;
    div {
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
}

.hiphop-card.flipped {
  transform: rotateY( 180deg );
}

.hiphop-panel img {
  height: auto;
  width: 13vw;
}

.hiphop-text {
    transform: rotateY( 180deg );
    background-color: #fff;
    a {
      font-size: 2em;
      text-align: center;
    }
}

// audio {
//   width: 40px;
//   margin-top: -60px 10px 10px;
// }

#hiphop-container {
  display: block;
  width: 90%;
  max-height: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

.fa-youtube {
  color: black;
  font-size: 2em;
}

#hiphop1 {
  background-image: url("textures/harbor.JPG");
}

#hiphop2 {
  background-image: url("textures/skate.JPG");
}

#hiphop3 {
  background-image: url("textures/family.JPG");
}

#hiphop4 {
  background-image: url("textures/hiphop.JPG");
}

#hiphop5 {
  background-image: url("textures/dorian.JPG");
}

@include media("screen", "<=lg") {
  .hiphop-bio {
    font-size: .7em;
    margin-top: 2px;
  }
  .hiphop-year {
    font-size: .75em;
    margin: 2px;
  }
  .hiphop-name {
    font-size: .8em;
    margin-bottom: 2px;
    margin-top: 4px;
  }
  .hiphop-text p {
    word-wrap: break-word;
    word-break: normal;
  }
}

@include media("screen", "<=md") {
  #hiphop-wrap-mobile {
    display: block;
  }
  #hiphop-wrap {
    display: none;
  }
}
