@import '_vars';

.inner {

/*------standard classes------*/
  .max-width{
    max-width:65%;
  }

  .center-wrapper{
    display: flex;
    justify-content: center;
  }

/*------page ids------*/


  #inner-intro { /*inherits from h3*/
    text-align:center;
    max-width:40%;
    font-weight:300;
  }

  .inner-hero img {
    width:100vw;
  }

  .byline-box{
    display:flex;
    margin-top:23pt;

    .byline-item{
      color:$light-gray;
      text-align:center;
      margin-left:50px;
      text-transform: uppercase;
      font-size:.9em;
    }

    .byline-item p {
      line-height: 0.2em;
      font-weight:700;
    }

    .byline-head{
      font-weight: 300!important;
      font-size: 0.85em;
      text-transform: lowercase;
    }


  }

  .byline-item:first-of-type{
    margin-left:0;
  }

  figure {
    display: flex;
    justify-content: space-around;
    margin-left:0;

    .inner-image{
      height:80vh;
      width:auto;

    }
  }

  figcaption{
    margin-left:2vw;
    line-height:1.8em;
    .fig-descr{
      margin-top:0;
    }
    .fig-attr{
      &::before{
        content:'-';
      }
    }

  }

  .pull-quote-box{
      margin: 20pt 0 20pt 15%;
  }

  // .pull-quote span::before{
  //   content: '\201C';
  // }
  //
  // .pull-quote span::after{
  //   content: '\201D';
  // }

  .pull-quote {
    font-family: $montserrat;
    font-size:1.6em;
    line-height:1.5em;
    font-weight:400;
    width: 70vw;
    color: white;
    padding:1.8em;
    margin:0;
    display:inline-block;
  }

  .pull-quote hr{
    background-color: white;
    height: 6px;
    margin-right: 725px;
    margin-top:0;
    border-style: none;
  }

  .subhead{
    background-color:white;
    font-weight:500;
    font-size:1.675em;
    margin:1.5em 0 0 0;
  }

}

#inner-title-box {
  font-family: $montserrat;
  text-align: center;
  // background-color: $page-color;
  color: #fff;
  width:60%;
  padding:2em;
  z-index:5;
  margin-top:-55px;
  h1{
    margin:0;
  }
  h3{
    font-size:1.5em;
    font-weight:300;
    margin:.5em 0 0 0;
  }

}

/*------responsive styles------*/
  @media screen and (max-width: 800px) { //768px
    .container {
      margin-top: 68px;
    }
    .inner {
      .byline-box {
        margin-top: 15pt;
        .byline-item p {
          line-height: 1em;
        }
      }
      .center-wrapper {
        margin-top: -2%;
      }

      #inner-intro {
        max-width: 80%;
        line-height: 1.5em;
        margin-top: 30px;
      }

      .max-width {
        max-width: 75%;
      }

      iframe {
        width: 100%;
      }

      .pull-quote-box {
        width: 88vw;
        //max-width: 100vw;
      }
    } // inner

    #inner-title-box {
      width: 100%;
      margin-top: 0;
    }

    h1 {
    font-size: 2.1em;
    padding-bottom:.25em;
    }
    h3 {
      font-size: 1.25em;
    }

} // media query

#cinemagraph{
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
    // background-image: url ('../assets/flowers.mp4');
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}
