$page-color: #0DC7C9;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400%7CRoboto:300,400');

$roboto: 'Roboto', sans-serif;
$montserrat: 'Monserrat', sans-serif;
$dark-gray: #333;

/* font sizing from http://typecast.com/blog/a-more-modern-scale-for-web-typography because I have no idea what font sizes we need to have :) :/ */
html {font-size:.7em;}

body {
  font-size: 1.375em;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
  margin:0;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  // margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3em;
  font-weight:400;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.75em;}

h4 {font-size: 1.125em;}

small, .font_small {font-size: 0.75em;}

.inner {

/*------standard classes------*/
  .max-width{
    max-width:800px;
  }

  .center-wrapper{
    display: flex;
    justify-content: center;
  }

/*------page ids------*/

  #inner-title-box {
    @extend .inner;
    font-family: $montserrat;
    text-align: center;
    background-color: $page-color;
    color: #fff;
    // font-size: 35px;
    max-width:50%;
    padding:1em;
    margin-top:-90px;
    h1{
      margin:0;
    }
    h2{
      margin:0;
      font-weight:300;
    }
  }

  #inner-intro { /*inherits from h3*/
    text-align:center;
  }

  .inner-hero img {
    width:100vw;
  }

  .byline-box{
    display:flex;

    .byline-item{
      text-align:center;
      margin-left:10px;
    }

  }

  .byline-item:nth-child(1){
    margin-left:0;
  }

  #inner-image-caption {

  }

  figure {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .pull-quote-box{
      // display:flex;
      // align-items:flex-end;
      width:100vw;
      background-color: $page-color;
  }

  .pull-quote span::before{
    content: '\201C';
  }

  .pull-quote span::after{
    content: '\201D';
  }
  .pull-quote {
    font-family: 'Montserrat', sans-serif;
    width: 70vw;
    color: white;
    padding:.8em;
    margin:0;
    display:inline-block;
  }

  .pull-quote hr{
    background-color: white;
    height: 8px;
    margin-right: 725px;
    border-radius: 30px;
    border-style: none;
  }
}
