@import 'main';

$arts: #C71731;

@mixin config-page-colors($prefix, $colors...) {
    @each $i in $colors {
        .#{$prefix}#{nth($i, 1)} {
            background-color: nth($i, 2);
            color: nth($i, 2);
        }
    }
}

@include config-page-colors('',
    'arts'  $arts,
    'entre' #29D172,
    'youth' #A84CD4,
    'aging' #00C4C7,
    'harbor' #FFB11A
);

.subhead{
  background-color:white;
  font-weight:400;
}

.inner {

/*------standard classes------*/
  .max-width{
    max-width:800px;
  }

  .center-wrapper{
    display: flex;
    justify-content: center;
  }

/*------page ids------*/


  #inner-intro { /*inherits from h3*/
    text-align:center;
    max-width:40%;
    font-weight:300;
  }

  .inner-hero img {
    width:100vw;
  }

  .byline-box{
    display:flex;

    .byline-item{
      text-align:center;
      margin-left:10px;
    }

    &:nth-child(1){
      margin-left:0;
    }

  }

  #inner-image-caption {

  }

  figure {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .pull-quote-box{
      width:100vw;
      // background-color: $page-color;
  }

  .pull-quote span::before{
    content: '\201C';
  }

  .pull-quote span::after{
    content: '\201D';
  }
  .pull-quote {
    font-family: $montserrat;
    width: 70vw;
    color: white;
    padding:.8em;
    margin:0;
    display:inline-block;
  }

  .pull-quote hr{
    background-color: white;
    height: 8px;
    margin-right: 725px;
    border-radius: 30px;
    border-style: none;
  }
}

#inner-title-box {
  font-family: $montserrat;
  text-align: center;
  // background-color: $page-color;
  color: #fff;
  width:50%;
  padding:2em;
  margin-top:-90px;
  h1, h3{
    margin:0;
  }

}
