@import '_vars';
@import '_include-media';

.internet-graphic {

  // max-width:500px;
  display:flex;
  flex-direction:column;
  justify-content:center;

  h3, .country-ratio{
    font-size:1.75em;
    margin-bottom:5pt;
    width:400px;
    text-align:center;
  }

  #cuba-title, #other-country-title{
    text-align:center;
    font-size:.8em;
  }

  .fa.fa-male{
    padding:.05em;
    color:$light-gray;
    opacity:0.5;
  }


  .center-wrapper {
    display:flex;
    justify-content:center;
  }

  #country-dropdown{
    width:200px;
    justify-content:center;
  }

  .people-cont{
    display:flex;
    justify-content:space-around;
    // padding:0 20vw 0 20vw;
  }

  .fa.fa-male.selected{
    color:darken($green,5%);
    opacity:1;
  }
  .country-cont{
    width:400px;
  }

@include media('screen', '>=internet-lg'){
  .people-cont{
    margin:0 15vw 0 15vw;
  }
}

@include media('screen', '<=nav-mid'){
    .dropdown-cont{
      justify-content:flex-end;
      padding-right:12vw;
    }
    .people-cont{
      // width:400px;
      justify-content:center;
      padding:0 10vw 0 10vw;
    }
    .people-cont, .title-cont{
      flex-direction:column;
    }
    .country-cont{
      width:inherit;
    }
    h3{
      width:inherit;
    }

  }

  @include media('screen', '<=sm'){
    .fa.fa-male{
      font-size:1.2em;
    }

  }

} //internet-graphic
