@import '_vars';
@import '_include-media';

/*this mixin applies bgr-color and color to anything with classes
that are defined in the include below. You can override either of these colors
further down on the page or in any of the other .SCSS files.
*/
@mixin config-page-colors($colors...) {
    @each $i in $colors {
        .#{nth($i, 1)} {
            &.subhead{
              color: nth($i, 2);
            }
            &.overlay-item::first-letter{
              color: nth($i, 2);
            }
            &.change-bg{
              background: url("textures/" + nth($i, 1) + ".JPG") no-repeat;
              background-size:cover;
              color: nth($i, 2);
            }
            &.nav-title{
              // border-bottom:3px solid transparent;
              // white-space:nowrap;
              // height:25px;
              // transition: 0.5s ease;
              // width: 0px;
              &:after{
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: width .8s ease, background-color .8s ease;
              }

              &:hover{

                &:after{
                  width:100%;
                  background:nth($i, 2);
                }
              }

              &.active-nav{
                &:after{
                  width: 100%;
                  background:nth($i, 2);
                  transition-property: none; 
                }
              }

            }
        }
    }
}


@include config-page-colors(
    'hiphop'  $orange,
    'dorian' $green,
    'skate' $purple,
    'family' $yellow,
    'harbor' $blue,
    'about' $neutral
);

html {font-size:.7em;}

body {
  font-size: 1.375em;
  letter-spacing:.01em;
  background-color: white;
  font-family: $roboto;
  font-weight: 300;
  line-height: 1.45;
  color: $main-text-color;
  margin:0;
  transition: 2s background-color;
}

body a{
  cursor: pointer;
}

p {margin-bottom: 1.3em;
line-height: 2em;}

h1, h2, h3, h4 {
  // margin: 1.414em 0 0.5em;
  font-family: $montserrat;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.7em;
  font-weight:600;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.75em;}

h4 {font-size: 1.125em;
}

.instagram {
  &:hover{
    color:$instagram!important;
  }
}
.facebook{
  &:hover{
    color:$facebook!important;
  }
}
.twitter{
  &:hover{
    color:$twitter!important;
  }
}
.github{
  &:hover{
    color:$github!important;
  }
}

/* ------------------  Header ------------------ */

@mixin header-footer {
  text-align: left;
  padding: 1rem;
}

header {
  @include header-footer;
}

/* ------------------ Navigation ------------------ */

header{
  -webkit-box-shadow: 0 -11px 36px 10px rgba(0,0,0, .3);
  box-shadow: 0 -11px 36px 10px rgba(0,0,0, .3);
  position:fixed;
  left:0;
  margin:0;
  padding:0;
  width:100%;
  z-index:9;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition:all 0.3s linear;

}


nav {
  height: $nav-height;
  background-color: #fff;
  opacity: 1;
  font-family: $montserrat;
  font-size:.95em;
  letter-spacing: .03em;
  padding-bottom:5px;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;


  ul {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 900px;
  padding: 0;
  margin:45px 0 15px 0;

    a {
      color: #222;
      position: relative;
      text-decoration: none;
      color:$main-text-color;
      background-color:transparent;
      //for hover styles, look at mix-in
    }


  }

  .wrapper {
    margin: 0 auto;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .label-toggle {
    display: none;
  }

  #menu-toggle {
    display: none;
  }
   .nav-icons, .icons {
    display: flex;
    margin: 0 5px 0 5px;
  }
  .nav-icons {
    flex-wrap: wrap;
    margin:39px .5em 15px 0;

  }
  .logo-wrapper {
    margin-left:20px;
    #svg-logo{
      // height:inherit;
      width:222px;
    }
    // #svg-splash{
    //   width:100px;
    // }
    // #svg-text{
    //   width:200px;
    // }
  }
  .sm-icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity:.8;
    .insta {
      padding-right: .3em;
      &:hover{
        color:$instagram;
      }
    }
    .fb{
      &:hover{
        color:$facebook;
      }
    }
    .twit{
      &:hover{
        color:$twitter;
      }
    }
    #nav-line {
     margin:0 0.6em 0 0.5em;
     height:30px;
     border-left: 1.5px solid $dark-gray;
   }
    a{
      color:$main-text-color;
      text-decoration:none;
    }
  }

  .trans-wrapper{
    margin-right:20px;

    #trans-btn{

      &:hover{
        cursor:pointer;
        font-weight:600;
      }
    }

    hr{
      width:13pt;
      margin:0;
    }
  }

}

  .default {
      top: 0;
  }
  .fixed {
      top: -85px;
  }


  /* ------- MOBILE NAVIGATION --------*/

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  .overlay-content{
    position:relative;
    top:25%;
    width:100%;
    text-align:center;
    margin-top:30px;
    a{
      display:block;
      text-decoration:none;
      font-size:2em;
    }
    #closebtn{
      position:absolute;
      top:20px;
      right:45px;
      font-size:60px;
    }
    .overlay-item{
      color:white;
      span{
        font-size:1.2em;
      }
    }

  }
}


  /*------------------ RESPONSIVE NAV STYLES ---------*/

  @include media("screen", ">=xl"){
    nav{
      // padding-bottom:15px;
      ul{
        width:1230px;
      }
    }
  }

    @include media("screen", "<=lg"){
      nav {

        .logo-wrapper{
          #svg-logo{
            width:120px;
          }
        }

        ul{
          font-size:.9em;
          padding:0 20px;
        }
        nav{
          ul{
            width:100%;
          }

          .nav-icons{
            margin:39px 0 15px 0;
          }
        }
      }
    }

    @include media('screen', "<=nav-mid"){
      nav{
        ul{
          font-size:.8em;
        }
      }
    }

  @include media("screen", "<=md"){

    header{
    -webkit-box-shadow: none;
    box-shadow: none;
    top:0;
    }
    .logo-wrapper{
      justify-content: center;

      #svg-logo{
        justify-content: center;
      }

    }
    nav {
      ul{
        display:none;
      }
      .wrapper{
        width:900px;
      }
    }

    nav .label-toggle {
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
      #nav-container {
        display: inline-block;
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          margin: 6px 0;
          background: black;
          transition: 0.4s;
        }
      }
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      .change .bar2 {
        opacity: 0;
      }
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
    }

    nav{

      .wrapper{
        width:90vw;

      }
      .logo-wrapper{
        #svg-logo{
          width:250px;
        }
      }
    }

}

  @include media("screen", "<=sm"){


    nav{
      height:20px;

      .wrapper{
        width:90vw;

      }

      .logo-wrapper{
        #svg-logo{
          width:222px;
        }
      }

    }



  }
