/* ------------------ Global Styles ------------ */
$body-color: blue;
$main-text-color: #000;

body {
  font-family: 'Domine', sans-serif;
  color: $main-text-color;
}

/* ------------------  Header ------------------ */

@mixin header-footer {
  text-align: left;
  padding: 1rem;
}

header {
  @include header-footer;
}



/* ------------------ Navigation ------------------ */


nav {
  ul {
  list-style-type: none;
  }
  a {
    color: #000;
    position: relative;
  }
}



/* ------------------  Story Page ------------------ */


/* ------------------  Footer ------------------ */
footer ul {
  list-style-type: none;
}

footer {
  @include header-footer;
  background-color: #efefef;
}
