@import '_vars';
@import '_include-media';

/*this mixin applies bgr-color and color to anything with classes
that are defined in the include below. You can override either of these colors
further down on the page or in any of the other .SCSS files.
*/
@mixin config-page-colors($colors...) {
    @each $i in $colors {
        .#{nth($i, 1)} {
            &.subhead{
              color: nth($i, 2);
            }
            &.title {
              color: nth($i,2);
              // width: 70%;
              width:100%;
              margin-left: auto;
              margin-right: auto;
            }
            &.vid-title{
              font-size:2.7em;
            }
            &.interactive{
              color: nth($i, 2);
            }
            &.change-bg{
              background: url("textures/" + nth($i, 1) + ".JPG") no-repeat;
              background-size:cover;
              color: nth($i, 2);
              background-color: nth($i, 2);
            }
            @include media("screen", ">=md"){
              &.change-mobile-bg{
                    background: none;
                    background-size:cover;
                    color: nth($i, 2);
                    background-color: nth($i, 2);
                    height: 45px;
                  }
            }
            &.nav-title-footer{
              &:after{
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: width .8s ease, background-color .8s ease;
              }
              &:hover{
                &:after{
                  width:100%;
                  background:#fff;
                }
              }
              &.active-nav{
                &:after{
                  content: '';
                  display: block;
                  height: 3px;
                  width: 100%;
                  margin-left: auto;
                  margin-right: auto;
                  background: #fff;
                  transition-property: none;
                }
              }
            }
            @include media("screen", "<=sm"){
              &.nav-title-footer{
                    &.active-nav{
                      &:after{
                        width: 36%;
                        margin-left: auto;
                        margin-right: auto;
                      }
                    }
                    &:hover{
                      &:after{
                        width: 36%;
                        margin-left: auto;
                        margin-right: auto;
                      }
                    }
                  }
            }
            &.nav-title{
              // border-bottom:3px solid transparent;
              // white-space:nowrap;
              // height:25px;
              // transition: 0.5s ease;
              // width: 0px;
              &:after{
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: width .8s ease, background-color .8s ease;
              }

              &:hover{

                &:after{
                  width:100%;
                  background:nth($i, 2);
                }
              }

              &.active-nav{
                &:after{
                  width: 100%;
                  background:nth($i, 2);
                  transition-property: none;
                }
              }

            }
            &.mobile-active-nav span{
              position: relative;
            }
            &.mobile-active-nav span:after{
              position: absolute;
              content: '';
              display: block;
              height: 3px;
              width: 100%;
              margin-top: -3%;
              background:nth($i, 2);
              transition-property: none;
            }

        }
    }
}

@mixin config-page-background($colors...) {
    @each $i in $colors {
        .#{nth($i, 1)} {
          @include media("screen", ">=md"){
            &.change-mobile-bg{
              background: none;
              background-size:cover;
              color: nth($i, 2);
            }
          }
          }
        }
      }


@include config-page-colors(
    'hiphop'  $orange,
    'dorian' $green,
    'skate' $purple,
    'family' $yellow,
    'harbor' $blue,
    'about' $neutral
);

html {font-size:.7em;}

body {
  font-size: 1.375em;
  letter-spacing:.01em;
  background-color: white;
  font-family: $roboto;
  font-weight: 300;
  line-height: 1.45;
  color: $main-text-color;
  margin:0;
  transition: 2s background-color;
}

body a{
  cursor: pointer;
}

p {margin-bottom: 1.3em;
line-height: 2em;}

h1, h2, h3, h4 {
  // margin: 1.414em 0 0.5em;
  font-family: $montserrat;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.7em;
  font-weight:600;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.75em;}

h4 {font-size: 1.125em;
}

.instagram {
  &:hover{
    color:$instagram!important;
  }
}
.facebook{
  &:hover{
    color:$facebook!important;
  }
}
.twitter{
  &:hover{
    color:$twitter!important;
  }
}
.github{
  &:hover{
    color:$github!important;
  }
}

.italic {
  font-style: italic;
}

/* ------------------  Header ------------------ */

@mixin header-footer {
  text-align: left;
  padding: 1rem;
}

header {
  @include header-footer;
}

/* ------------------ Navigation ------------------ */

header{
  -webkit-box-shadow: 0 -11px 36px 10px rgba(0,0,0, .3);
  box-shadow: 0 -11px 36px 10px rgba(0,0,0, .3);
  position:fixed;
  left:0;
  margin:0;
  padding:0;
  width:100%;
  z-index:9;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition:all 0.3s linear;

}


nav {
  height: $nav-height;
  background-color: #fff;
  opacity: 1;
  font-family: $montserrat;
  font-size:.93em;
  letter-spacing: .03em;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;


  ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 850px;
  padding: 0;
  font-weight: 400;
  margin:45px 0 15px 0;

    a {
      color: #484848;
      position: relative;
      text-decoration: none;
      background-color:transparent;
      //for hover styles, look at mix-in
    }


  }

  .wrapper {
    margin: 0 auto;
    width:100%;
    align-items: center;
    display: flex;
    height: $nav-height;
    padding: 5px 0 3px 0;
    justify-content: space-between;
    background: transparent;
  }
  .label-toggle {
    display: none;
  }

  #menu-toggle {
    display: none;
  }
  .nav-icons, .icons {
    display: flex;
    margin: 0 5px 0 5px;
  }
  .nav-icons {
    flex-wrap: wrap;
    margin:39px .5em 15px 0;

  }
  .logo-wrapper {
    margin-left:20px;


    #svg-logo{
      // height:inherit;
      width:170px;
    }
    // #svg-splash{
    //   width:100px;
    // }
    // #svg-text{
    //   width:200px;
    // }
  }

  .nav-dot-sep {
    font-size: 2em;
    margin-top: -11px;
 }

  .sm-icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity:.8;
    margin-right: 20px;
    .insta {
      padding-right: .3em;
      &:hover{
        color:$instagram;
      }
    }
    .fb{
      &:hover{
        color:$facebook;
      }
    }
    .twit{
      &:hover{
        color:$twitter;
      }
    }
    .nav-line {
     margin:0 0.6em 0 0.5em;
     height:27px;
     border-left: 1px solid $dark-gray;
   }

   #trans-btn, #about-btn {
     font-size: .9em;
   }

    a{
      color:$main-text-color;
      text-decoration:none;
    }
  }


  .trans-wrapper{

    #trans-btn{

      &:hover{
        cursor:pointer;
        font-weight:600;
      }
    }

    hr{
      width:13pt;
      margin:0;
    }
  }

  .about-wrapper {

    #about-btn{

      &:hover{
        cursor:pointer;
        font-weight:600;
      }
    }
  }

}

  .default {
      top: 0;
  }
  .fixed {
      top: -85px;
  }

  #replay-btn {
    display: none;
  }


  /* ------- MOBILE NAVIGATION --------*/


.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color:rgb(0,0,0);
  background-color:white;
  opacity: .94;
  overflow-x: hidden;
   transition: 0.5s opacity;
   -webkit-transition:  5s opacity ;
   -moz-transition: 0.5s opacity;
  .overlay-content{
    position:relative;
    top:15%;
    width:100%;
    margin-left: 8%;
    margin-top:30px;
    // transition-duration:0s;
    -webkit-transition: 5s opacity;
    // -moz-transition-duration:0s;
    a{
      text-decoration:none;
      font-size:1.7em;
      font-weight: 300;
      line-height: 2.6em;
      padding: 0.5%;
      display: flex;
      align-items: center;
    }
    .mobile-home-link {
      color: black;
      position: absolute;
      top: -24.5%;
      right: 11%;
      font-size: 1.5em;
    }
    #closebtn{
      position:absolute;
      top:-42.5%;
      left: -5%;
      font-size:75px;
      color: black;
      font-weight: 100;
      transition: none;
    }
    .overlay-item{
      color:black;
      span{
        font-size:1em;
        display: inline-flex;
      }
    }

  }
}


/*------------------INTERACTIVE STYLES ---------*/
.interactive-wrapper {
  width:80%;
  border-top:1px $dark-gray solid;
  border-bottom:1px $dark-gray solid;
  margin:1.4em auto;
  padding: 1.4em 0;
  overflow:hidden;

  .expand-collapse{
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
  }

  .expand-collapse2{
    text-align: left;
    margin-top: 3%;
    cursor: pointer;
  }
}

.interactive-wrapper-intro{
  text-align: center;
  h1 {
    margin:0;
    font-size: 3.7em;
    }
  h2 {
    font-weight:200;
    font-size:1.5em;
    margin-top:10px;
    }
    p {
      font-family:'Roboto', sans-serif;
      font-size: 1em;
      font-weight: 400;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 75vw;
      text-align:left;
    }
    .expand-collapse {
      text-align:left;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
    }
}
.datasource {
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8em;
  text-align:right;
}


  /*------------------ RESPONSIVE NAV STYLES ---------*/

  @include media("screen", ">=xl"){
    nav{
      // padding-bottom:15px;
      font-size:1.05em;
      ul{
        width:1230px;
        // li::after{
        //   content:'\2022';
        //   display:inline;
        // }
      }
    }
  }

    @include media("screen", "<=lg"){
      nav {

        .logo-wrapper{
          #svg-logo{
            // width:120px;
          }
        }

        ul{
          font-size:.9em;
          padding:0 20px;
        }
        nav{
          ul{
            width:57%;
          }

          .nav-icons{
            margin:39px 0 15px 0;
          }
        }
        .sm-icons {
          .nav-line {
           margin:0 0.5em 0 0.5em;
           height:23px;
          }
          .mobile-icons {
            display: inline-flex;
            position: relative;
            align-items: center;
          }
          #trans-btn, #about-btn {
            font-size: .8em;
          }
        }

      }
    }

    @include media('screen', "<=nav-mid"){
      nav{
        ul{
          font-size:.8em;
        }
      }
    }



  @include media("screen", "<=md"){

    header{
    -webkit-box-shadow: 0 -16px 21px 9px rgba(0, 0, 0, 0.3);
    box-shadow:  0 -16px 21px 9px rgba(0, 0, 0, 0.3);
    top:0;
    }
    .logo-wrapper{
      justify-content: center;

      #svg-logo{
        justify-content: center;
      }

    }
    nav {
      ul{
        display:none;
      }
      .wrapper{
        width:900px;
      }
      .sm-icons {
        margin-right: 0;
      }
      nav .nav-icons{
        margin:15px 0 11px 0;
      }
    }

    nav .label-toggle {
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      width: 35px;

      #nav-container {
        display: inline-block;
        .bar1, .bar2, .bar3 {
          width: 29px;
          height: 3px;
          margin: 6px 0;
          background: #484848;
          transition: 0.4s;
        }
      }
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      .change .bar2 {
        opacity: 0;
      }
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
    }

    nav{

      .wrapper{
        width:90vw;

      }
      .logo-wrapper{
        #svg-logo{
          width:200px;
        }
      }

    }

    .interactive-wrapper-intro p {
      width: initial;
    }


}

  @include media("screen", "<=sm"){
    @include config-page-background(
    'hiphop'  $orange,
    'dorian' $green,
    'skate' $purple,
    'family' $yellow,
    'harbor' $blue,
    'about' $neutral
    );


    nav{
      height:50px;

      .label-toggle {
        height: 31px;
        width: 0px;
        #nav-container {
          .bar1, .bar2, .bar3 {
            height: 2px;
            width: 24px;
            margin: 0 0 5px 0;
          }
        }
      }

      .sm-icons {
        display: initial;
      }

      .wrapper{
        width:90vw;
        align-items: center;
        height: 50px;

      }

      #nav-container {
        // margin-top: 8px;
        position: relative;
        top: 10%;
      }

      .logo-wrapper{
        margin: 0 auto;
        #svg-logo{
          width:130px;
        }
      }
      nav .nav-icons {
        display: none;
      }

    }

    .interactive-wrapper {
      width:80%;
      border-top:1px $dark-gray solid;
      border-bottom:1px $dark-gray solid;
      margin:1.4em auto;
      padding: 1.4em 0;
      overflow:hidden;
    }

    .interactive-wrapper-intro{
      h1 {
        font-size: 2.5em;
        }
      h2 {
        font-size:1.2em;
        margin-top:10px;
        }
        .expand-collapse {
          margin-top: 5%;
          text-align: center;
        }
    }



  }
