/* ------------------ Global Styles ------------ */
$body-color: blue;
$main-text-color: #000;
$light-gray: #efefef;
$dark-gray: #696969;
$title: #83c4d6;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

/*change page colors here!*/
$red: #ed4c09;
$yellow: #e4b83b;
$green: #79c7ab;
$blue: #0b8fb9;
$purple: #bc7a95;


/*this mixin applies bgr-color and color to anything with classes
that are defined in the include below. You can override either of these colors
further down on the page or in any of the other .SCSS files.
*/
@mixin config-page-colors($prefix, $colors...) {
    @each $i in $colors {
        .#{$prefix}#{nth($i, 1)} {
            background-color: nth($i, 2);
            color: nth($i, 2);
        }
    }
}

@include config-page-colors('',
    'arts'  $red,
    'entre' $yellow,
    'youth' $green,
    'aging' $blue,
    'harbor' $purple
);

html {font-size:.7em;}

body {
  font-size: 1.375em;
  background-color: white;
  font-family: $roboto;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
  margin:0;
}

p {margin-bottom: 1.3em;
line-height: 2em;}

h1, h2, h3, h4 {
  // margin: 1.414em 0 0.5em;
  font-family: $montserrat;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3em;
  font-weight:500;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.75em;}

h4 {font-size: 1.125em;
}

/* ------------------  Header ------------------ */

@mixin header-footer {
  text-align: left;
  padding: 1rem;
}

header {
  @include header-footer;
}



/* ------------------ Navigation ------------------ */


nav {
  // margin: 0;
  background-color: #fff;
  opacity: 0.8;
  font-family: $montserrat;
  font-size:1em;
  ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  text-transform: uppercase;
    a {
      color: #222;
      position: relative;
      text-decoration: none;
      &:hover {
        font-weight: bold;
      }
    }
  }
  li {
    display: inline-block;
  }
  li+li {
    border-left: 1px solid #000;
    padding-left: 25px;
  }
  .logo {
    display: inline-block;
    height: 45px;
    margin: 1em 0;
    width: 45px;
    margin-left: 2em;
  }
  .wrapper {
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .label-toggle {
    display: none;
  }
  #menu-toggle {
    display: none;
  }
   .nav-icons, .icons {
    display: flex;
    margin: 0 5px 0 5px;
  }
  .nav-icons {
    flex-wrap: wrap;
    margin-left: 30px;
  }
  .sm-icons {
    display: flex;
    flex-direction: row;
  }
  .trans {
    border: 1px solid #000;
    padding: 1px 10px 1px 10px;
    margin: 5px;
  }
  #eng {
    border-right: 1px solid #000;
    padding-right: 15px;
  }
  #es {
    padding-left: 15px;
  }
}

 #nav-header{
   position: fixed;
   left: 0;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 80px;
   z-index:9;
 	}
  header {
      position: fixed;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 80px;
      transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
  }
  .default {
      top: 0;
  }
  .fixed {
      top: -85px;
  }

  /*------------------ RESPONSIVE NAV STYLES ---------*/
  @media screen and (max-width: 768px) {
    // nav .nav-icon {
    //   visibility: visible;
    //   display: inline-block;
    //   cursor: pointer;
    // }
    nav .wrapper {
      max-width: 75%;
    }
    nav ul {
      background-color: #eee;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }
    nav li {
      // border-bottom: 2px solid #53354A;
      color: #696969;
      display: block;
      font-size: 1.5em;
      padding: 2em 0;
    }
    nav li+li {
      border-left: none;
    }
    nav ul li:after {
      content: "";
      display: block;
      height: 1px;
      width: 20px;
      margin-left: 45%;
      background: black;
      text-align: center;
      position: relative;
      top: 1.5em;
    }
    nav ul li #nav-art:after {
      margin-left: 50%;
    }
    nav #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100vh;
      visibility: visible;
      padding: 10px;
      border: 5px solid #60B1DE;
    }
    nav .label-toggle {
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
      .nav-container {
        display: inline-block;
        .bar1, .bar2, .bar3 {
          width: 35px;
          height: 5px;
          margin: 6px 0;
          background: black;
          transition: 0.4s;
        }
      }
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      .change .bar2 {
        opacity: 0;
      }
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
    }
    nav .wrapper {
      display: block;
    }

    .line {
      display: none;
    }
    nav .icons {
      display: none;
    }
    nav .trans {
      display: none;
    }
  }


/* ------------------  Index ------------------ */

#video-box {
  position: relative;
}

#my-video{
  position: fixed;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
    // background-image: url ('../assets/flowers.mp4');
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

.layer{
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  margin-bottom: 30px;
  color: white;
  width: 40px;
  height: 60px;
  z-index: 4;
  cursor: pointer;

  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

 .title-svg {
   z-index: 5;
   width: 100%;
   position: fixed;
   display: none;
   top: 0;
   left: 0;
//   overflow: scroll;
 }

#upper-filler {
  background-color: #fff;
}

.subtitle {
  text-align: center;
//  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 0;
  margin-top: 0px;
  color: #3f3f3f;
  font-family: $montserrat;
  font-weight: 400;
  font-size: 1.1em;
  padding-bottom: 4vh;
}


#link-box {
  margin-top: -5%;
  z-index: 6;
  background-color: #fff;
  //width: 100%;

  #thumbnail-box {
    display: flex;
  //  width: 95%;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    a {
      text-decoration: none;
        div {
          z-index: 7;
          margin: 10px;
          padding: 12.5px;
          font-family: $montserrat;
          color: #fff;
           width: 10vw;
           height: 30vh;
          //height: 800px;
           img {
             width: 10vw;
           }
           &:hover, &:focus {
             opacity: .6;
           }
        }
            .box-title {
              text-transform: uppercase;
              margin: 0;
              font-weight: 500;
              font-size:1.1em;
              line-height: normal;
              text-align: left;
              word-wrap:break-word;
            }

            .box-content {
              font-size: 0.938em;
              font-family: $roboto;
              text-align: left;
              line-height: 1.313em;
            }

            @media screen and (min-width: 1600px) {
              .box-title {
                font-size:1.7em;
                margin-top: 5px;
              }
              .box-content {
                font-size: 1.5em;
              }
            }

            @media screen and (min-height: 600px) {
              div {
                height: 33vh;
              }
            }

            @media screen and (max-width: 1200px) {
              .box-title {
                font-size:1em;
              }
            }
            @media screen and (max-width: 888px) {
              .box-title {
                font-size:.9em;
              }
              .box-content {
                font-size:.8em;
              }
            }
    }
  }
}

@media screen and (min-width: 1800px) {
  .subtitle {
    font-size: 1.9em;
  }
}

@media screen and (max-width: 2000px) {
  #upper-filler {
    height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  #upper-filler {
    height: 40px;
  }
}

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display:none;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* ------------------  Story Page ------------------ */
