@import '_include-media';

#custom-slider {
  width: 50%;
  height: 50vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;

  button{
    border: none;
    background: transparent;
    font-size: 4em;
    cursor: pointer;
    position: absolute;
    margin-top: 8%;
  }
  button:focus{
    outline: none;
  }
}

#custom-slider > ul {
  width: 100%;
  height: 50vh;
  left: -100%;
  transition: 0.5s left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
}

#custom-slider > ul > li {
  width: 100%;
  height: vh;
  color: black;
  font-size: 3rem;
}

#slider-right {
  margin-left: 54%;
}

#slider-left {
  margin-left: -7%;

}


.money-slider {
  height: 50vh;
  text-align: center;

  li{
    width: 100%;
  }

  h2{
    font-size: 0.8em;
  }
  h3{
    font-size: 0.5em;
  }
  p{
    font-size: 0.4em;
  }
  img{
    height:20vh;
  }

  .money-slider-section{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img{
        text-align: center;
      }
  }

  .money-left, .money-center, .money-right{
    align-self: center;
  }


  }

  @include media("screen", "<=sm"){
    #custom-slider {
      width: 90%;
      height: 50vh;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -5%;
    }

    #custom-slider button{
      display: none;
    }

    .money-slider-section{
      flex-direction: column;
    }
  }
