@import '_vars';
@import '_include-media';


#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; 

  #custom-slider {
    width: 90%;
    height: 70vh;
    overflow: hidden;
    margin-left: 0;
    margin-right: auto;
  }

  #custom-slider > ul {
    width: 100%;
    height: 70vh;
    left: -100%;
    transition: 0.5s left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex;
  }

  #custom-slider > ul > li {
    width: 100%;
    height: 70vh;
    color: white;
    font-size: 3rem;
  }

  .pic-style {
    max-height: 100%;
  }

  .pic {
    height: 70vh;
    max-width: 100%;
  }

  button {
    background: transparent;
    border: none;
    font-size: 4em;
    color: #000;
    //position: absolute;
  }

  .caption {
    color: #000;
    // width: 15%;
    // height: 50vh;
     width: 30%;
    height: 30vh;
    position: relative;
    //  bottom: 103%;
    //  left: 66%;
  }

  #caption-text {
    font-family: $roboto;
    margin: 5%;
    float: left;
  }

  .fa-angle-right{
    position: relative;
    left: -1500%;
  }


  #slider-right {
    float: right;
  }

  #slider-left {
    float: left;
  }
}
