@import '_vars';
@import '_include-media';


#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  #custom-slider {
    width: 60%;
    height: 70vh;
    overflow: hidden;
    margin-left: 0;
    margin-right: auto;
  }

  #custom-slider > ul {
    width: 100%;
    height: 70vh;
    left: -100%;
    transition: 0.5s left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex;
  }

  #custom-slider > ul > li {
    width: 100%;
    height: 70vh;
    color: white;
    font-size: 3rem;
  }

  .pic-style {
    max-height: 100%;
  }

  .pic {
    height: 70vh;
    max-width: 100%;
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 4em;
    color: #000;
  }

  .caption {
    color: #000;
     width: 40%;
    height: 30vh;
    position: relative;
  }

  #caption-text {
    font-family: $roboto;
    margin-left: 0%;
    margin-right: 50%; 
    float: left;
  }

  .fa-angle-right{
    position: relative;
    left: -1500%;
  }


  #slider-right {
    float: right;
  }

  #slider-left {
    float: left;
  }
}
