.poem-wrapper{

  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;

  p {
    font-style: italic;
  }

  img {
    width: 40vw;
    margin-right: 10%;
  }

  .title {
    text-align: center;
  }

  .poem-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  #section-0, #section-1, #section-2, #section-3, #section-4, #section-5, #section-6{
    margin-right: 0;
    margin-left: 50px;
    opacity: 0;
    text-align: right;
  }

  #section-0-img, #section-1-img, #section-2-img, #section-3-img, #section-4-img, #section-5-img, #section-6-img{
    opacity: 0;
  }


  .fadeIn{
    -webkit-animation: fadeIn 4s; /* Safari 4+ */
   -moz-animation:    fadeIn 4s; /* Fx 5+ */
   -o-animation:      fadeIn 4s; /* Opera 12+ */
   animation:         fadeIn 4s; /* IE 10+, Fx 29+ */
   animation-fill-mode: forwards;
  }


}
