$page-color: #FFD800;
$body-font-size: 14px;

body {
  font-family: 'Roboto', sans-serif;
}

.inner {
  margin-left: 20%;
  margin-right: 20%;
  line-height: 23px;
}

.innerHero img {
  width: 100vw;
  margin-left: -8px;
}

#innerTitle {
  font-family: 'Rokkitt', sans-serif;
  text-align: center;
  color: $page-color;
  font-size: 8em;
  margin-top: -75px;
}

#innerSub {
  text-align: center;
  color: $page-color;
  font-size: 4em;
  margin-top: -110px;
}

#innerIntro {
  @extend .inner;
  font-size: $body-font-size;
  font-weight: 900;
}

#innerContent {
  @extend .inner;
  margin-top: 35px;
  font-size: $body-font-size;
}

#innerImage {
  height: 50vw;
  margin-left: -10px;
}

.storyImage {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 40px;
}

#innerImageCaption {
  @extend .inner;
  margin-left: 20px;
  margin-right: 10%;
  margin-top: -5px;
  font-size: $body-font-size;
}

/* -------------- Media Queries -------- */
