$page-color: #FFD800;
$body-font-size: 14px;

body {
  font-family: 'Roboto', sans-serif;
}

.inner {
  margin-left: 20%;
  margin-right: 20%;
  line-height: 23px;
}

.inner-hero img {
  width: 100vw;
  margin-left: -8px;
}

#inner-title {
  font-family: 'Rokkitt', sans-serif;
  text-align: center;
  color: $page-color;
  font-size: 8em;
  margin-top: -75px;
}

#inner-sub {
  text-align: center;
  color: $page-color;
  font-size: 4em;
  margin-top: -110px;
}

#inner-intro {
  @extend .inner;
  font-size: $body-font-size;
  font-weight: 900;
}

#inner-content {
  @extend .inner;
  margin-top: 35px;
  font-size: $body-font-size;
}

#inner-image {
  height: 50vw;
  margin-left: -10px;
}

.story-image {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 40px;
}

#inner-image-caption {
  @extend .inner;
  margin-left: 20px;
  margin-right: 10%;
  margin-top: -5px;
  font-size: $body-font-size;
}

.pull-quote {
  background-color: $page-color;
  height: 150px;
  width: 80vw;
  margin-left: 225px;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;

}

.pull-quote hr{
  background-color: white;
  height: 8px;
  margin-right: 725px;
  border-radius: 30px;
  border-style: none;

}

/* -------------- Media Queries -------- */
