<div class="interactive-wrapper">
	<div class="interactive-wrapper-intro">
   <h1 class="family interactive">Cuba's Aging Population</h1>
  <p style="margin-bottom:0;">This chart shows the percentage of Cuba's population that is over the retirement age in Cuba from 1985 to 2015. The retirement age for women was 55 and for men was 60. The retirement age officially changed in 2017 to 60 for women and 65 for men. </p>
 </div>

<div class="center-wrapper">
	<img id="aging-chart-img" src="./assets/images/aging-chart.jpg" />
</div>

<table id="aging-table">
	<tr>
		<th>Year</th>
		<th>Percent of population above retirement age</th>
	</tr>
	<tr>
		<td>1965</td>
		<td>12.5</td>
	</tr>
	<tr>
		<td>1990</td>
		<td>16.4</td>
	</tr>
	<tr>
		<td>1995</td>
		<td>14.8</td>
	</tr>
	<tr>
		<td>2000</td>
		<td>25.6</td>
	</tr>
	<tr>
		<td>2005</td>
		<td>17.5</td>
	</tr>
	<tr>
		<td>2010</td>
		<td>20</td>
	</tr>
	<tr>
		<td>2015</td>
		<td>22.3</td>
	</tr>
</table>

</div>
