<div class="interactive-wrapper">
	<div class="interactive-wrapper-intro">
   <h1 class="family interactive">Cuba's Aging Population</h1>
  <p style="margin-bottom:0;">This chart shows the percentage of Cuba's population that is over the retirement age in Cuba from 1985 to 2015. The retirement age for women was 55 and for men was 60. The retirement age officially changed in 2017 to 60 for women and 65 for men. </p>
 </div>
 <div id="linegraph-container">
  <canvas id='c'></canvas>
</div>
  <div class="label">text</div>
<div class="xy">
	<p>(y-axis: percentage of population above retirement age)</p>
	<p>(x-axis: year)</p>
	<p style="text-align:right;">SOURCE: United Nations, Department of Economic and Social Affairs, Population Division.</p>
</div>

</div>
<script src="js/aging-line.js"></script>
