<div class="interactive-wrapper" id="aging-line-top">
	<div class="interactive-wrapper-intro">
   <h1 class="family interactive">The Aging Population of Cuba Over Time</h1>
  <p>This chart shows the percentage of Cuba's population that is over the retirement age in Cuba from 1985 to 2015. The retirement age for women was 55 and for men was 60. The retirement age officially changed in 2017 to 60 for women and 65 for men. Mouse over the points to learn more.</p>
 </div>
 <div id="linegraph-container">
  <canvas id='c'></canvas>
</div>
  <div class="label">text</div>
<div class="xy">
	<p>(y-axis: percentage of population)</p>
	<p>(x-axis: year)</p>
</div>

</div>
<script type="text/javascript" src="js/aging-line.js"></script>
