<div id="aging-barchart">
  <div class="wrap">
  	<h1 class="pen-title">The Age Distribution of Cuba</h1>
  	<p class="pen-description"> Cuba must turn to its youth to bear the burdens of an aging population.  </p>


  	<section class="chart-wrapper">


    		<ul class="chart-vertical">
    			<li class="chart-bar" data-skill="16.7"></li>
    			<li class="chart-bar" data-skill="12.44"></li>
    			<li class="chart-bar" data-skill="44.95"></li>
    			<li class="chart-bar" data-skill="11.27"></li>
    			<li class="chart-bar" data-skill="14.64"></li>
    		</ul>

        <div id="wrapper-data">
          <div class="data-numbers1">
            <p> 0-14yr </p>
            <p> 16.7% </p>
          </div>

          <div class="data-numbers2">
            <p> 15-24yr </p>
            <p> 12.44% </p>
          </div>

          <div class="data-numbers3">
            <p> 25-54yr </p>
            <p> 44.95% </p>
          </div>

          <div class="data-numbers4">
            <p> 55-64yr </p>
            <p>11.27%</p>
          </div>

          <div class="data-numbers5">
            <p> 65yr & over </p>
            <p> 14.64%</p>
          </div>
        </div>

  	</section>

  </div><!-- .wrap -->
</div>

<script>
  $(document).ready(function(){
    var barchartTop = $('#aging-barchart').offset().top - 400;
      $(window).scroll(function(event){
        if ($(this).scrollTop() > barchartTop) {
          $('.chart-vertical').find('.chart-bar').addClass('chart-animate');
        }
      })
  });

</script>
