  <div class="interactive-wrapper-intro">
    <h1>
      El Paquete Semenal
    </h1>
    <h2 class="intro-text">
      Explore what's available in the weekly package
    </h2>
  </div>
  <div class="container">
  <div class="finder-window">
    <div class="finder-header">
      <div class="finder-window-controls">
        <div class="finder-window-controls__close"></div>
        <div class="finder-window-controls__minimize"></div>
        <div class="finder-window-controls__maximize"></div>
      </div>
    </div>
    <div class="content-container">
      <div class="finder-sidebar">
        <ul class="finder-sidebar__list">
          <li class="finder-sidebar__list-item finder-sidebar__list-item--section">
            <span class="finder-sidebar__list-name finder-sidebar__list-name--section">Devices</span>
            <ul class="finder-sidebar__sub-list">
              <li class="finder-sidebar__list-item">
                <i class="fa-hdd-o fa icon" aria-hidden="true"></i>PKT (D:)
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="finder-main">
        <!-- categories -->
        <div class="category-container">
            <ul class="finder-file-list">
              <li class="finder-file-item parent" id="applications">Applications</li>
              <li class="finder-file-item parent" id="music">Music</li>
              <li class="finder-file-item parent" id="series">Series</li>
              <li class="finder-file-item parent" id="sports">Weekly Sports</li>
              <li class="finder-file-item parent" id="youtube">YouTube</li>
            </ul>
        </div>

        <!-- subcategories -->
        <div class="sub-container">
          <!-- Applications -->
          <ul class="finder-file-list" id="sub-apps">
            <li class="finder-file-item parent" id="android">Android Applications</li>
            <li class="finder-file-item">iOS Applications</li>
          </ul>

          <!-- Music -->
          <ul class="finder-file-list" id="sub-music">
            <li class="finder-file-item parent" id="international">International Music</li>
            <li class="finder-file-item parent" id="music-vids">Music Videos</li>
            <li class="finder-file-item">CDs</li>
            <li class="finder-file-item">National Music</li>
            <li class="finder-file-item">Unreleased Music</li>
          </ul>

          <!-- Series -->
          <ul class="finder-file-list" id="sub-series">
            <li class="finder-file-item">Bones</li>
            <li class="finder-file-item">Blackish</li>
            <li class="finder-file-item">Girls</li>
            <li class="finder-file-item is-active">Greys Anatomy</li>
            <li class="finder-file-item">Feud</li>
          </ul>

          <!-- Sports -->
          <ul class="finder-file-list" id="sub-sport">
            <li class="finder-file-item">Boxing</li>
            <li class="finder-file-item">Cubans in MLB</li>
            <li class="finder-file-item parent" id="soccer">Soccer</li>
            <li class="finder-file-item">MLB</li>
            <li class="finder-file-item">NBA</li>
            <li class="finder-file-item">UFC</li>
            <li class="finder-file-item">WWE</li>
            <li class="finder-file-item">Moto GP</li>
            <li class="finder-file-item">Documentales</li>
          </ul>

          <!-- Youtube -->
          <ul class="finder-file-list is-active" id="sub-tube">
            <li class="finder-file-item parent" id="fashion">Fashion and Beauty</li>
            <li class="finder-file-item">The Voice</li>
            <li class="finder-file-item">Soccer Videos</li>
            <li class="finder-file-item">Skating Videos</li>
            <li class="finder-file-item">Gossip and Showbiz</li>
            <li class="finder-file-item">Animals</li>
            <li class="finder-file-item">Cooking</li>
            <li class="finder-file-item">Exercise</li>
            <li class="finder-file-item">Magic</li>
            <li class="finder-file-item">Technology</li>
          </ul>
        </div>


        <!-- subcategory files -->
        <div class="files-container">

          <!-- Applications -->
          <ul class="finder-file-list is-active" id="files-apps">
            <li class="finder-file-item">Four in a Row</li>
            <li class="finder-file-item is-active">English-Spanish Dictionary</li>
            <li class="finder-file-item">Screen Off and Lock</li>
            <li class="finder-file-item">Assassins Creed</li>
            <li class="finder-file-item">Minesweeper</li>
            <li class="finder-file-item">Panorama</li>
          </ul>

          <!-- International Music -->
          <ul class="finder-file-list is-active" id="files-music">
            <li class="finder-file-item">Carnival</li>
            <li class="finder-file-item is-active">Dance Vol.2</li>
            <li class="finder-file-item">Dance Vol.3</li>
            <li class="finder-file-item">Drake and Future</li>
            <li class="finder-file-item">Drake and Future</li>
          </ul>

          <!-- Music Videos -->
          <ul class="finder-file-list is-active" id="files-musicvids">
            <li class="finder-file-item">Concierto</li>
            <li class="finder-file-item is-active">Extended Para DJs</li>
            <li class="finder-file-item">Hip Hop (Especial Lyon King)</li>
            <li class="finder-file-item">Top Billboard</li>
            <li class="finder-file-item">Chago</li>
          </ul>

          <!-- YouTube -->
          <ul class="finder-file-list is-active" id="files-tube">
            <li class="finder-file-item">Academia Anatassia</li>
            <li class="finder-file-item is-active">Forever 21</li>
            <li class="finder-file-item">Combinations for your wedding</li>
            <li class="finder-file-item">For Him</li>
            <li class="finder-file-item">For Her</li>
          </ul>

          <!-- Sports -->
          <ul class="finder-file-list is-active" id="files-sport">
            <li class="finder-file-item">League (German)</li>
            <li class="finder-file-item is-active">League (Spanish)</li>
            <li class="finder-file-item">League (French)</li>
            <li class="finder-file-item">League (English)</li>
            <li class="finder-file-item">League (Italian)</li>
            <li class="finder-file-item">UEFA (Champions League)</li>
            <li class="finder-file-item">UEFA (Europe League)</li>
            <li class="finder-file-item">Barcelona vs Deportivo La Coruña Fecha</li>
            <li class="finder-file-item">League 1 - OGC Nice vs. SM</li>
          </ul>
        </div>




      </div>
    </div>
  </div>
  <div class="info-window">
    <!-- Applications Info -->
    <div id="apps-info">
      <h3>
        Phone Applications
      </h3>
      <p>
        Imagine having to buy a wifi card, visit a wifi hotspot, and sit through slow
        internet speeds just to download Facebook or Uber. Cue el Paquete Semenal.
        Cubans can get new apps for there phone without going through the tiresome process
        necessary to gain access to the internet.
      </p>
    </div>

    <!-- Music Info -->
    <div id="music-info">
      <h3>
        Music
      </h3>
      <p>
        Music is the most popular item in the packet. “Cubans love music," said Sergio, 31, a vendor
        of the packet. Many Cubans learn English through listening to songs from the United States
        and the UK. Businesses also use the packet. Walking in Havana, you can find many small cafes
        playing music videos on their television. Chances are you'll see a flashdrive plugged into
        the TV. If so, they got it from the packet.
      </p>
    </div>

    <!-- Series Info -->
    <div id="series-info">
      <h3>
        Series
      </h3>
      <p>
        There aren’t many television shows produced in Cuba, so the packet provides
        a good option for Cubans interested in TV series. They can follow shows like
        Girls and Game of Thrones just like people elsewhere. Shows also stream on
        television but because television is run by the government, many scenes that
        are considered sexual or go against the beliefs of the government, like interactions
        between LGBTQ characters, are cut out.
      </p>
    </div>

    <!-- Sports Info -->
    <div id="sports-info">
      <h3>
        Sports
      </h3>
      <p>
        A new packet is destributed to vendors each week with entirely different content from
        the week before. Cubans can stay up to date with sports by watching games right after
        they happen.
      </p>
    </div>

    <!-- YouTube Info -->
    <div id="tube-info">
      <h3>
        YouTube
      </h3>
      <p>
        Downloaded YouTube channels enable Cubans to stay in tune with a popular part of
        world culture: internet culture. When YouTube joined the packet,
        all of a sudden people were walking around Cuba wearing elaborate makeup that they learned from
        YouTube tutorials. The packet brings outside influences into the country.
      </p>
    </div>
  </div>
</div>

<script src="/js/finder.js"></script>
