  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <div class="finder-wrapper" id="finder">
  <div class="paquete-container">
  <div class="finder-window" id="finder-window-desktop">
    <div class="finder-header">
      <div class="window-controls">
        <div class="window-controls__close"></div>
        <div class="window-controls__minimize"></div>
        <div class="window-controls__maximize"></div>
      </div>
    </div>
    <div class="content-container">
      <div class="sidebar">
        <ul class="sidebar__list">
          <li class="sidebar__list-item sidebar__list-item--section">
            <span class="sidebar__list-name sidebar__list-name--section">Devices</span>
            <ul class="sidebar__sub-list">
              <li class="sidebar__list-item">

                <i class="fa-hdd-o fa icon" aria-hidden="true"></i>PKT (D:)
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="finder-main">
        <!-- categories -->
        <div class="category-container">
            <ul class="file-list">
              <li class="file-item parent" id="applications"><i class="fa fa-folder" aria-hidden="true"></i>Applications</li>
              <li class="file-item parent" id="music"><i class="fa fa-folder" aria-hidden="true"></i>Music</li>
              <li class="file-item parent" id="series"><i class="fa fa-folder" aria-hidden="true"></i>Series</li>
              <li class="file-item parent" id="sports"><i class="fa fa-folder" aria-hidden="true"></i>Weekly Sports</li>
              <li class="file-item parent" id="youtube"><i class="fa fa-folder" aria-hidden="true"></i>YouTube</li>

            </ul>
        </div>

        <!-- subcategories -->
        <div class="sub-container">
          <!-- Applications -->

          <ul class="file-list" id="sub-apps">
            <li class="file-item parent" id="android"><i class="fa fa-folder" aria-hidden="true"></i>Android Applications</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>iOS Applications</li>
          </ul>

          <!-- Music -->
          <ul class="file-list" id="sub-music">
            <li class="file-item parent" id="international"><i class="fa fa-folder" aria-hidden="true"></i>International Music</li>
            <li class="file-item parent" id="music-vids"><i class="fa fa-folder" aria-hidden="true"></i>Music Videos</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>CDs</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>National Music</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Unreleased Music</li>
          </ul>

          <!-- Series -->
          <ul class="file-list" id="sub-series">
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Bones</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Blackish</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Game of Thrones</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Girls</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Greys Anatomy</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Feud</li>
          </ul>

          <!-- Sports -->
          <ul class="file-list" id="sub-sport">
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Boxing</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Cubans in MLB</li>
            <li class="file-item parent" id="soccer"><i class="fa fa-folder" aria-hidden="true"></i>Soccer</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>MLB</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>NBA</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>UFC</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>WWE</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Moto GP</li>
          </ul>

          <!-- Youtube -->
          <ul class="file-list is-active" id="sub-tube">
            <li class="file-item parent" id="fashion"><i class="fa fa-folder" aria-hidden="true"></i>Fashion and Beauty</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Soccer Videos</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Skating Videos</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Gossip and Showbiz</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Animals</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Cooking</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Exercise</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Magic</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Technology</li>
          </ul>
        </div>


        <!-- subcategory files -->
        <div class="files-container">

          <!-- Applications -->
          <ul class="file-list is-active" id="files-apps">
            <li class="file-item">Four in a Row</li>
            <li class="file-item is-active">English-Spanish Dictionary</li>
            <li class="file-item">Screen Off and Lock</li>
            <li class="file-item">Assassins Creed</li>
            <li class="file-item">Minesweeper</li>
            <li class="file-item">Panorama</li>
          </ul>

          <!-- International Music -->
          <ul class="file-list is-active" id="files-music">
            <li class="file-item">Carnival</li>
            <li class="file-item is-active">Dance Vol.2</li>
            <li class="file-item">Dance Vol.3</li>
            <li class="file-item">Drake and Future</li>
            <li class="file-item">Drake and Future</li>
          </ul>

          <!-- Music Videos -->
          <ul class="file-list is-active" id="files-musicvids">
            <li class="file-item">Concierto</li>
            <li class="file-item is-active">Extended Para DJs</li>
            <li class="file-item">Hip Hop (Especial Lyon King)</li>
            <li class="file-item">Top Billboard</li>
            <li class="file-item">Chago</li>
          </ul>

          <!-- YouTube -->
          <ul class="file-list is-active" id="files-tube">
            <li class="file-item">Academia Anatassia</li>
            <li class="file-item is-active">Forever 21</li>
            <li class="file-item">For your Wedding</li>
            <li class="file-item">For Him</li>
            <li class="file-item">For Her</li>
          </ul>

          <!-- Sports -->
          <ul class="file-list is-active" id="files-sport">
            <li class="file-item">League (German)</li>
            <li class="file-item is-active">League (Spanish)</li>
            <li class="file-item">League (French)</li>
            <li class="file-item">League (English)</li>
            <li class="file-item">League (Italian)</li>
            <li class="file-item">UEFA (Champions League)</li>
            <li class="file-item">UEFA (Europe League)</li>
            <li class="file-item">Barcelona vs Deportivo La Coruña Fecha</li>
            <li class="file-item">League 1 - OGC Nice vs. SM</li>
          </ul>
        </div>




      </div>
    </div>
  </div>
  <div class="mobile finder-window" id="finder-window-mobile">
    <div class="finder-header">
      <div class="window-controls">
        <div class="window-controls__close"></div>
        <div class="window-controls__minimize"></div>
        <div class="window-controls__maximize"></div>
      </div>
    </div>
    <div class="mobile content-container">
      <div class="sidebar">
        <ul class="sidebar__list">
          <li class="sidebar__list-item sidebar__list-item--section">
            <span class="sidebar__list-name sidebar__list-name--section">Devices
              <span id="pkt-device"><i class="fa-hdd-o fa icon" aria-hidden="true"></i>
                PKT (D:)
              </span>
            </span>

          </li>
        </ul>
      </div>
      <div class="finder-main mobile">
        <!-- Applications -->
        <div class="mobile-toggle file-item parent" id="apps-mobile">
          <i class="fa fa-folder" aria-hidden="true"></i><span>Applications</span>
        </div>
        <!-- Sub Apps -->
        <div class="file-list" id="sub-apps-mobile">
          <li class="file-item parent" id="android-mobile"><i class="fa fa-folder" aria-hidden="true"></i>Android Applications</li>
          <!-- Files Apps -->
          <ul class="file-list" id="files-apps-mobile">
            <li class="file-item">Four in a Row</li>
            <li class="file-item">English-Spanish Dictionary</li>
            <li class="file-item">Screen Off and Lock</li>
            <li class="file-item">Assassins Creed</li>
            <li class="file-item">Minesweeper</li>
            <li class="file-item">Panorama</li>
          </ul>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>iOS Applications</li>
        </div>


        <!-- Music -->
        <div class="mobile-toggle file-item parent" id="music-mobile">
          <i class="fa fa-folder" aria-hidden="true"></i>Music
        </div>
        <!-- Sub Music -->
        <div class="file-list" id="sub-music-mobile">
          <ul class="file-list" id="sub-music">
            <li class="file-item parent" id="international-mobile"><i class="fa fa-folder" aria-hidden="true"></i>International Music</li>
            <!-- International Music -->
            <ul class="file-list" id="files-music-mobile">
              <li class="file-item">Carnival</li>
              <li class="file-item">Dance Vol.2</li>
              <li class="file-item">Dance Vol.3</li>
              <li class="file-item">Drake and Future</li>
              <li class="file-item">Drake and Future</li>
            </ul>

            <li class="file-item parent" id="music-vids-mobile"><i class="fa fa-folder" aria-hidden="true"></i>Music Videos</li>
            <!-- Music Videos -->
            <ul class="file-list" id="files-musicvids-mobile">
              <li class="file-item">Concierto</li>
              <li class="file-item">Extended Para DJs</li>
              <li class="file-item">Hip Hop (Especial Lyon King)</li>
              <li class="file-item">Top Billboard</li>
              <li class="file-item">Chago</li>
            </ul>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>CDs</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>National Music</li>
            <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Unreleased Music</li>
          </ul>
        </div>

        <!-- Series -->
        <div class="mobile-toggle file-item parent" id="series-mobile">
          <i class="fa fa-folder" aria-hidden="true"></i>Series
        </div>
        <!-- Series subcategories -->
        <div class="file-list" id="sub-series-mobile">
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Bones</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Blackish</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Game of Thrones</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Girls</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Greys Anatomy</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Feud</li>
        </div>



        <!-- Weekly Sports -->
        <div class="mobile-toggle file-item parent" id="sports-mobile">
          <i class="fa fa-folder" aria-hidden="true"></i>Weekly Sports
        </div>
        <!-- subcategories Sports -->
        <ul class="file-list" id="sub-sport-mobile">
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Boxing</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Cubans in MLB</li>
          <li class="file-item parent" id="soccer-mobile"><i class="fa fa-folder" aria-hidden="true"></i>Soccer</li>
          <!-- Files Sports -->
          <ul class="file-list" id="files-sport-mobile">
            <li class="file-item">League (German)</li>
            <li class="file-item">League (Spanish)</li>
            <li class="file-item">League (French)</li>
            <li class="file-item">League (English)</li>
            <li class="file-item">League (Italian)</li>
            <li class="file-item">UEFA (Champions League)</li>
            <li class="file-item">UEFA (Europe League)</li>
            <li class="file-item">Barcelona vs Deportivo La Coruña Fecha</li>
            <li class="file-item">League 1 - OGC Nice vs. SM</li>
          </ul>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>MLB</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>NBA</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>UFC</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>WWE</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Moto GP</li>
        </ul>

        <!-- Youtube -->
        <div class="mobile-toggle file-item parent" id="tube-mobile">
          <i class="fa fa-folder" aria-hidden="true"></i>YouTube
        </div>
        <!-- subcategories youtube -->
        <ul class="file-list" id="sub-tube-mobile">
          <li class="file-item parent" id="fashion-mobile"><i class="fa fa-folder" aria-hidden="true"></i>Fashion and Beauty</li>
          <!-- files youtube -->
          <ul class="file-list" id="files-tube-mobile">
            <li class="file-item">Academia Anatassia</li>
            <li class="file-item">Forever 21</li>
            <li class="file-item">For your Wedding</li>
            <li class="file-item">For Him</li>
            <li class="file-item">For Her</li>
          </ul>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Soccer Videos</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Skating Videos</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Gossip and Showbiz</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Animals</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Cooking</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Exercise</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Magic</li>
          <li class="file-item"><i class="green-fold fa fa-folder" aria-hidden="true"></i>Technology</li>
        </ul>

      </div>
    </div>
  </div> <!--end paquete-container-->

  <div class="info-window">
    <!-- Info Intro -->
    <div id="intro-info">
      <hr id="info-intro-bar"></hr>
      <p>
        Click on a folder to see what kind of content you can find in the packet.
      </p>
    </div>

    <!-- Applications Info -->
    <div id="apps-info">
      <h3>
        Phone Applications
      </h3>
      <p>
        Through the packet, Cubans can get new apps for there phone without going through the tiresome process
        necessary to gain access to the internet.
      </p>
    </div>

    <!-- Music Info -->
    <div id="music-info">
      <h3>
        Music
      </h3>
      <p>
        Music is the most popular item in the package. Many Cubans learn English through listening to songs from the United States
        and the UK that are only available through the package.
      </p>
    </div>

    <!-- Series Info -->
    <div id="series-info">
      <h3>
        Series
      </h3>
      <p>
        Cubans love watching TV series through the package since shows streamed
        on state TV are often edited to omit sexual and controversial content.
      </p>
    </div>

    <!-- Sports Info -->
    <div id="sports-info">
      <h3>
        Sports
      </h3>
      <p>
        A new package is distributed to vendors each week with entirely different content from
        the week before. Cubans can stay up to date with sports by watching games right after
        they happen.
      </p>
    </div>

    <!-- YouTube Info -->
    <div id="tube-info">
      <h3>
        YouTube
      </h3>
      <p>
        Downloaded YouTube channels enable Cubans to stay in tune with internet culture. When YouTube joined the package,
        people started walking around Cuba wearing elaborate makeup that they learned from
        YouTube tutorials. The packet brings outside influences into the country.
      </p>
    </div>
  </div>
</div>

</div>
<script src="js/jquery-3.2.0.min.js"></script>
<script src="js/finder.js"></script>
