<div class="interactive-wrapper">
  <div class="interactive-wrapper-intro">
  <h1 class="hiphop interactive">The Queens of Cuban Music</h5>
  <p id="hiphop-instructions">While non-traditional genres of music are emerging in Cuba, it is important to never forget the roots. The five women below have
  helped pave the way for current female artists in Cuba. <span id="mobile-instructions"><span id="desktop-instructions">Hover over</span></span> each woman's picture to learn more about the mark they left on music history.  </p>
</div>
<div id="hiphop-wrap">
  <div class="hiphop-panel">
    <div class="hiphop-card">
      <div class="hiphop-info" id="hiphop1">
        <img src="/assets/images/hiphop-gloria.png">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Aida Diestro</p>
        <p class="hiphop-year">1924 – 1973</p>
        <p class="hiphop-bio">A Cuban pianist who formed the famous vocal group Cuarteto d’Aida in 1952.
        This four-women quartet became one of the most famous groups of its day and regularly sang on the show El Show del Mediodía.
        </p>
        <a href="https://www.youtube.com/watch?v=yIGUI0wdsDs" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="hiphop-panel">
    <div class="hiphop-card">
      <div class="hiphop-info" id="hiphop2">
        <img src="/assets/images/hiphop-rosita.png">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Rosita Fornes</p>
        <p class="hiphop-year">1923 - Present</p>
        <p class="hiphop-bio">She made her stage debut after winning a Cuban talent show in 1938. Rosita appeared in two Cuban films and starred in several films during the Golden Age of Mexican Cinema. In the 50’s she toured in Latin America, Europe and the US. </p>
        <a href="https://www.youtube.com/watch?v=oS_vI9dXigI" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="hiphop-panel">
    <div class="hiphop-card">
      <div class="hiphop-info" id="hiphop3">
        <img src="/assets/images/hiphop-lupe.png">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Lupe Raymond</p>
        <p class="hiphop-year">1936 – 1992</p>
        <p class="hiphop-bio">“La Lupe” was the first Latin singer to perform at Carnegie Hall and Madison Square Garden in New York. Her success was the result of her performance style: scandalous, theatrical and eccentric. Today La Lupe is regarded as the “Queen of Latin Soul.”</p>
        <a href="https://www.youtube.com/watch?v=bv09TfcbEqE" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="hiphop-panel">
    <div class="hiphop-card">
      <div class="hiphop-info"  id="hiphop4">
        <img src="/assets/images/hiphop-celia.png">
      </div>
    <div class="hiphop-text">
      <p class="hiphop-name">Celia Cruz</p>
      <p class="hiphop-year">1925 – 2003</p>
      <p class="hiphop-bio">Her father wanted her to take the traditional female job of teaching. After dropping out of college she became the head of La Sonora Matancera. She won several Grammy awards, recorded over 75 albums and earned a star on Hollywood’s Walk of Fame.</p>
      <a href="https://www.youtube.com/watch?v=TxRWQHCSmUg" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</div>
  <div class="hiphop-panel">
    <div class="hiphop-card">
      <div class="hiphop-info"  id="hiphop5">
        <img src="/assets/images/hiphop-omara.png">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Lioba Maria Hevia</p>
        <p class="hiphop-year">1964 – Present</p>
        <p class="hiphop-bio">A singer and composer who has released several CDs of traditional Cuban music and has toured internationally.
        Her most famous project combined various Latin styles such as tango, son, and guajira into one record. </p>
        <a href="https://www.youtube.com/watch?v=TJwIelqKQYY" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>




<div id="hiphop-wrap-mobile">
  <button id="hiphop-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
  <button id="hiphop-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
  <ul id="hiphop-ul">
  <li class="hiphop-mobile-li">
  <div class="hiphop-panel">
    <div class="hiphop-card hiphop-card-mobile">
      <div class="hiphop-info"  id="hiphop1">
        <img src="/assets/images/hiphop-aida.jpg">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Aida Diestro</p>
        <p class="hiphop-year">1924 – 1973</p>
        <p class="hiphop-bio">A Cuban pianist who formed the famous vocal group Cuarteto d’Aida in 1952.
        This four-women quartet became one of the most famous groups of its day and regularly sang on the show El Show del Mediodía.
        </p>
        <a href="https://www.youtube.com/watch?v=yIGUI0wdsDs" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</li>
  <li class="hiphop-mobile-li">
  <div class="hiphop-panel">
    <div class="hiphop-card hiphop-card-mobile">
      <div class="hiphop-info" id="hiphop2">
        <img src="/assets/images/hiphop-rosita.jpg">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Rosita Fornes</p>
        <p class="hiphop-year">1923 - Present</p>
        <p class="hiphop-bio">She made her stage debut after winning a Cuban talent show in 1938. Rosita appeared in two Cuban films and starred in several films during the Golden Age of Mexican Cinema. In the 50’s she toured in Latin America, Europe and the US. </p>
        <a href="https://www.youtube.com/watch?v=oS_vI9dXigI" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</li>
  <li class="hiphop-mobile-li">
  <div class="hiphop-panel">
    <div class="hiphop-card hiphop-card-mobile">
      <div class="hiphop-info" id="hiphop3">
        <img src="/assets/images/hiphop-lupe.jpg">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Lupe Raymond</p>
        <p class="hiphop-year">1936 – 1992</p>
        <p class="hiphop-bio">“La Lupe” was the first Latin singer to perform at Carnegie Hall and Madison Square Garden in New York. Her success was the result of her performance style: scandalous, theatrical and eccentric. Today La Lupe is regarded as the “Queen of Latin Soul.”</p>
        <a href="https://www.youtube.com/watch?v=bv09TfcbEqE" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</li>
  <li class="hiphop-mobile-li">
  <div class="hiphop-panel">
    <div class="hiphop-card hiphop-card-mobile">
      <div class="hiphop-info" id="hiphop4">
        <img src="/assets/images/interactive/IMG_5705.jpg">
      </div>
    <div class="hiphop-text">
      <p class="hiphop-name">Celia Cruz</p>
      <p class="hiphop-year">1925 – 2003</p>
      <p class="hiphop-bio">Her father wanted her to take the traditional female job of teaching. After dropping out of college she became the head of La Sonora Matancera. She won several Grammy awards, recorded over 75 albums and earned a star on Hollywood’s Walk of Fame.</p>
      <a href="https://www.youtube.com/watch?v=TxRWQHCSmUg" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
</div>
</li>
<li class="hiphop-mobile-li">
  <div class="hiphop-panel">
    <div class="hiphop-card hiphop-card-mobile">
      <div class="hiphop-info"  id="hiphop5">
        <img src="/assets/images/hiphop-liuba.jpg">
      </div>
      <div class="hiphop-text">
        <p class="hiphop-name">Lioba Maria Hevia</p>
        <p class="hiphop-year">1964 – Present</p>
        <p class="hiphop-bio">A singer and composer who has released several CDs of traditional Cuban music and has toured internationally.
        Her most famous project combined various Latin styles such as tango, son, and guajira into one record. </p>
        <a href="https://www.youtube.com/watch?v=TJwIelqKQYY" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</li>
</ul>
</div>




</div>

<script src="/js/hiphop.js"></script>
