<div id="custom-slider">
  <button id="slider-right"> > </button>
  <button id="slider-left"> < </button>
  <ul id="slider-ul">
    <li class="slider-section"><div>
    1

    </div></li>
    <li class="slider-section"><div>
    2
    </div></li>
    <li class="slider-section"><div>
    3

    </div></li>
    <li class="slider-section"><div>
    4

    </div></li>
  </ul>
</div>

<script src="/js/slider.js"></script>

<div id="hiphop-wrap">
  <div class="hiphop-panel" id="hiphop1">
    <div class="hiphop-card">
      <div class="hiphop-info">
        <img src="/assets/images/interactive/IMG_1230.png">
      </div>
      <div class="hiphop-text">
        <p>Aida Diestro</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
        <audio id="audio0">
          <source src="/assets/audio/audio0.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button class="fa fa-play" onclick="document.getElementById('audio0').play()">Play</button>
        <button  class="fa fa-pause" onclick="document.getElementById('audio0').pause()">Pause</button>
      </div>
    </div>
  </div>
  <div class="hiphop-panel" id="hiphop2">
    <div class="hiphop-card">
      <div class="hiphop-info">
        <img src="/assets/images/interactive/IMG_5703.jpg">
      </div>
      <div class="hiphop-text">
        <p>Isadora Carillo</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
        <audio id="audio1">
          <source src="/assets/audio/audio1.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button class="fa fa-play" onclick="document.getElementById('audio1').play()">Play</button>
        <button  class="fa fa-pause" onclick="document.getElementById('audio1').pause()">Pause</button>
      </div>
    </div>
  </div>
  <div class="hiphop-panel" id="hiphop3">
    <div class="hiphop-card">
      <div class="hiphop-info">
        <img src="/assets/images/interactive/IMG_1230.png">
      </div>
      <div class="hiphop-text">
        <p>Rosita Fornes</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
        <audio id="audio2">
          <source src="/assets/audio/audio2.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button class="fa fa-play" onclick="document.getElementById('audio2').play()">Play</button>
        <button  class="fa fa-pause" onclick="document.getElementById('audio2').pause()">Pause</button>
      </div>
    </div>
  </div>
  <div class="hiphop-panel" id="hiphop4">
    <div class="hiphop-card">
      <div class="hiphop-info">
        <img src="/assets/images/interactive/IMG_5705.jpg">
      </div>
    <div class="hiphop-text">
      <p>Laura Manzanarez</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
      <audio id="audio3">
        <source src="/assets/audio/audio4.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <button class="fa fa-play" onclick="document.getElementById('audio3').play()">Play</button>
      <button  class="fa fa-pause" onclick="document.getElementById('audio3').pause()">Pause</button>
    </div>
  </div>
</div>
  <div class="hiphop-panel" id="hiphop5">
    <div class="hiphop-card">
      <div class="hiphop-info">
        <img src="/assets/images/interactive/IMG_5703.jpg">
      </div>
      <div class="hiphop-text">
        <p>Lioba Maria Hevia</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
        <audio id="audio4">
          <source src="/assets/audio/audio4.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <button class="fa fa-play" onclick="document.getElementById('audio4').play()">Play</button>
        <button  class="fa fa-pause" onclick="document.getElementById('audio4').pause()">Pause</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/hiphop.js"></script>
