<div class="internet-graphic center-wrapper">

<div class="center-wrapper dropdown-cont">
    <select id="country-dropdown">
      <% for (i in internet) { %>
      <option><%= internet[i].country %></option>
      <% } %>
    </select>
</div>

<div class="center-wrapper title-cont" style="justify-content:space-between;padding:0 20vw 0 20vw;">


</div>

    <div class="people-cont">
      <div>
      <h3>Cuba</h3>
      <div class="country-cont" id="cuba"></div>
    </div>
    <div>
      <div id="other-country-title"><h3>United States</h3></div>
      <div class="country-cont" id="other-country"></div>
    </div>

  </div>

</div> <!-- .internet-graphic -->
