<div class="internet-graphic center-wrapper">
  <div class="interactive-wrapper">

    <div class="interactive-wrapper-intro">
  		<h1 class="dorian interactive">Internet Disconnected</h1>
  		<h2 class="dorian interactive">Few people have access to reliable internet in Cuba.</h2>
  		<p>For most countries, the internet expands communication possibilities — but in Cuba, regular internet connectivity is not a reality. This affects not only a business' ability to reach their customers, but a citizen's ability to access information networks. The graphic below shows the number of people out of 100 who have access to internet at home. In the United States, about 75 out of 100 people have access to the internet at home. In Cuba, only about 31 do. Use the graphic below to explore how Cuba compares to other Latin American countries and the U.S.</p>
  	</div>



<div class="center-wrapper title-cont" style="justify-content:space-between;padding:0 20vw 0 20vw;">


</div>

    <div class="people-cont">
      <div>
        <div id="cuba-title"><h3>Cuba</h3></div>
      <div class="country-cont" id="cuba"></div>
    </div>
    <div>
      <div class="center-wrapper dropdown-cont">
          <select id="country-dropdown">
            <% for (i in internet) { %>
              <% if (internet[i].country !== "Cuba") { %>
            <option><%= internet[i].country %></option>
            <%  } } %>
          </select>
      </div>
      <div id="other-country-title"></div>

      <div class="country-cont" id="other-country"></div>
    </div>

  </div>

</div><!-- .interactive-wrapper -->

</div> <!-- .internet-graphic -->
