<div id="money-slider">

<div class="interactive-wrapper">

  <div class="interactive-wrapper-intro">
  <h1 class="harbor interactive">One nation, two currencies</h1>

  <p>The Central Bank of Cuba issues two separate currencies, each with its own values, designs and uses. Convertible pesos, known by Cubans as CUCs (“kooks”) are pegged 1:1 with the American dollar. When tourists come to Cuba they exchange their foreign currency for CUCs. Cuban pesos, or moneda nacional (national currrency) are used most often by ordinary Cubans because they receive government salaries in this form. Roughly 24 pesos (moneda nacional) equals 1 CUC.</p>

  <p>Because CUCs are a higher value currency, tourists tend to pay a comparatively higher price for goods and services during their stays in Cuba. Use the slider below to compare the prices paid by tourists and locals for common goods and services.</p>

  </div>

<div id="custom-slider">

<button id="slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
<button id="slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

    <ul class="money-slider" id="slider-ul">

            <li class="slider-section">
                    <div class="money-slider-section">
                      <div class="money-left">
                        <h3>Cubans Pay</h3>
                        <p>12 CUP</p><hr><p>$0.50</p>
                      </div>
                      <div class="money-center harbor interactive">
                        <h2>Bottle of Water</h2>
                        <img src="assets/images/cubaWater.png" alt="Bottle of Water">
                      </div>
                      <div class="money-right">
                        <h3>Tourists Pay</h3>
                        <p>1-2 CUC</p><hr><p>$1-2</p>
                      </div>
                    </div>
            </li>

            <li class="slider-section">
              <div class="money-slider-section">
                <div class="money-left">
                  <h3>Cubans Pay</h3>
                  <p>1 CUP</p><hr><p>$0.04</p>
                </div>
                <div class="money-center harbor interactive">
                  <h2>Cup of Coffee</h2>
                  <img src="assets/images/cubaCoffee.png" alt="Cup of Coffee">
                </div>
                <div class="money-right">
                  <h3>Tourists Pay</h3>
                  <p>1.50 CUC</p><hr><p>$1.50</p>
                </div>
              </div>
            </li>

            <li class="slider-section">
              <div class="money-slider-section">
                <div class="money-left">
                  <h3>Cubans Pay</h3>
                  <p>10 CUP</p><hr><p>$0.42</p>
                </div>
                <div class="money-center harbor interactive">
                  <h2>15-minute Taxi Ride</h2>
                  <img src="assets/images/cubaTaxi.png" alt="Taxi">
                </div>
                <div class="money-right">
                  <h3>Tourists Pay</h3>
                  <p>5-10 CUC</p><hr><p>$5-10</p>
                </div>
              </div>
            </li>

            <li class="slider-section">
               <div class="money-slider-section">
                <div class="money-left">
                    <h3>Cubans Pay</h3>
                    <p>6 CUP</p><hr><p>$0.25</p>
                  </div>
                  <div class="money-center harbor interactive">
                    <h2>Bar of Soap</h2>
                    <img src="assets/images/cubaSoap.png" alt="Taxi">
                  </div>
                  <div class="money-right">
                    <h3>Tourists Pay</h3>
                    <p>1 CUC</p><hr><p>$1</p>
                  </div>
             </div>
          </li>
    </ul>



</div>
</div>
</div>
<script src="/js/slider.js"></script>
