<div class="interactive-wrapper">
<div id="custom-slider">



<button id="slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
<button id="slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

    <ul class="money-slider" id="slider-ul">

            <li class="slider-section">
                    <div class="money-slider-section">
                      <div class="money-left">
                        <h3>Cubans Pay</h3>
                        <p>12 CUP</p><hr><p>$0.50</p>
                      </div>
                      <div class="money-center">
                        <h2>Bottle of Water</h2>
                        <img src="assets/images/cubaWater.png" alt="Bottle of Water">
                      </div>
                      <div class="money-right">
                        <h3>Tourists Pay</h3>
                        <p>1-2 CUC</p><hr><p>$1-2</p>
                      </div>
                    </div>
            </li>

            <li class="slider-section">
              <div class="money-slider-section">
                <div class="money-left">
                  <h3>Cubans Pay</h3>
                  <p>1 CUP</p><hr><p>$0.04</p>
                </div>
                <div class="money-center">
                  <h2>Cup of Coffee</h2>
                  <img src="assets/images/cubaCoffee.png" alt="Cup of Coffee">
                </div>
                <div class="money-right">
                  <h3>Tourists Pay</h3>
                  <p>1.50 CUC</p><hr><p>$1.50</p>
                </div>
              </div>
            </li>

            <li class="slider-section">
              <div class="money-slider-section">
                <div class="money-left">
                  <h3>Cubans Pay</h3>
                  <p>10 CUP</p><hr><p>$0.42</p>
                </div>
                <div class="money-center">
                  <h2>15-minute Taxi Ride</h2>
                  <img src="assets/images/cubaTaxi.png" alt="Taxi">
                </div>
                <div class="money-right">
                  <h3>Tourists Pay</h3>
                  <p>5-10 CUC</p><hr><p>$5-10</p>
                </div>
              </div>
            </li>

            <li class="slider-section">
               <div class="money-slider-section">
                <div class="money-left">
                    <h3>Cubans Pay</h3>
                    <p>6 CUP</p><hr><p>$0.25</p>
                  </div>
                  <div class="money-center">
                    <h2>Bar of Soap</h2>
                    <img src="assets/images/cubaSoap.png" alt="Taxi">
                  </div>
                  <div class="money-right">
                    <h3>Tourists Pay</h3>
                    <p>1 CUC</p><hr><p>$1</p>
                  </div>
             </div>
          </li>
    </ul>



</div>
</div>
<script src="/js/slider.js"></script>
