<div id="moneyslider">

<div class="interactive-wrapper">

  <div class="interactive-wrapper-intro">
  <h1 class="harbor interactive">One nation, two currencies</h1>

  <p>El Banco Central de Cuba expide dos monedas distintas y separadas, cada una con sus propios valores, diseños y usos. Pesos convertibles, CUCs, tienen un valor fijado al valor del dólar estadounidense. Cuando los turistas llegan a Cuba cambian su moneda por CUCs. Pesos cubanos, o moneda nacional, son más comunes en el uso cotidiano del cubano típico. Veinticuatro pesos son iguales a un CUC.</p>

  <p>Use el deslizador para comparar los precios desiguales pagados por los turistas y los residentes de la Habana.</p>

  </div>

<div id="money-slider-wrapper">

<button id="money-slider-left-button"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
<button id="money-slider-right-button"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

    <ul class="money-slider" id="money-slider-ul">

            <li class="money-slider-li">
                    <div class="money-slider-section">
                      <div class="money-left">
                        <h3>Cubanos pagan</h3>
                        <p>12 CUP</p><hr><p>$0.50</p>
                      </div>
                      <div class="money-center harbor interactive">
                        <h2>Botella de agua</h2>
                        <img src="assets/images/cubaWater.png" alt="Bottle of Water">
                      </div>
                      <div class="money-right">
                        <h3>Turistas pagan</h3>
                        <p>1-2 CUC</p><hr><p>$1-2</p>
                      </div>
                    </div>
            </li>

            <li class="money-slider-li">
              <div class="money-slider-section">
                <div class="money-left">
                  <h3>Cubanos pagan</h3>
                  <p>1 CUP</p><hr><p>$0.04</p>
                </div>
                <div class="money-center harbor interactive">
                  <h2>Un café</h2>
                  <img src="assets/images/cubaCoffee.png" alt="Cup of Coffee">
                </div>
                <div class="money-right">
                  <h3>Turistas pagan</h3>
                  <p>1.50 CUC</p><hr><p>$1.50</p>
                </div>
              </div>
            </li>

            <li class="money-slider-li">
              <div class="money-slider-section">
                <div class="money-left">
                  <h3>Cubanos pagan</h3>
                  <p>10 CUP</p><hr><p>$0.42</p>
                </div>
                <div class="money-center harbor interactive">
                  <h2>Taxi</h2>
                  <img src="assets/images/cubaTaxi.png" alt="Taxi">
                </div>
                <div class="money-right">
                  <h3>Turistas pagan</h3>
                  <p>5-10 CUC</p><hr><p>$5-10</p>
                </div>
              </div>
            </li>

            <li class="money-slider-li">
               <div class="money-slider-section">
                <div class="money-left">
                    <h3>Cubanos pagan</h3>
                    <p>6 CUP</p><hr><p>$0.25</p>
                  </div>
                  <div class="money-center harbor interactive">
                    <h2>Jabón</h2>
                    <img src="assets/images/cubaSoap.png" alt="Taxi">
                  </div>
                  <div class="money-right">
                    <h3>Turistas pagan</h3>
                    <p>1 CUC</p><hr><p>$1</p>
                  </div>
             </div>
          </li>
    </ul>



</div>
</div>
</div>
<script src="/js/moneyslider.js"></script>
