<div class="bgimg bgimg-1">
  <div class="caption">
     <span class="border">EL PAQUETE SEMANAL</span>
  </div>
</div>


<div class="bg-1">
  <p>Subtitle here. Something about el paquete, and what this interactive is about. People talking about el paquete. Yeet!</p>
</div>


<div class="bgimg bgimg-2">
  <div class="other-caption" id="luis">
     <div class="other-border">"The day before yesterday I was watching Game of Thrones at work. My job is security and protection at a kindergarten from 6PM to 6AM. [...] It's an opportunity to see programs that aren't on Cuban television." - Luis Miguel  Yllobre  Peña, 23</div>
  </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p>"The day before yesterday I was watching Game of Thrones at work. My job is security and protection at a kindergarten from 6PM to 6AM. [...] It's an opportunity to see programs that aren't on Cuban television." - Luis Miguel  Yllobre  Peña, 23</p>
 </div>
</div>


<div class="bgimg bgimg-3">
  <div class="other-caption">
     <div class="other-border">"I'm a Discovery fanatic. I also like documentaries." -Madam Garcias Rodriguez</div>
  </div>
</div>

 <div class="scrolling">
  <div class="bg">
    <p>"I'm a Discovery fanatic. I also like documentaries." -Madam Garcias Rodriguez</p>
  </div>
</div>


<div class="bgimg bgimg-9">
  <div class="other-caption">
     <div class="other-border">"I love el paquete because it's all that I have. I don't have internet. I like shows from the United States and England." -Sergio, 30
     </div>
  </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p>"I love el paquete because it's all that I have. I don't have internet. I like shows from the United States and England." -Sergio, 30</p>
 </div>
</div>




<div class="bgimg bgimg-4">
  <div class="other-caption">
     <div class="other-border">"I like movies a lot because you're going to see a lot of premiere movies. You can find the movies that are nominated for the Oscars. Also I like the music and the music videos a lot. I love the <em>interestantes variados</em> folder because it has YouTube channels of different things." - Gabriella Otaño</div>
  </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p>"I like movies a lot because you're going to see a lot of premiere movies. You can find the movies that are nominated for the Oscars. Also I like the music and the music videos a lot. I love the <em>interestantes variados</em> folder because it has YouTube channels of different things." - Gabriella Otaño</p>
 </div>
</div>



<div class="bgimg bgimg-5">
  <div class="other-caption">
     <div class="other-border">"My favorite thing is movies or music because I'm a musician. I like music, videos, films. My mother is crazy about films, just like me. My nephew is crazy about cartoons. El paquete shows us what the Cuban media doesn't show us. In general, I think it's suitable for the Cuban people. It's a way to be out of the same thing." -Alejandro Benitez Mesa, 34
     </div>
  </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p>"My favorite thing is movies or music because I'm a musician. I like music, videos, films. My mother is crazy about films, just like me. My nephew is crazy about cartoons. El paquete shows us what the Cuban media doesn't show us. In general, I think it's suitable for the Cuban people. It's a way to be out of the same thing." -Alejandro Benitez Mesa, 34</p>
 </div>
</div>

<div class="bgimg bgimg-6">
  <div class="other-caption">
     <div class="other-border"> “I don’t use it, but I can get it from my friends.” -Donna Facchetti, 18
     </div>
   </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p>“I don’t use it, but I can get it from my friends.” -Donna Facchetti, 18</p>
 </div>
</div>

<div class="bgimg bgimg-7">
  <div class="other-caption">
     <div class="other-border"> “My whole family uses it once a week” -Marcos, 19
     </div>
   </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p>“My whole family uses it once a week” -Marcos, 19</p>
 </div>
</div>

<div class="bgimg bgimg-8">
  <div class="other-caption">
     <div class="other-border"> “I used to use the packet, but then I gave my laptop to my brother.” - Cristian, 17
     </div>
   </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p>“I used to use the packet, but then I gave my laptop to my brother.” - Cristian, 17</p>
 </div>
</div>
