<div class="interactive-wrapper paquete-wrapper">
  <div class="interactive-wrapper-intro">
    <h1 class="interactive skate">el paquete semanal</h1>
    <h2 class="interactive skate">Explorar lo que hay en el terabyte de contenido distribuido a los cubanos cada semana.</h2>
    <p>
      Hay muchas cubanos quien usan el paquete para abren su mundo. Explorar lo que está disponible por hacer clic en las carpetas abajo, y leer lo que la gente de Cuba tienen que decir sobre el paquete conocido.
    </p>

        <% include ../interactives/finderEspanol.ejs %>



    <div class="paquete">



      <div class="bgimg bgimg-1">
        <div class="other-caption">

           <div class="other-border"><hr />
             "Me gustan mucho las películas porque vas a ver muchas películas de estreno, puedes encontrar las películas que están nominadas para los Oscar, también me gustan mucho la música y los videos musicales. Me gusta mucho la carpeta interesantes variados porque tiene canales de YouTube de cosas diferentes".
              <br  /> <br /> Gabriella Otaño</div>
        </div>
      </div>

      <div class="scrolling">
       <div class="bg">
         <p><hr />"Me gustan mucho las películas porque vas a ver muchas películas de estreno, puedes encontrar las películas que están nominadas para los Oscar, también me gustan mucho la música y los videos musicales. Me gusta mucho la carpeta interesantes variados porque tiene canales de YouTube de cosas diferentes". <br  /> <br /> Gabriella Otaño</p>
       </div>
      </div>

    <div class="bgimg bgimg-2">
      <div class="other-caption luis" id="right-caption">
         <div class="other-border"><hr> "Antes de ayer estaba viendo a Game of Thrones en el trabajo. Mi trabajo es la seguridad y la protección en un jardín de infantes de 6PM a 6AM. [...] Es una oportunidad para ver programas que no están en la televisión cubana". <br  /> <br />Luis Miguel  Yllobre  Peña, 23</div>
      </div>
    </div>

    <div class="scrolling">
     <div class="bg">
       <p><hr />"Antes de ayer estaba viendo a Game of Thrones en el trabajo. Mi trabajo es la seguridad y la protección en un jardín de infantes de 6PM a 6AM. [...] Es una oportunidad para ver programas que no están en la televisión cubana".<br /> <br  />  Luis Miguel  Yllobre  Peña, 23</p>
     </div>
    </div>


    <div class="bgimg bgimg-3">
      <div class="other-caption">
         <div class="other-border"><hr />"Soy una fanática de Discovery, también me gustan los documentales". <br  /> <br /> Madam Garcias Rodriguez</div>
      </div>
    </div>

     <div class="scrolling">
      <div class="bg">
        <p><hr />"Soy una fanática de Discovery, también me gustan los documentales". <br /><br  />Madam Garcias Rodriguez</p>
      </div>
    </div>


    <div class="bgimg bgimg-4">
      <div class="other-caption">
         <div class="other-border"><hr />"Me encanta el paquete porque es todo lo que tengo. No tengo internet. Me gustan los espectáculos de Estados Unidos e Inglaterra".
            <br  /> <br /> Sergio, 30
         </div>
      </div>
    </div>

    <div class="scrolling">
     <div class="bg">
       <p><hr />"Me encanta el paquete porque es todo lo que tengo. No tengo internet. Me gustan los espectáculos de Estados Unidos e Inglaterra".  <br /><br  /> Sergio, 30</p>
     </div>
    </div>


    <div class="bgimg bgimg-5">
      <div class="other-caption">
         <div class="other-border" id="alex"><p>
           <hr />"Mi cosa favorita son las películas o la música porque soy músico. Me gusta la música, los videos, las películas. Mi madre está loca por las películas, igual que yo. Mi sobrino está loco por las caricaturas. El paquete nos muestra lo que los medios de comunicación cubanos no nos muestre". <br  /> <br /> Alejandro Benitez Mesa, 34</p>
         </div>
      </div>
    </div>

    <div class="scrolling">
     <div class="bg">
       <p><hr />"Mi cosa favorita son las películas o la música porque soy músico. Me gusta la música, los videos, las películas. Mi madre está loca por las películas, igual que yo. Mi sobrino está loco por las caricaturas. El paquete nos muestra lo que los medios de comunicación cubanos no nos muestre". <br  /> <br />Alejandro Benitez Mesa, 34</p>
     </div>
    </div>


    </div> <!--paquete-->

    </div> <!--paquete wrapper-->


    <!-- <div class="expand-collapse interactive skate"><i class='fa fa-chevron-down'></i> Read more.</div> -->




      </div>
