<div class="interactive-wrapper paquete-wrapper">
  <div class="interactive-wrapper-intro">
    <h1 class="interactive skate">El Paquete Semanal</h1>
    <p>
      El paquete semanal, or the weekly package, is used by people all over Cuba. Click on the link below to read what the people of Cuba have to say about the infamous package.
    </p>

    <div class="expand-collapse interactive skate"><i class='fa fa-chevron-down'></i> Read about the package.</div>
  </div>


<div class="paquete">

  <div class="bgimg bgimg-1">
    <div class="other-caption">
       <div class="other-border"><hr />"I like movies a lot because you're going to see a lot of premiere movies. You can find the movies that are nominated for the Oscars. Also I like the music and the music videos a lot. I love the <em>interestantes variados</em> folder because it has YouTube channels of different things." <br  /> <br /> Gabriella Otaño</div>
    </div>
  </div>

  <div class="scrolling">
   <div class="bg">
     <p><hr />"I like movies a lot because you're going to see a lot of premiere movies. You can find the movies that are nominated for the Oscars. Also I like the music and the music videos a lot. I love the <em>interestantes variados</em> folder because it has YouTube channels of different things." <br  /> <br /> Gabriella Otaño</p>
   </div>
  </div>

<div class="bgimg bgimg-2">
  <div class="other-caption luis" id="right-caption">
     <div class="other-border"><hr> "The day before yesterday I was watching Game of Thrones at work. My job is security and protection at a kindergarten from 6PM to 6AM. [...] It's an opportunity to see programs that aren't on Cuban television." <br  /> <br />Luis Miguel  Yllobre  Peña, 23</div>
  </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p><hr />"The day before yesterday I was watching Game of Thrones at work. My job is security and protection at a kindergarten from 6PM to 6AM. [...] It's an opportunity to see programs that aren't on Cuban television."<br /> <br  />  Luis Miguel  Yllobre  Peña, 23</p>
 </div>
</div>


<div class="bgimg bgimg-3">
  <div class="other-caption">
     <div class="other-border"><hr />"I'm a Discovery fanatic. I also like documentaries." <br  /> <br /> Madam Garcias Rodriguez</div>
  </div>
</div>

 <div class="scrolling">
  <div class="bg">
    <p><hr />"I'm a Discovery fanatic. I also like documentaries." <br /><br  />Madam Garcias Rodriguez</p>
  </div>
</div>


<div class="bgimg bgimg-4">
  <div class="other-caption">
     <div class="other-border"><hr />"I love el paquete because it's all that I have. I don't have internet. I like shows from the United States and England." <br  /> <br /> Sergio, 30
     </div>
  </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p><hr />"I love el paquete because it's all that I have. I don't have internet. I like shows from the United States and England."  <br /><br  /> Sergio, 30</p>
 </div>
</div>


<div class="bgimg bgimg-5">
  <div class="other-caption">
     <div class="other-border"><p>
       <hr />"My favorite thing is movies or music because I'm a musician. I like music, videos, films. My mother is crazy about films, just like me. My nephew is crazy about cartoons. El paquete shows us what the Cuban media doesn't show us. In general, I think it's suitable for the Cuban people. It's a way to be out of the same thing." <br  /> <br /> Alejandro Benitez Mesa, 34</p>
     </div>
  </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p><hr />"My favorite thing is movies or music because I'm a musician. I like music, videos, films. My mother is crazy about films, just like me. My nephew is crazy about cartoons. El paquete shows us what the Cuban media doesn't show us. In general, I think it's suitable for the Cuban people. It's a way to be out of the same thing." <br  /> <br />Alejandro Benitez Mesa, 34</p>
 </div>
</div>


<div class="bgimg bgimg-6">
  <div class="other-caption">
     <div class="other-border"> <hr /> “My whole family uses it once a week” <br  /> <br /> Marcos, 19
     </div>
   </div>
</div>

<div class="scrolling">
 <div class="bg">
   <p> <hr /> “My whole family uses it once a week” <br  /> <br />Marcos, 19</p>
 </div>
</div>

</div> <!--paquete-->

</div> <!--paquete wrapper-->

<script type="text/javascript">
$(document).ready(function(){
  $(".paquete").hide();
  $(".expand-collapse").click(function(){
    $(".paquete").toggle();
    $(this).html(function(i, v) {
  return v === '<i class="fa fa-chevron-up"></i> Read less' ? '<i class="fa fa-chevron-down"></i> Read more' : '<i class="fa fa-chevron-up"></i> Read less'
})
  });
});


</script>
