

<div class="interactive-wrapper" id="timeline-1">
<div class="interactive-wrapper-intro">
    <h1 class="family interactive"> La vida en panorama</h1>
    <p style="text-align:center;">Cómo las vidas de Coralia y Diego siguen la historia de Cuba</p>
    <img src="/assets/images/timeline_horizontal.svg">
    <div class="expand-collapse family interactive spanish-collapse shown"><i class='fa fa-chevron-down'></i> ver detalles</div>

</div>
  <div class="timeline">
    <div class="timeline-item" data-text="Cuba gana la independencia">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-01.svg"/>
        <h2 class="timeline__content-title" data-text="Cuba gains independence">1902</h2>
        <p class="timeline__content-desc"> Cuba llega a ser independiente cuando Tomás Estrada Palma es jurado como el presidente del país. Sin embargo, los estados unidos mantiene la protección de Cuba y retiene el derecho a intervenir con los asuntos cubanos debido a la Enmienda Platt.

        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="EE. UU. retrocede">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-02.svg"/>
        <h2 class="timeline__content-title" data-text="EE. UU. retrocede">1934</h2>
        <p class="timeline__content-desc">Los estados unidos abandonan su derecho a intervenir en los asuntos internos en el Tratado de Relaciones Cubano-Americano sobre preocupación que la Enmienda Platt violó la soberanía de Cuba.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="El nacimiento de una matriarca">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-03.svg"/>
        <h2 class="timeline__content-title" data-text="El nacimiento de una matriarca">1936</h2>
        <p class="timeline__content-desc">En 21 de agosto, 1936, Coralia Ortiz — ahora la matriarca de su familia — nació. </p>
      </div>
    </div>
    <div class="timeline-item" data-text="La revolución triunfó">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-04.svg"/>
        <h2 class="timeline__content-title" data-text="La revolución triunfó">1959</h2>
        <p class="timeline__content-desc">Fidel Castro obliga al presidente cubano anterior, Fulgencio Batista huir de La Habana con un ejército guerrillero de 9.000. Castro llega a ser el primer ministro de su país, colocando a su hermano, como diputado y Che Guevara como su tercer en comando.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="Una aventura del extranjero">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-05.svg"/>
        <h2 class="timeline__content-title" data-text="Una aventura del extranjero">1960</h2>
        <p class="timeline__content-desc">Coralia empezó estudiar la filosofía y la literatura en la universidad en 1955, pero tuvo que dejar para tres años porque la universidad cerró durante la revolución. Cuando la universidad abrió otra vez, Coralia le conceden una beca para que estudiar un año en la Universidad de Carolina del Norte en Chapel Hill</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Crisis de los misiles cubanos">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-06.svg"/>
        <h2 class="timeline__content-title" data-text="Crisis de los misiles cubanos">1962</h2>
        <p class="timeline__content-desc">Temeroso de una invasión de EE. UU., Castro permite la unión soviética desplegar misiles nucleares en la isla. El resultado fue un conflicto de la Guerra Fría que duró 13 días. Y mientras los EE. UU. y URSS resolvieron finalmente el conflicto con un acuerdo mover los misiles americanos fuera de Turquía, el punto muerto inició otra vez una escisión en las relaciones de Cuba y los Estados Unidos.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="Nuevos comienzos">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-07.svg"/>
        <h2 class="timeline__content-title" data-text="Nuevos comienzos">1963</h2>
        <p class="timeline__content-desc">Coralia comienza enseñar la literatura secundaria poco después de graduarse de la universidad. Eso mismo año, ella se va a una conferencia de arquitectura a servir como una traductor de Húngaro. Allí se encontró su esposo, quien estaba traduciendo Inglés. Los dos se casaron un año después.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Un imperio astillando">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-08.svg"/>
        <h2 class="timeline__content-title" data-text="Un imperio astillando">1991</h2>
        <p class="timeline__content-desc">
        La URSS se derrumba, que apunta oficiales soviéticos salir de Cuba. Cuba se entró un período de grave recesión económica y hambruna, que se ha conocido como el “Período Especial”.
        </p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="Cerrando los libros de enseñar">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-09.svg"/>
        <h2 class="timeline__content-title" data-text="Cerrando los libros de enseñar">1992</h2>
        <p class="timeline__content-desc">Después de 35 años enseñando la literatura secundaria, Coralia se jubila. Un año antes, en 23 de Mayo, 1991, su nieto nace. Se llama Diego Delgado.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Raúl toma controla">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-10.svg"/>
        <h2 class="timeline__content-title" data-text="Raúl toma controla">2006</h2>
        <p class="timeline__content-desc">Fidel Castro se somete a una cirugía gástrica y entrega el gobierno temporalmente a su hermano, Raúl.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="Un cambio de aspiración">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-11.svg"/>
        <h2 class="timeline__content-title" data-text="Un cambio de aspiración">2010</h2>
        <p class="timeline__content-desc">
          Cuando Diego tenía 19 años se gradúa de escuela técnica después de estudiando a llega a ser un veterinario, decidió seguir otra ruta de carrera. Regresa a la escuela en Academia de Arte y Fotografía Cabrales del Valle para aprender más de su pasión: la fotografía.
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Salvar la relación">

      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-12.svg"/>
        <h2 class="timeline__content-title"  data-text="Salvar la relación">2016</h2>
        <p class="timeline__content-desc">El presidente de EE. UU. Barack Obama y el Presidente de Cuba Raúl Castro anuncian los planes normalizar las relaciones diplomáticas entre los dos países después de más de 50 años de distancia.
        </p>
      </div>
    </div>
  </div>
  <p class="attribution-hiphop">FUENTE: BBC Cuba Profile - Timeline, Wikipedia</p>

</div>

<script type="text/javascript" src="js/timeline.js"></script>
