

<div class="interactive-wrapper" id="timeline-1">
<div class="interactive-wrapper-intro">
    <h1 class="family interactive"> Life in the Big Picture</h1>
    <p style="text-align:center;">How Coralia and Diego’s lives align with Cuban history</p>
    <div class="expand-collapse family interactive"><i class='fa fa-chevron-down'></i> View the timeline</div>
</div>
  <div class="timeline">
    <div class="timeline-item" data-text="Cuba gains independence">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-01.svg"/>
        <h2 class="timeline__content-title" data-text="Cuba gains independence">1902</h2>
        <p class="timeline__content-desc"> Cuba becomes independent when Tomas Estrada Palma is sworn in as president of the country. However, the United States keeps Cuba under its protection and retains the right to intervene with Cuban affairs because of the Platt Amendment.
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="U.S. steps back">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-02.svg"/>
        <h2 class="timeline__content-title" data-text="U.S. steps back">1934</h2>
        <p class="timeline__content-desc">The United States abandons its right to intervene in Cuba’s internal affairs in the Cuban-American Treaty of Relations over concern that the Platt Amendment violated Cuba’s sovereignty.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="The birth of a matriarch">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-03.svg"/>
        <h2 class="timeline__content-title" data-text="The birth of a matriarch">1936</h2>
        <p class="timeline__content-desc">On Aug. 21, 1936, Coralia Ortiz — now the matriarch of her family — is born. </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Revolution succeeds">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-04.svg"/>
        <h2 class="timeline__content-title" data-text="Revolution succeeds">1959</h2>
        <p class="timeline__content-desc">Fidel Castro forces then-Cuban president Fulgencio Batista to flee from Havana with a guerrilla army of 9,000. Castro becomes the country’s prime minister, placing his brother, Raul, as deputy and Che Guevara as his third in command.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="An adventure abroad">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-05.svg"/>
        <h2 class="timeline__content-title" data-text="An adventure abroad">1960</h2>
        <p class="timeline__content-desc">Coralia started studying philosophy and literature at university in 1955, but had to take three years off from school because the university closed during the revolution. When the university re-opened, Coralia is awarded a scholarship to spend a year studying at UNC-Chapel Hill.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Cuban Missile Crisis">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-06.svg"/>
        <h2 class="timeline__content-title" data-text="Cuban Missile Crisis">1962</h2>
        <p class="timeline__content-desc">Fearful of a U.S. invasion, Castro allows the Soviet Union to deploy nuclear missiles on the island. The result was a Cold War clash that lasted for 13 days. And while the U.S. and the USSR eventually resolved the conflict with an agreement to move U.S. missiles out of Turkey, the standoff started a rift in Cuba-U.S. relations.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="New beginnings">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-07.svg"/>
        <h2 class="timeline__content-title" data-text="New beginnings">1963</h2>
        <p class="timeline__content-desc">Coralia starts teaching high school literature shortly after graduating from university. That same year, she goes to an architecture conference to serve as a translator for Hungarian. There, she meets her husband, who was translating English. The two get married a year later. </p>
      </div>
    </div>
    <div class="timeline-item" data-text="A splintering empire">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-08.svg"/>
        <h2 class="timeline__content-title" data-text="A splintering empire">1991</h2>
        <p class="timeline__content-desc">
        The USSR collapses, prompting Soviet military advisors to leave Cuba. But the barrier between the U.S. and Cuba persists, sending the small country into economic troubles.
        </p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="Closing the books on teaching">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-09.svg"/>
        <h2 class="timeline__content-title" data-text="Closing the books on teaching">1992</h2>
        <p class="timeline__content-desc">After 35 years of teaching high school literature, Coralia retires. A year before, on May 23, 1991, her grandson is born. His name is Diego Delgado.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="Raul takes charge">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-10.svg"/>
        <h2 class="timeline__content-title" data-text="Raul takes charge">2006</h2>
        <p class="timeline__content-desc">Fidel Castro undergoes gastric surgery and temporarily hands government control over to his brother, Raul.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="A shift in aspiration">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-11.svg"/>
        <h2 class="timeline__content-title" data-text="A shift in aspiration">2010</h2>
        <p class="timeline__content-desc">
          Once Diego graduates from technical school at 19 years old after studying to become a veterinarian, he decides to take a different career path. So he goes back to school, at Academy Cabrales del Valle to learn more about his passion: photography.
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="Bridging the relationship">

      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-12.svg"/>
        <h2 class="timeline__content-title"  data-text="Bridging the relationship">2016</h2>
        <p class="timeline__content-desc">U.S. President Barack Obama and Cuban President Raul Castro announce plans to normalize diplomatic relations between the two countries after more than 50 years of distance.
        </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/timeline.js"></script>
