
<div class="interactive-wrapper" id="timeline-1">
<div class="interactive-wrapper-intro">
    <h1 class="family interactive">Cuba and Coralia: A Timeline</h1>
    <p style="text-align:center;">Some general introduction here to describe this interactive piece</p>
</div>
  <div class="timeline">
    <div class="timeline-item" data-text="The History: Independence">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-01.svg"/>
        <h2 class="timeline__content-title">1902</h2>
        <p class="timeline__content-desc"> Cuba becomes independent with Tomas Estrada Palma as its president; however, the Platt Amendment keeps the island under US protection and gives the US the right to intervene in Cuban affairs.
</p>
      </div>
    </div>
    <div class="timeline-item" data-text="The History: U.S. pull out">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-02.svg"/>
        <h2 class="timeline__content-title">1934</h2>
        <p class="timeline__content-desc">The US abandons its right to intervene in Cuba's internal affairs, revises Cuba's sugar quota and changes tariffs to favor Cuba.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="The Person: Birth">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-03.svg"/>
        <h2 class="timeline__content-title">1936</h2>
        <p class="timeline__content-desc">On August 21st, 1936, the grandmother Coralia Ortiz in our story was born, Coralia Ortiz, was born. </p>
      </div>
    </div>
    <div class="timeline-item" data-text="The History: Revolution">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-04.svg"/>
        <h2 class="timeline__content-title">1959</h2>
        <p class="timeline__content-desc">The revolution ends in victory. Castro leads a 9,000-strong guerrilla army into Havana, forcing Batista to flee. Castro becomes prime minister, his brother, Raul, becomes his deputy and Guevara becomes third in command.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="The Person: Study in the U.S.">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-05.svg"/>
        <h2 class="timeline__content-title">1960</h2>
        <p class="timeline__content-desc">Coralia started university studying philosophy and literature, but took three years off from school from 1956 to 1959, because the university closed during the Revolution. When university re-opened in 1959, Coralia got a scholarship to spend a year in the United States studying at UNC-Chapel Hill.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="The History: Cold War">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-06.svg"/>
        <h2 class="timeline__content-title">1962</h2>
        <p class="timeline__content-desc">PCuban missile crisis ignites when, fearing a US invasion, Castro agrees to allow the USSR to deploy nuclear missiles on the island. The crisis was subsequently resolved when the USSR agreed to remove the missiles in return for the withdrawal of US nuclear missiles from Turkey.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="The Person: Begin the career">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-07.svg"/>
        <h2 class="timeline__content-title">1963</h2>
        <p class="timeline__content-desc">Coralia started teaching literature in 1963. She also met her husband at an architecture conference where she's a translator for Hungarian and he translated for English. 1 year later they got married. </p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="The History: Dissolution of the USSR.">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-08.svg"/>
        <h2 class="timeline__content-title">1991</h2>
        <p class="timeline__content-desc">
          Soviet military advisers leave Cuba following the collapse of the USSR. The Cold War ended but the barrier between Cuba and the U.S. still exsited.
        </p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="The Person: Retirement">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-09.svg"/>
        <h2 class="timeline__content-title">1992</h2>
        <p class="timeline__content-desc">Coralia retired. One year before her retirement, on May 23rd 1991, her grandson Diego was born.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="The History: Raul's turn">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-10.svg"/>
        <h2 class="timeline__content-title">2006</h2>
        <p class="timeline__content-desc">President Fidel Castro undergoes gastric surgery and temporarily hands over control of the government to his brother, Raul Castro.</p>
      </div>
    </div>
    <div class="timeline-item grandma" data-text="The Person: Diego's career">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-11.svg"/>
        <h2 class="timeline__content-title">2010</h2>
        <p class="timeline__content-desc">
          The grandson grew up quickly. In 2010 when Diego was 19, he graduated from the technical school where he studied to become a veterinarian. He however, finally decide to pursue a career in photography, and went to professionalize his techniques as a photographer in Academy "Cabrales del Valle".
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="The History: Back to relationship">
      <div class="timeline__content"><img class="timeline__img" src="/assets/images/timeline-12.svg"/>
        <h2 class="timeline__content-title">2016</h2>
        <p class="timeline__content-desc">In a surprise development, US President Barack Obama and Cuba's President Raul Castro announce moves to normalise diplomatic relations between the two countries, severed for more than 50 years.</p>
      </div>
    </div>
  </div>
</div>
    <script src="/js/timeline.js"></script>
