<div class="interactive-wrapper">
  <div class="interactive-wrapper-intro">
    <h1 class="dorian interactive">The Long Line to Get Online</h1>
    <p>In Cuba, the national government holds a virtual monopoly on Internet access. Citizens, tourists and entrepreneurs alike have to go through <em>La Empresa de Telecomunicaciones de Cuba S.A.</em> (ETECSA), the government-owned telecommunications service provider for the country, to get online.</p>
  </div>

  <div class="center-wrapper">
    <img src="assets/images/wifiAccess.png" class="wifi">
  </div>

  <div id="internet-slider" class="mobile-only">
    <button id="internet-slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
    <button id="internet-slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

    <ul id="internet-slider-ul">
      <li class="internet-slider-section">
        <div>
          <img src="assets/images/internet/internet_step_one.png" />
        </div>
      </li>

      <li class="internet-slider-section">
        <div>
          <img src="assets/images/internet/internet_step_two.png" />
        </div>
      </li>

      <li  class="internet-slider-section">
        <div>
          <img src="assets/images/internet/internet_step_three.png" />
        </div>
      </li>

      <li  class="internet-slider-section">
        <div>
          <img src="assets/images/internet/internet_step_four.png" />
        </div>
      </li>

      <li  class="internet-slider-section">
        <div>
          <img src="assets/images/internet/internet_step_five.png" />
        </div>
      </li>

      <li  class="internet-slider-section">
        <div>
          <img src="assets/images/internet/internet_step_six.png" />
        </div>
      </li>
    </ul>
  </div>


</div>
<script type="text/javascript" src="/js/internet-slider.js"></script>
