<div class="interactive-wrapper">
  <div class="interactive-wrapper-intro">
    <h1 class="dorian interactive">The Long Line to Get Online</h1>
    <p>In Cuba, the national government holds a virtual monopoly on Internet access. Citizens, tourists and entrepreneurs alike have to go through <em>La Empresa de Telecomunicaciones de Cuba S.A.</em> (ETECSA), the government-owned telecommunications service provider for the country, to get online.</p>
  </div>

  <img src="assets/images/wifiAccess.png" class="wifi">


</div>
