<footer>

  <div class="wrapper">

    <div class="item">
      <a href="/"><img src="/assets/logo.png" alt="Cuba's New Wave logo"></a>
    </div> <!--Close item -->

    <div class="item">
        <ul>
          <li><a href="/about">ABOUT THE PROJECT</a></li>
          <span>|</span>
          <a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="http://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="http://www.twitter.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </ul>
    </div> <!--Close item -->

   </div>  <!--Close wrapper -->

</footer>
