
<footer>

  <div class="wrapper">

    <div class="item">
      <a href="/"><img src="/assets/logo.png" alt="Cuba's New Wave logo"></a>
    </div> <!--Close item -->

    <div class="item">
        <ul>
          <li><a href="/">HOME</a></li>
          <span>|</span>
          <li><a href="/about">ABOUT</a></li>
        </ul>
    </div> <!--Close item -->

   </div>  <!--Close wrapper -->

</footer>
