<footer>

  <div class="wrapper">

    <div class="item">
      <a href="/"><img src="/assets/584_logo_plain.png" alt="Cuba's New Wave logo"></a>
    </div> <!--Close item -->

    <div class="item push-right">
    </div>

    <div class="item centered">
          <ul>
            <li><a href="/about">ABOUT THE PROJECT</a></li>
          <span>|</span>
          </ul>
    </div>

        <div class="item centered social">
          <ul>
            <li><a href="http://www.facebook.com/CubasNewWave" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="http://www.twitter.com/CubasNewWave" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="http://www.instagram.com/cubasnewwave" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>

    </div> <!--Close item -->

   </div>  <!--Close wrapper -->

</footer>
