<title>Cuba's New Wave</title>
<base href="/" />
    <meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Montserrat:300,400,500,800" rel="stylesheet">

<link rel="stylesheet" href="/stylesheets/aos.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/inner.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">




<!--FULLPAGE.JS STYLES / SCRIPTS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.js"></script>

<script type="text/javascript" src="/js/aos.js"></script>

<script type="text/javascript" src="/js/inner-nav.js"></script>
<!--FONT AWESOME CDN -->
<script src="https://use.fontawesome.com/3ddd43fed9.js"></script>
