<title>Cuba's New Wave</title>
<base href="/" />
<meta charset="utf-8">

<!--favicon sizes generated from http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../assets/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../../assets/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../assets/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../../assets/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../assets/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Montserrat:300,500,600,700" rel="stylesheet">


<!-- deckjs -->

<link rel="stylesheet" media="screen" href="/stylesheets/deckjs/deck.navigation.css">
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/deckjs/vertical-slide.css">
<!-- <link rel="stylesheet" type="text/css" href="stylesheets/deckjs/modernizr.css" /> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/deckjs/deck.core.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css" />

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/inner.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/internet.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/poem.css"  />
<link rel="stylesheet" type="text/css" href="/stylesheets/paquete.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/hiphop.css" />
<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css" /> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/photo-gallery.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/aging-barchart.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/aging-line.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/moneyslider.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">







<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">


<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>

<!--deckjs-->
<script type="text/javascript" src="/js/deckjs/modernizr.custom.js" ></script>
<script type="text/javascript" src="/js/deckjs/deck.core.js" ></script>
<script type="text/javascript" src="/js/deckjs/deck.navigation.js"></script>

<script type="text/javascript" src="/js/internet.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/inner-nav.js"></script>

<script type="text/javascript" src="https://use.fontawesome.com/3ddd43fed9.js"></script>
