<div id="hiphop-container">
<div id="hiphop-box">
  <div class="hiphop-panel" id="hiphop1">
    <div class="hiphop-info">
    <img src="/assets/images/IMG_1230.jpg">
    <div class="hiphop-text">
      <p>Aida Diestro</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
    </div>
  </div>
  </div>
  <div class="hiphop-panel" id="hiphop2">
    <div class="hiphop-info">
    <img src="/assets/images/IMG_5703.jpg">
    <div class="hiphop-text">
    <p>Isadora Carillo</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
  </div>
</div>
  </div>
  <div class="hiphop-panel" id="hiphop3">
    <div class="hiphop-info">
    <img src="/assets/images/IMG_1230.jpg">
    <div class="hiphop-text">
      <p>Rosita Fornes</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
    </div>
  </div>
  </div>
  <div class="hiphop-panel" id="hiphop4">
    <div class="hiphop-info">
    <img src="/assets/images/IMG_5705.jpg">
    <div class="hiphop-text">
      <p>Laura Manzanarez</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
    </div>
  </div>
</div>
  <div class="hiphop-panel" id="hiphop5">
    <div class="hiphop-info">
    <img src="/assets/images/IMG_5703.jpg">
    <div class="hiphop-text">
      <p>Lioba Maria Hevia</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobor.</p>
    </div>
  </div>
</div>
</div>
</div>
