<!-- <div id="nav-header"> -->
  <header class="default">
   <nav class="nav-bar">

     <nav class="wrapper">
      <!-- <a href="/"><div class="logo"> </div></a> -->
      <a href="/"><img src="/assets/584_logo_plain.png" alt="Cuba's New Wave logo" class="logo"></a>
       <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle">
          <div class="nav-container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </label>
      </input>


      <ul>
        <li><a href="/pages/art"><span>Agency of Rap</span></a></li>
        <li><a href="/pages/entre"><span>Digital Entrepreneurs</span></a></li>
        <li><a href="/pages/tourism"><span>Across the Harbor</span></a></li>
        <li><a href="/pages/aging"><span>Aging Society</span></a></li>
        <li><a href="/pages/skate"><span>Skater Girl</span></a></li>
        <li><a href="/about"><span>About</span></a></li>
      </ul>
      <!-- <div class="icons">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div> -->

    </nav>
  </nav>
</header>
<!-- </div> -->
