<div id="header">
<nav class="nav-bar">
  <nav class="wrapper">
    <div class="logo"> </div>
    <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle"></label>
    </input>

    <ul>
      <a href="/pages/art">Agency of Rap</a>
      <a href="/pages/entre">Digital Entrepreneurs</a>
      <a href="/pages/tourism">Across the Harbor</a>
      <a href="/pages/aging">Aging Society</a>
      <a href="/pages/skate">Skater Girl</a>
      <a href="/about">About</a>
    </ul>

  </nav> <!--wrapper-->
</nav> <!--nav bar-->
</div>
