<style>
a {
  color: #000;
  position: relative;
}
</style>
<a href="./">Home</a>
<a href="arttest">Art</a>
<a href="skatetest">Skate Culture</a>
<a href="entretest">Entrepreneurs</a>
<a href="tourismtest">Tourism</a>
<a href="agingtest">Aging Society</a>
