  <div id="nav-header">
   <nav class="nav-bar">

     <nav class="wrapper">
      <a href="/"><img src="/assets/logo.png" alt="Cuba's New Wave logo" class="logo"></a>
       <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="label-toggle">
          <div class="nav-container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </label>
      </input>


      <ul>
        <li><a href="/pages/art">Agency of Rap</a></li>
        <li><a href="/pages/entre">Digital Entrepreneurs</a></li>
        <li><a href="/pages/tourism">Across the Harbor</a></li>
        <li><a href="/pages/aging">Aging Society</a></li>
        <li><a href="/pages/skate">Skater Girl</a></li>
        <li><a href="/about">About</a></li>
      </ul>
       <div class="icons">
        <i class="fa fa-facebook icons" aria-hidden="true"></i>
        <i class="fa fa-twitter icons" aria-hidden="true"></i>
        <i class="fa fa-instagram icons" aria-hidden="true"></i>
      </div>


    </nav>
  </nav>
</div>
<!-- </div> -->
