<style>
  a {
    color: #000;
    position: relative;
  }
</style>

<a href="/">Home</a>
<a href="/pages/art">Art</a>
<a href="/pages/skate">Skate Culture</a>
<a href="/pages/entre">Entrepreneurs</a>
<a href="/pages/tourism">Tourism</a>
<a href="/pages/aging">Aging Society</a>

