<div id="nav-header">
<nav class="nav-bar">
  <nav class="wrapper">
    <!-- <a href="/"><div class="logo"> </div></a> -->
    <a href="/"><img src="/assets/logo.png" alt="Cuba's New Wave logo" class="logo"></a>
     <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="label-toggle"></label>
    </input>


    <ul>
      <li><a href="/pages/art" class="art">Agency of Rap</a></li>
      <li><a href="/pages/entre" class="entre">Digital Entrepreneurs</a></li>
      <li><a href="/pages/tourism" class="tourism">Across the Harbor</a></li>
      <li><a href="/pages/aging" class="aging">Aging Society</a></li>
      <li><a href="/pages/skate" class="skate">Skater Girl</a></li>
      <li><a href="/" class="about">About</a></li>
    </ul>
    <!-- <div class="icons">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div> -->

  </nav> <!--wrapper-->
</nav> <!--nav bar-->
</div>

<script>
function myFunction(x) {
  console.log("click");
    x.classList.toggle("change");
}
</script>
