
<!-- Added this basic shell of a nav 2/7/17 - Peyton -->

<nav>
  <ul>
    <li>Across the Harbor</li>
    <li>Youth Culture</li>
    <li>Entrepreneurship</li>
    <li>Arts</li>
    <li>Aging Society</li>
    <li><a href="../pages/about.ejs">About</a></li>
  </ul>
</nav>
