     <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
      </script>
      <script src="/js/jquery.waypoints.js"></script>
      <script type="text/javascript" src="/js/poem.js"></script>

<div class="hide-show">

  <div id="toggle">
      <label for="toggle">This is an interactive piece that you can expand into!</label>
  </div>

     <div class="poem-wrapper">

         <div class="title">
           <h1>Regla, Cuba</h1>
           <h2>a poem by philip murray</h2>
         </div>


         <div class="poem-row row-0">
             <div id="section-0" class="animated" >
               <p>In Regla, just across the bay by launch,</p>
               <p>The tiny church has a Negress Virgin,</p>
               <p>Although the child is white, for legend says</p>
               <p>She once appeared here so</p>
             </div>

             <div id="section-0-img" class="animated" >
               <img src="/assets/images/mockPokemonApp.jpg">
            </div>
        </div>

        <div class="poem-row row-1">
            <div id="section-1" class="animated" >
             <p>-- and there are</p>
             <p>Certain feast days when the air is black</p>
             <p>With Negroes come to worship at Her shrine,</p>
             <p>And here the carnival Havana lights</p>
             <p>Are hung along the shore and thread the sea</p>
             <p>At night, while in the old distillery</p>
            </div>

            <div id="section-1-img" class="animated" >
              <img src="/assets/images/mockTeamPhoto.jpg">
           </div>
       </div>

       <div class="poem-row row-2">
           <div id="section-2" class="animated" >
            <p>Destroyed by fire, the moonlight on the stones</p>
            <p>Transforms the floor to marble, and the rows</p>
            <p>Of crossbeams make a multiple cucifixion</p>
           </div>

           <div id="section-2-img" class="animated" >
             <img src="/assets/images/mockPokemonApp.jpg">
          </div>
      </div>

      <div class="poem-row row-3">
          <div id="section-3" class="animated">
            <p>Where hanged men tread their first macabre dance</p>
            <p>And love commits idolatry in the dark.</p>
          </div>

          <div id="section-3-img" class="animated">
            <img src="/assets/images/mockTheaterImage.jpg">
          </div>
      </div>

      <div class="poem-row row-4">
          <div id="section-4" class="animated">
            <p>By daylight, tame bulls loll in the torpid heat</p>
            <p>Dogs and sailors sleep on the shady side<p>
            <p>Of fishing boats </p>
          </div>

          <div id="section-4-img" class="animated">
            <img src="/assets/images/mockTeamPhoto.jpg">
          </div>
      </div>


      <div class="poem-row row-5">
          <div id="section-5" class="animated">
            <p>-- but nearby in the freight yards</p>
            <p>Swarthy workmen, wet with sweat, unload</p>
            <p>The heavy sugar sacks. From rotten wharves</p>
            <p>Small boys crab, or play at throwing rocks</p>
          </div>

          <div id="section-5-img" class="animated">
            <img src="/assets/images/mockPokemonApp.jpg">
          </div>
      </div>

      <div class="poem-row row-6">
          <div id="section-6" class="animated">
            <p>And here it is the mad sadistic sun</p>
            <p>Will nail your shadow to an anchor</p>
            <p>Staked in the ground by pirates in their prime</p>
            <p>Whose treasure now lies buried with their bones.</p>
          </div>

          <div id="section-6-img" class="animated">
            <img src="/assets/images/mockPokemonApp.jpg">
          </div>
      </div>
    </div>
</div>
