/* ------------------ Global Styles ------------ */
/*change page colors here!*/
.center-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0; }

.about.change-bg {
  width: 20% !important; }

ul {
  margin-top: 15px; }

a:hover, a:focus {
  text-decoration: none;
  color: #3C3C3C; }

.team-nav {
  background-color: #efefef; }
  .team-nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 10px 10%; }
    .team-nav ul li {
      color: #070707;
      font-weight: 300;
      cursor: pointer; }
  .team-nav .mixitup-control-active {
    font-weight: 400; }

.hero img {
  width: 100vw; }

#team-photos .team-info {
  display: block;
  margin: 0px auto;
  max-width: 250px; }
  #team-photos .team-info p {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    line-height: 1.4em; }
  #team-photos .team-info .role {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: .8em; }
  #team-photos .team-info .team-name {
    font-weight: 400;
    font-size: 1em; }
  #team-photos .team-info a {
    font-weight: 300;
    color: #000;
    font-size: .9em;
    text-decoration: none; }
    #team-photos .team-info a:hover {
      color: #ccc; }

#team-photos .bio {
  position: absolute;
  line-height: 1.5em;
  vertical-align: middle;
  width: 255px;
  height: 170px;
  background: rgba(255, 255, 255, 0.85);
  color: #000;
  visibility: hidden;
  opacity: 0;
  padding: 20px 25px;
  font-size: .85em;
  font-family: "Roboto", sans-serif;
  -webkit-transition: visibility opacity 0.2s;
  transition: visibility opacity 0.2s;
  text-align: left; }

#team-photos .team-image-box {
  display: block;
  margin: 0px auto;
  max-width: 250px; }

#team-photos .mix {
  position: relative;
  display: block;
  margin-bottom: 12px;
  margin-top: 1.3em; }
  #team-photos .mix:hover .bio {
    visibility: visible;
    opacity: 1; }
  #team-photos .mix img {
    max-width: 250px;
    max-height: 225px; }

.about-container {
  text-align: center;
  max-width: 65%;
  margin-left: 17.5%; }
  .about-container p {
    text-align: left; }

#about-title {
  font-weight: 400;
  margin: 30px 0px; }

.divider img {
  width: 150px;
  margin-bottom: -30px;
  margin-top: -10px; }

.divider h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 20px; }

#special-thanks {
  background-color: #efefef;
  color: #3C3C3C;
  text-align: center;
  padding: 20px 0px;
  margin-top: 40px; }
  #special-thanks h3 {
    font-weight: 400; }
  #special-thanks p {
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5px; }

@media screen and (max-width: 1020px) {
  .team-nav ul {
    flex-direction: column;
    max-height: 80px;
    padding-left: 7%;
    margin: 15px 0px 1rem 0px; }
    .team-nav ul li {
      margin-right: 50px; }
  .team-nav .mixitup-control-active {
    text-decoration: underline; }
  .mix {
    margin-left: auto;
    margin-right: auto; }
  .about-container {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .about-container p {
      text-align: left; } }
