/* ------------------ Global Styles ------------ */
/*change page colors here!*/
.everyone.mixitup-control-active {
  color: #000000;
  font-weight: 400; }

.everyone:hover {
  font-weight: 400;
  color: #000000; }

.videographer.mixitup-control-active {
  color: #34788D;
  font-weight: 400; }

.videographer:hover {
  font-weight: 400;
  color: #34788D; }

.reporter.mixitup-control-active {
  color: #9A9A64;
  font-weight: 400; }

.reporter:hover {
  font-weight: 400;
  color: #9A9A64; }

.designdev.mixitup-control-active {
  color: #AE5B53;
  font-weight: 400; }

.designdev:hover {
  font-weight: 400;
  color: #AE5B53; }

.coaches.mixitup-control-active {
  color: #91C9AC;
  font-weight: 400; }

.coaches:hover {
  font-weight: 400;
  color: #91C9AC; }

nav .wrapper {
  -webkit-box-sizing: initial;
  box-sizing: initial; }

.mobile-only-text {
  display: none;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: .9em;
  margin-bottom: 4px; }

.center-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0; }

.about .active-nav {
  margin-top: 3em;
  margin-bottom: 5em; }

.max-width {
  max-width: 50%; }

ul {
  margin-top: 15px; }

a:hover, a:focus {
  text-decoration: none;
  color: #3C3C3C; }

.team-nav {
  background-color: #efefef; }
  .team-nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    font-family: "Montserrat", sans-serif;
    margin: 10px auto;
    width: 52%; }
    .team-nav ul li {
      color: #070707;
      font-weight: 300;
      cursor: pointer; }

.hero img {
  width: 100vw; }

#team-photos {
  width: 90%;
  margin: 10px auto; }
  #team-photos .team-info {
    display: block;
    margin: 0px auto;
    max-width: 303px; }
    #team-photos .team-info p {
      margin: 0px;
      font-family: "Roboto", sans-serif;
      text-align: left;
      line-height: 1.4em;
      display: inline-block; }
    #team-photos .team-info .portfolio {
      display: inline-block; }
    #team-photos .team-info span {
      display: inline-block; }
    #team-photos .team-info .team-name {
      display: block; }
    #team-photos .team-info .role {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: .8em; }
    #team-photos .team-info .team-name {
      font-weight: 400;
      font-size: 1em; }
    #team-photos .team-info a {
      font-weight: 300;
      color: #000;
      font-size: .9em;
      text-decoration: none; }
      #team-photos .team-info a:hover {
        color: #ccc; }
  #team-photos .bio {
    position: absolute;
    line-height: 1.5em;
    vertical-align: middle;
    width: 303px;
    height: 202px;
    background: rgba(255, 255, 255, 0.85);
    color: #000;
    visibility: hidden;
    opacity: 0;
    padding: 20px 20px;
    font-size: .9em;
    font-family: "Roboto", sans-serif;
    -webkit-transition: visibility opacity 0.2s;
    transition: visibility opacity 0.2s;
    text-align: left; }
  #team-photos .team-image-box {
    display: block;
    margin: 0px auto;
    max-width: 303px; }
    #team-photos .team-image-box:hover {
      cursor: default; }
  #team-photos .mix {
    position: relative;
    display: block;
    margin-bottom: 12px;
    margin-top: 1.3em; }
    #team-photos .mix .visible-bio .bio {
      visibility: visible;
      opacity: 1; }
    #team-photos .mix:hover .bio {
      visibility: visible;
      opacity: 1; }
    #team-photos .mix img {
      max-width: 303px;
      max-height: 202px;
      cursor: pointer; }

.about-container {
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto; }
  .about-container p {
    text-align: left; }

.about-title {
  margin-top: -2%;
  width: inherit; }
  .about-title #inner-title-box {
    margin-bottom: 3.8em; }

#about-intro-text {
  margin-bottom: 5em; }

.divider img {
  width: 150px;
  margin-bottom: -30px;
  margin-top: -10px; }

.divider h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 20px; }

#special-thanks {
  background-color: #efefef;
  color: #3C3C3C;
  text-align: left;
  padding: 20px 0px;
  margin-top: 40px; }
  #special-thanks h3 {
    font-weight: 400; }
  #special-thanks p {
    margin-bottom: 0px;
    text-align: left;
    padding-left: 5px; }
  #special-thanks ul {
    list-style-type: none; }
  #special-thanks .row {
    text-align: left; }
    #special-thanks .row li {
      margin-bottom: 4%; }

.about-cinema-wrapper video {
  margin-top: 70px; }

#about-cinemagraph {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%; }

@media screen and (min-width: 2400px) {
  .team-nav ul {
    padding: 15px 20vw 15px 20vw; } }

@media screen and (max-width: 1020px) {
  .mobile-only-text {
    display: block; }
  .team-nav ul {
    flex-direction: column;
    max-height: 80px;
    margin: 15px auto 1rem;
    width: 82%;
    text-align: center; }
  .team-nav .mixitup-control-active {
    text-decoration: underline; }
  .mix {
    margin-left: auto;
    margin-right: auto; }
  .about-container {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
    .about-container p {
      text-align: left; }
  .portfolio {
    display: inline; }
  .about-social-icon {
    display: inline; }
  .max-width {
    max-width: 80%; }
  .about-cinema-wrapper #cinemagraph {
    margin-top: 50px; } }

@media screen and (max-width: 570px) {
  #about-body #nav-container {
    margin-top: 11px; } }
