/* ------------------ Global Styles ------------ */
/*change page colors here!*/
#aging-chart-img {
  width: 80%;
  height: 80%; }

#aging-table {
  display: none;
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse; }
  #aging-table th {
    border-bottom: 1px solid black;
    font-family: "Montserrat", sans-serif; }
  #aging-table th, #aging-table td {
    text-align: center;
    padding: 4px; }
  #aging-table tr:nth-child(even) {
    background-color: #e6e6e6; }

@media screen and (max-width: 1020px) {
  #aging-table {
    display: table; } }

@media screen and (max-width: 570px) {
  #aging-chart-img {
    width: calc(100vw - 20%);
    height: 100%; }
  #aging-table th {
    font-size: .75em; }
  #aging-table td {
    font-size: .8em; } }
