/* ------------------ Global Styles ------------ */
/*change page colors here!*/
.interactive-intro {
  margin: 30px; }

h1, h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #927cbd; }

h1 {
  font-size: 2.4em;
  margin: 0; }

h2 {
  font-size: 1em;
  font-weight: 300;
  margin-top: 10px; }

h3 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em; }

p {
  margin-top: 8px; }

.container {
  width: 80%;
  display: flex;
  margin: 1rem auto; }

.finder-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  border-radius: 2px;
  background-color: #dedede;
  -webkit-box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
  box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
  max-height: 225px; }

.finder-header {
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  position: relative; }

.finder-window-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  position: absolute;
  top: .3rem;
  left: .3rem; }

.finder-window-controls__close,
.finder-window-controls__minimize,
.finder-window-controls__maximize {
  height: .5rem;
  width: .5rem;
  border-radius: 99px;
  margin-right: .28rem;
  cursor: pointer; }

.finder-window-controls__close {
  background-color: #f85955;
  /*border: 1px solid #d74246;*/ }

.finder-window-controls__minimize {
  background-color: #fbbe3f;
  /*border: 1px solid #d7a32d;*/ }

.finder-window-controls__maximize {
  background-color: #45cc4b;
  /*border: 1px solid #40ad36;*/ }

.finder-sidebar {
  background-color: #f0f0f0;
  padding: 0 .6rem .4rem .4rem;
  float: left;
  height: 100%; }

.finder-sidebar__list {
  margin: 0;
  padding: 0; }

.finder-sidebar__list-name--section {
  font-weight: bold;
  color: #7b807c;
  font-size: 0.4em; }

.finder-sidebar__sub-list {
  margin: 0;
  padding: 0 0 0 7px;
  font-size: .5rem;
  line-height: .45rem; }

.icon {
  font-size: .6rem;
  margin-right: .1rem; }

.finder-sidebar__list-item {
  margin: 8px 0;
  list-style: none; }

.finder-sidebar__list-item--section {
  margin: 0; }

.finder-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  background-color: #ffffff;
  height: 100%; }

.category-container {
  width: 65px;
  border-right: 1px solid #e8e8e8;
  -webkit-box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  position: relative;
  height: 100%; }

.sub-container {
  min-width: 80px;
  border-right: 1px solid #e8e8e8; }

.files-container {
  min-width: 110px; }

.finder-file-list {
  margin: 0;
  padding-left: 0; }

.finder-file-item {
  display: block;
  text-decoration: none;
  padding: 0 0.5em;
  cursor: pointer;
  font-size: .48rem;
  line-height: 1rem;
  color: #868686;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.parent:hover {
  background: #e8e8e8; }

.parent {
  color: #333; }

.finder-file-item:active {
  background: #F0BD53; }

.active {
  background-color: #F0BD53; }

.info-window {
  font-family: "Roboto", sans-serif;
  font-size: .6rem;
  margin-left: 1.6vw;
  width: 150px;
  line-height: 1.6em; }
