#finder {
  /*Mobile Styles*/ }
  #finder * {
    /*box-sizing: border-box;*/ }
  #finder .finder-wrapper {
    height: 600px;
    width: 80%; }
  #finder .interactive-intro {
    margin: 30px; }
  #finder .finder-wrapper h1, #finder h2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #927cbd; }
  #finder .finder-wrapper h1 {
    font-size: 3.7em;
    margin: 0; }
  #finder .finder-wrapper .interactive-intro h2 {
    font-size: 1em;
    font-weight: 300;
    margin-top: 10px; }
  #finder .finder-wrapper .paquete-container h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    color: #484848; }
  #finder .paquete-container p {
    margin-top: 3px; }
  #finder .paquete-container {
    width: 80%;
    display: flex;
    margin: 2.5em auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: 550px;
    transform-origin: top center; }
  #finder .finder-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border-radius: 2px;
    background-color: #dedede;
    -webkit-box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px; }
  #finder .finder-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    position: relative;
    height: 40px;
    background-color: #dedede; }
  #finder .window-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    position: absolute;
    top: .5em;
    left: .5em; }
  #finder .window-controls__close,
  #finder .window-controls__minimize,
  #finder .window-controls__maximize {
    height: .8em;
    width: .8em;
    border-radius: 99px;
    margin-right: .5rem;
    cursor: pointer; }
  #finder .window-controls__close {
    background-color: #f85955; }
  #finder .window-controls__minimize {
    background-color: #fbbe3f; }
  #finder .window-controls__maximize {
    background-color: #45cc4b; }
  #finder .content-container {
    min-height: 230px; }
  #finder .sidebar {
    background-color: #f0f0f0;
    padding: .3em .6em .4em .8em;
    float: left;
    height: 100%;
    box-sizing: border-box; }
  #finder .sidebar__list {
    margin: 0;
    padding: 0; }
  #finder .sidebar__list-name--section {
    font-weight: bold;
    color: #7b807c;
    font-size: 0.7em; }
  #finder .sidebar__sub-list {
    margin: 0;
    padding: 0 0 0 7px;
    font-size: .9em;
    line-height: .45rem; }
  #finder .icon {
    font-size: .6rem;
    margin-right: .1rem; }
  #finder .sidebar__list-item {
    margin: 3px 0;
    list-style: none;
    text-align: left; }
  #finder .sidebar__list-item--section {
    margin: 0; }
  #finder .finder-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    background-color: #ffffff;
    height: 100%; }
  #finder .category-container {
    max-width: 8em;
    padding-top: .4em;
    border-right: 1px solid #e8e8e8;
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    position: relative;
    height: 100%; }
  #finder .sub-container {
    min-width: 90px;
    padding-top: .4em;
    border-right: 1px solid #e8e8e8; }
  #finder .files-container {
    min-width: 105px;
    padding-top: .4em; }
  #finder .file-list {
    margin: 0;
    padding-left: 0; }
  #finder .finder-wrapper .file-item {
    display: block;
    text-decoration: none;
    padding: 0 0.5em;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.5em;
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #finder .parent:hover {
    background: #e8e8e8; }
  #finder .parent {
    color: #333; }
  #finder .file-item:active {
    background: #F0BD53; }
  #finder .active {
    background-color: #F0BD53; }
  #finder .fa-file {
    margin-right: .3em;
    color: #9BD5BB;
    font-size: .9em;
    margin-top: -1px; }
  #finder .parent .fa {
    margin-right: .3em;
    color: #6EA5C2;
    font-size: 1.1em; }
  #finder .info-window {
    font-family: "Roboto", sans-serif;
    font-size: .6rem;
    margin-left: 1.6vw;
    width: 10vw;
    line-height: 1.6em;
    text-align: left; }
  #finder .info-window p {
    font-family: "Roboto", sans-serif;
    font-size: 2.2em;
    line-height: 1.6em; }
  #finder #info-intro-bar {
    height: 3px;
    background: #484848;
    border: none;
    width: 70px;
    margin: 0 0 10px 0; }
  #finder .mobile .finder-window {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border-radius: 2px;
    background-color: #dedede;
    -webkit-box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 9px 77px -4px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px; }
  #finder #finder-window-mobile {
    width: 100%; }
  #finder .mobile .finder-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 100%;
    flex: 1 100%;
    position: relative;
    height: 20px;
    background-color: #dedede; }
  #finder .mobile .window-controls__close,
  #finder .mobile .window-controls__minimize,
  #finder .mobile .window-controls__maximize {
    height: .5em;
    width: .5em;
    border-radius: 99px;
    margin-right: .48rem;
    cursor: pointer; }
  #finder .mobile .content-container {
    height: 100%;
    width: 100%;
    background: white; }
  #finder .mobile .sidebar {
    background-color: #f0f0f0;
    padding: 0 .6rem .4rem .4rem;
    box-sizing: content-box;
    height: 21px; }
  #finder .mobile .sidebar__list {
    margin: 0;
    padding: 5px 0; }
  #finder #pkt-device {
    color: black;
    font-weight: 400;
    margin-left: 5px; }
  #finder .mobile .sidebar__sub-list {
    margin: 0;
    padding: 0 0 0 7px;
    font-size: .5rem;
    line-height: .45rem;
    float: right; }
  #finder .mobile .sidebar__list-item {
    margin: 0;
    list-style: none;
    text-align: left;
    font-size: 2em; }
  #finder .mobile .sidebar__list-item--section {
    margin: 0;
    float: left;
    margin-right: 5px; }
  #finder .mobile .finder-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    background-color: #ffffff;
    height: 100%;
    margin-top: 5px;
    font-size: 1.4em; }
  #finder .mobile .file-list {
    margin: 0;
    padding-left: 8px; }
  #finder .mobile .file-item {
    display: block;
    text-decoration: none;
    padding: 0 0.5em;
    cursor: pointer;
    font-size: .65em;
    line-height: 2em;
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #finder .mobile .file-item:active {
    background: #F0BD53; }
  @media screen and (max-width: 1020px) {
    #finder .paquete-container {
      flex-direction: column;
      transform-origin: top left;
      justify-content: flex-start;
      height: 100%; }
    #finder .info-window {
      width: 30vw;
      margin: 0; }
    #finder .finder-wrapper {
      height: 100%;
      overflow: scroll; }
    #finder .sidebar {
      float: none;
      height: 21px; }
    #finder .sidebar__list {
      padding: 5px 0; }
    #finder .sidebar__list-name--section {
      float: left;
      margin-right: 5px; }
    #finder .sidebar__list-item {
      margin: 0; }
    #finder .finder-main {
      height: 90%; }
    #finder .content-container {
      height: 215px; }
    #finder .info-window {
      margin: 10px 0 0 0; } }
  @media screen and (min-width: 571px) {
    #finder #finder-window-mobile {
      display: none; } }
  @media screen and (max-width: 570px) {
    #finder #finder-window-desktop {
      display: none; }
    #finder .info-window {
      width: 70vw; }
    #finder .info-window p {
      font-size: 2.6em; }
    #finder .finder-wrapper .paquete-container h3 {
      font-size: 3em; }
    #finder .paquete-container {
      transform: scale(1); } }
