/* ------------------ Global Styles ------------ */
/*change page colors here!*/
footer {
  text-align: left;
  background: none;
  padding-top: 2rem;
  padding-bottom: 1.5rem; }
  footer #about-footer {
    margin-top: 1.2em; }
  footer .wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    justify-content: space-between; }
  footer .logo-wrapper #svg-logo {
    width: 210px; }
  footer .item {
    width: 100%; }
  footer .item ul {
    list-style-type: none;
    padding: .1em 0; }
  footer .centered {
    text-align: center; }
  footer .item ul li {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    padding: 10px 20px 0 20px; }
  footer .item span {
    margin-left: 5px;
    margin-right: 5px; }
  footer ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400; }
  footer ul li a:hover {
    font-weight: 400;
    color: #fff; }
  footer a {
    margin-left: 5px;
    margin-right: 5px;
    color: #484848;
    font-family: "Montserrat", sans-serif;
    font-size: .8em;
    font-weight: 300;
    text-decoration: none; }
  footer a:hover {
    font-weight: 400; }
  footer .fa {
    font-size: 1.3em; }
  footer .sm-icons {
    margin-top: 0.2em; }
  footer .links {
    margin-top: 1.3em;
    margin-bottom: 2em; }

/* ------- Media Queries --------- */
@media screen and (min-width: 570px) and (max-width: 876px) {
  footer .item ul li {
    padding: 10px 5px 0 5px; }
  footer .item ul li a {
    font-size: .8em; } }

@media screen and (max-width: 570px) {
  footer {
    padding-top: 3rem; }
    footer .wrapper {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
    footer .item {
      padding: 0; }
    footer .item ul {
      margin-right: 0px;
      padding: 20px 0 0 0; }
    footer .item ul li {
      display: block;
      padding: 0;
      height: auto; }
    footer .item ul li a:hover {
      font-weight: 700; }
    footer .item ul li a {
      font-size: .8em; }
    footer .nav-title-footer::after .active-nav {
      width: 36%;
      margin-left: auto;
      margin-right: auto; } }
