/* ------------------ Global Styles ------------ */
/*change page colors here!*/
#hiphop-wrap {
  display: flex; }

.attribution-hiphop {
  color: #696969;
  font-size: 8pt;
  text-align: right; }

.no-display {
  display: none; }

.hiphop-info {
  background-color: white; }

.modal {
  z-index: 100; }
  .modal iframe {
    max-width: 100%; }

#hiphop-wrap-mobile {
  display: none;
  position: relative; }

.hiphop-button {
  border: none;
  display: none;
  background: transparent;
  font-size: 4em;
  cursor: pointer;
  z-index: 1; }

.hiphop-button:focus {
  outline: none; }

#hiphop-left {
  float: left; }

#hiphop-right {
  float: right; }

.hiphop-bio {
  line-height: 1;
  margin: 8px 15px;
  font-family: "Roboto", sans-serif;
  font-size: .85em;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.hiphop-text {
  color: black; }

.hiphop-year, .hiphop-name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 4px 4px 0px; }

.hiphop-name {
  font-weight: 500;
  margin-top: 15px;
  font-size: 1.2em; }

.hiphop-year {
  font-weight: 300;
  font-size: .8em;
  line-height: 1; }

.hiphop-panel {
  height: 23.75vw;
  width: 15vw;
  background-size: cover;
  display: block;
  position: relative;
  perspective: 800px;
  -webkit-perspective: 800px; }
  .hiphop-panel:hover .hiphop-text {
    visibility: visible; }

.hiphop-card {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform .1s; }
  .hiphop-card div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.hiphop-panel img {
  height: auto;
  width: calc(100% + 1px);
  position: absolute;
  bottom: 0;
  -webkit-backface-visibility: hidden; }

.hiphop-text {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #fff; }
  .hiphop-text a {
    font-size: 3em;
    display: block;
    text-align: center;
    width: 50px;
    margin: 0 auto;
    cursor: pointer; }
    .hiphop-text a:hover .fa-youtube {
      color: black; }

#hiphop-container {
  display: block;
  width: 90%;
  max-height: 400px;
  margin-left: 5%;
  margin-right: 5%; }

.fa-youtube {
  color: #bb0000;
  font-size: 2em; }

#hiphop-wrap-mobile {
  width: 90%;
  height: 450px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }

#hiphop-wrap-mobile > ul {
  width: 100%;
  height: 450px;
  left: -100%;
  transition: 0.5s left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-flex; }

#hiphop-wrap-mobile > ul > li {
  width: 100%;
  height: 70vh;
  color: black;
  font-size: 3rem; }

#hiphop-instructions-click {
  display: none; }

.hiphop-card-mobile {
  cursor: pointer; }

@media screen and (min-width: 1261px) {
  .hiphop-bio {
    line-height: 1.1;
    hyphens: auto; } }

@media screen and (min-width: 1021px) {
  .hiphop-card:hover {
    transform: rotateY(180deg); }
  .hiphop-panel {
    padding: 8px; } }

@media screen and (max-width: 1260px) {
  .hiphop-year {
    margin: 2px;
    font-size: .7em; }
  .hiphop-name {
    font-size: 1em;
    margin-top: 8px; }
  .hiphop-text p {
    word-wrap: break-word;
    word-break: normal; }
  .hiphop-text a {
    font-size: 2.4em; }
  .hiphop-bio {
    font-size: .8em;
    margin-bottom: 2px;
    line-height: 1; } }

@media screen and (max-width: 1110px) {
  .hiphop-name {
    font-size: .9em;
    margin-top: 3px; }
  .hiphop-bio {
    font-size: .7em; }
  .fa-youtube {
    font-size: 2em; }
  .hiphop-text a {
    font-size: 2em; } }

@media screen and (max-width: 1020px) {
  #hiphop-wrap-mobile > ul > li {
    width: 72vw;
    height: 422px; }
  .hiphop-button {
    display: block; }
  #hiphop-wrap-mobile {
    display: block; }
  #hiphop-wrap {
    display: none; }
  .hiphop-name {
    font-size: .7em;
    margin-top: 10px; }
  .hiphop-year {
    font-size: .6em;
    margin-bottom: 12px; }
  .hiphop-panel {
    height: 422px;
    width: 268px;
    padding: 12px;
    margin: 0 auto; }
  .hiphop-card div {
    height: 422px;
    width: 248px;
    margin-left: 10px; }
  .hiphop-card-mobile {
    width: 268px;
    height: 422px; }
  .hiphop-bio {
    font-size: .5em; }
  .hiphop-text a {
    font-size: 1.75em; }
  #mobile-instructions:before {
    content: "Click on"; }
  #desktop-instructions {
    display: none; }
  .flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); }
    .flipped img {
      visibility: hidden; }
  .hiphop-panel img {
    width: 248px; }
  .hiphop-button {
    margin-top: 175px;
    position: absolute; }
  #hiphop-left {
    left: 3%; }
  #hiphop-right {
    right: 3%; } }

@media screen and (max-width: 570px) {
  .hiphop-card div {
    height: 390px;
    width: 225px;
    margin-top: 2.5vh;
    margin-left: 12px; }
  .hiphop-card-mobile {
    margin: 0 auto;
    width: 248px; }
  .hiphop-panel {
    padding: 0;
    width: 248px; }
  .fa-youtube {
    font-size: 3em; }
  .hiphop-panel img {
    width: 225px; }
  .hiphop-name {
    font-size: .55em; }
  .hiphop-year {
    font-size: .45em; }
  .hiphop-bio {
    font-size: .4em;
    line-height: 1.2; }
  .hiphop-button {
    margin-top: 0;
    position: inherit; } }

@media screen and (max-width: 350px) {
  .hiphop-panel {
    width: 215px; }
  .hiphop-panel img {
    width: 180px; }
  .hiphop-card div {
    width: 180px;
    margin-left: 18px; }
  .hiphop-card-mobile {
    width: 235px; }
  .hiphop-card > .hiphop-text {
    width: 180px;
    right: 18px; }
  .hiphop-name {
    font-size: .5em; }
  .hiphop-year {
    font-size: .4em; }
  .hiphop-text a {
    font-size: 1.5em; } }
