/* ------------------ Global Styles ------------ */
/*change page colors here!*/
/* ------------------  Index ------------------ */
.fa {
  font-size: 1em; }

/* ------------------  Index Video------------------ */
#video_overlay {
  position: absolute;
  z-index: 1000;
  top: 70px;
  text-align: right;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2em;
  letter-spacing: .03em;
  margin: 5% 10%;
  padding-left: 30%; }

#video_overlay .texttop {
  opacity: 0; }

#video_overlay .textbottom {
  margin-top: 5%;
  opacity: 0; }

.fadeIn1 {
  -webkit-animation-name: fadeIn;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 16s;
  /* Safari 4.0 - 8.0 */
  animation-name: fadeIn1;
  animation-duration: 2s;
  animation-delay: 16s;
  animation-fill-mode: forwards; }

.fadeIn2 {
  -webkit-animation-name: fadeIn;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 19s;
  /* Safari 4.0 - 8.0 */
  animation-name: fadeIn2;
  animation-duration: 2s;
  animation-delay: 19s;
  animation-fill-mode: forwards; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Standard syntax */
@keyframes fadeIn1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#video-box {
  position: relative; }

#home-video {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  margin-top: 70px;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3; }

#mobile-container {
  display: none; }

#intro-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center; }

#explore-story {
  font-size: .61em;
  font-weight: bold; }
  #explore-story:hover {
    cursor: pointer; }

#explore-arrow {
  font-size: 1.4em;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-left: 3px; }

@media screen and (max-width: 570px) {
  #index-container {
    display: none; }
  #mobile-container {
    background: url("textures/family.JPG") no-repeat;
    display: block; }
  nav .logo {
    visibility: hidden; } }

#intro-box {
  margin-top: 50px;
  margin-bottom: -8px; }
  #intro-box img {
    width: 100%; }

#intro-text-box {
  background: url("textures/family.JPG") no-repeat;
  padding-top: 2px;
  padding-bottom: 10px; }

#intro-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 5px 6%; }

#intro-line {
  width: 85%;
  background-color: white;
  height: 5px;
  margin: 30px auto 0px; }

.photo-box {
  height: 220px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px; }
  .photo-box a {
    text-decoration: none; }
  .photo-box h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    padding-top: 23%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px; }
  .photo-box p {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 5px;
    padding: 0px 10%;
    font-weight: 300;
    text-align: center;
    line-height: 1.1; }
  .photo-box .overlay-black {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%; }

#family-box {
  background: url("../assets/images/familyintro.png");
  background-position-x: 25%; }

#harbor-box {
  background: url("../assets/images/harborintro.png");
  background-position-x: 25%; }

#dorian-box {
  background: url("../assets/images/dorianintro.png");
  background-position-x: 25%; }

#hiphop-box {
  background: url("../assets/images/hiphopintro.png");
  background-position-x: 25%; }

#skate-box {
  background: url("../assets/images/skateintro.png");
  background-size: cover; }

#replay-btn {
  padding: 2em 0;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  z-index: 10;
  width: 5%;
  right: 8.5%;
  bottom: .5%;
  color: white;
  text-align: center;
  vertical-align: middle; }
  #replay-btn:hover {
    cursor: pointer; }
  #replay-btn i {
    font-size: 1.3em;
    display: inline; }

@media screen and (max-width: 850px) {
  #replay-btn {
    top: -50px; } }
