.arts {
  background-color: #C71731; }

.entre {
  background-color: #29D172; }

.youth {
  background-color: #A84CD4; }

.aging {
  background-color: #00C4C7; }

.harbor {
  background-color: #FFB11A; }

/* font sizing from http://typecast.com/blog/a-more-modern-scale-for-web-typography because I have no idea what font sizes we need to have :) :/ */
html {
  font-size: .7em; }

body {
  font-size: 1.375em;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
  margin: 0; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3em;
  font-weight: 500; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.125em; }

small, .font_small {
  font-size: 0.75em; }

.inner {
  /*------standard classes------*/
  /*------page ids------*/ }
  .inner .max-width {
    max-width: 800px; }
  .inner .center-wrapper {
    display: flex;
    justify-content: center; }
  .inner #inner-intro {
    /*inherits from h3*/
    text-align: center;
    max-width: 40%;
    font-weight: 300; }
  .inner .inner-hero img {
    width: 100vw; }
  .inner .byline-box {
    display: flex; }
    .inner .byline-box .byline-item {
      text-align: center;
      margin-left: 10px; }
    .inner .byline-box:nth-child(1) {
      margin-left: 0; }
  .inner figure {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px; }
  .inner .pull-quote-box {
    width: 100vw;
    background-color: #0DC7C9; }
  .inner .pull-quote span::before {
    content: '\201C'; }
  .inner .pull-quote span::after {
    content: '\201D'; }
  .inner .pull-quote {
    font-family: "Montserrat", sans-serif;
    width: 70vw;
    color: white;
    padding: .8em;
    margin: 0;
    display: inline-block; }
  .inner .pull-quote hr {
    background-color: white;
    height: 8px;
    margin-right: 725px;
    border-radius: 30px;
    border-style: none; }

#inner-title-box {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  width: 50%;
  padding: 2em;
  margin-top: -90px; }
  #inner-title-box h1, #inner-title-box h3 {
    margin: 0; }
