/* ------------------ Global Styles ------------ */
/*change page colors here!*/
.inner {
  /*------standard classes------*/
  /*------page ids------*/ }
  .inner .max-width {
    max-width: 75%; }
  .inner .center-wrapper {
    display: flex;
    justify-content: center; }
  .inner #inner-intro {
    /*inherits from h3*/
    text-align: center;
    max-width: 40%;
    font-weight: 300; }
  .inner .inner-hero img {
    width: 100vw; }
  .inner .byline-box {
    display: flex;
    margin-top: 10pt; }
    .inner .byline-box .byline-item {
      color: #888888;
      text-align: center;
      margin-left: 50px;
      text-transform: uppercase;
      font-size: .9em; }
    .inner .byline-box .byline-item p {
      line-height: 0.2em;
      font-weight: 700; }
    .inner .byline-box .byline-head {
      font-weight: 300 !important;
      font-size: 0.85em;
      text-transform: lowercase; }
  .inner .byline-item:first-of-type {
    margin-left: 0; }
  .inner figure {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px; }
  .inner .pull-quote-box {
    margin: 20pt 0 20pt 15%; }
  .inner .pull-quote span::before {
    content: '\201C'; }
  .inner .pull-quote span::after {
    content: '\201D'; }
  .inner .pull-quote {
    font-family: "Montserrat", sans-serif;
    width: 70vw;
    color: white;
    padding: .8em;
    margin: 0;
    display: inline-block; }
  .inner .pull-quote hr {
    background-color: white;
    height: 8px;
    margin-right: 725px;
    border-radius: 30px;
    border-style: none; }
  .inner .subhead {
    background-color: white;
    font-weight: 400; }

#inner-title-box {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  width: 60%;
  padding: 2em;
  z-index: 5;
  margin-top: -55px; }
  #inner-title-box h1 {
    margin: 0; }
  #inner-title-box h3 {
    font-size: 1.5em;
    margin: .5em 0 0 0; }

/*------responsive styles------*/
@media screen and (max-width: 800px) {
  .container {
    margin-top: 68px; }
  .inner .byline-box {
    margin-top: 15pt; }
    .inner .byline-box .byline-item p {
      line-height: 1em; }
  .inner .center-wrapper {
    margin-top: -2%; }
  .inner #inner-intro {
    max-width: 80%;
    line-height: 1.5em;
    margin-top: 30px; }
  .inner .max-width {
    max-width: 75%; }
  .inner iframe {
    width: 100%; }
  .inner .pull-quote-box {
    width: 88vw; }
  #inner-title-box {
    width: 100%;
    margin-top: 0; }
  h1 {
    font-size: 2.1em;
    padding-bottom: .25em; }
  h3 {
    font-size: 1.25em; } }

#cinemagraph {
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3; }
