/* ------------------ Global Styles ------------ */
/*change page colors here!*/
.inner {
  /*------standard classes------*/
  /*------page ids------*/ }
  .inner .max-width {
    max-width: 50%; }
  .inner .center-wrapper {
    display: flex;
    justify-content: center; }
  .inner #inner-intro {
    /*inherits from h3*/
    text-align: center;
    max-width: 40%;
    font-weight: 300; }
  .inner .byline-box {
    display: flex;
    margin-top: 23pt; }
    .inner .byline-box .byline-item {
      color: #888888;
      text-align: center;
      margin-left: 50px;
      text-transform: uppercase;
      font-size: .9em; }
    .inner .byline-box .byline-item p {
      line-height: 0.2em;
      font-weight: 700; }
    .inner .byline-box .byline-head {
      font-weight: 300 !important;
      font-size: 0.85em;
      text-transform: lowercase; }
  .inner .byline-item:first-of-type {
    margin-left: 0; }
  .inner figure {
    display: flex;
    justify-content: space-around;
    margin-left: 0; }
    .inner figure .inner-image {
      height: 80vh;
      width: auto; }
  .inner figcaption {
    line-height: 1.8em;
    margin-left: 1.2vw;
    font-size: .95em;
    font-weight: 400;
    letter-spacing: .02em; }
    .inner figcaption .fig-descr {
      margin-top: 0;
      line-height: 1.8; }
    .inner figcaption .fig-attr {
      text-transform: uppercase;
      font-weight: 300;
      font-size: .8em;
      margin-bottom: -13px; }
  .inner .pull-quote-box {
    margin: 20pt 0 20pt 15%; }
  .inner .pull-quote {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 400;
    width: 70vw;
    color: white;
    padding: 1.8em;
    margin: 0;
    display: inline-block; }
  .inner .pull-quote hr {
    background-color: white;
    height: 6px;
    margin-right: 55vw;
    margin-top: 0;
    border-style: none; }
  .inner .pull-quote .attribution::before {
    content: '-';
    margin-right: -4px; }
  .inner .pull-quote .attribution {
    display: inline;
    font-weight: 300;
    margin-left: 15px;
    font-size: 0.9em; }
  .inner .subhead {
    font-weight: 500;
    font-size: 1.675em;
    margin: 1.5em 0 0 0;
    transition: 1s opacity; }

#inner-title-box {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  width: 60%;
  padding: 2em;
  z-index: 5;
  margin-top: -55px; }
  #inner-title-box h1 {
    margin: 0; }
  #inner-title-box h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: .5em 0 0 0; }
  #inner-title-box:hover {
    cursor: default; }

.vimeo-container {
  transition: 0.1s background-color; }

#video-bottom {
  position: absolute;
  margin-top: 60%; }

.vimeo-wrapper {
  background-color: #000;
  width: 70%;
  padding-bottom: 39.9%;
  position: relative;
  margin: 3em auto; }
  .vimeo-wrapper iframe {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%; }

#cinemagraph {
  width: 100vw;
  margin-top: 70px; }

img.map {
  margin: 3% 0 3% 0; }

/*------responsive styles------*/
@media screen and (min-width: 2400px) {
  .inner figure .inner-image {
    height: 100%;
    width: auto; }
  .inner #inner-title-box h1 {
    font-size: 4.5em; }
  .inner #inner-title-box h3 {
    margin: .1em 0 0 0; } }

@media screen and (max-width: 1110px) {
  .inner figure .inner-image {
    height: 100vh;
    width: auto; } }

@media screen and (max-width: 1280px) {
  .inner figure .inner-image {
    height: 80vh;
    width: auto; } }

@media screen and (max-width: 1020px) {
  .inner .byline-box {
    margin-top: 15pt;
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
    .inner .byline-box .byline-item {
      margin-left: 9%;
      max-width: 30%; }
    .inner .byline-box .byline-item p {
      line-height: 1em;
      margin-bottom: 8px; }
  .inner .byline-item:first-of-type {
    margin-left: 0; }
  .inner #title-box {
    margin-top: -2%; }
  .inner #inner-intro {
    max-width: 80%;
    line-height: 1.5em;
    margin-top: 30px; }
  .inner .max-width {
    max-width: 80%; }
  .inner .video-wrapper {
    width: 100vw !important; }
  .inner iframe {
    width: 100%; }
  .inner .pull-quote-box {
    margin: 0; }
  .inner figcaption {
    padding-right: 0vw; }
  #inner-title-box {
    width: 100%;
    margin-top: 0; }
    #inner-title-box h1 {
      font-size: 2.8em;
      padding-bottom: .1em; }
    #inner-title-box h3 {
      font-size: 1.1em;
      margin: 0; } }

@media screen and (max-width: 800px) {
  .vimeo-wrapper {
    width: 100%; }
  .vimeo-wrapper {
    padding-bottom: 54.9%; } }

@media screen and (max-width: 570px) {
  .inner #cinemagraph {
    margin-top: 50px; }
  .inner #inner-title-box {
    padding: 1.4em; }
    .inner #inner-title-box h1 {
      font-size: 1.6em; }
    .inner #inner-title-box h3 {
      font-size: 1em;
      line-height: 1.3em; }
  .inner figure {
    flex-wrap: wrap;
    margin: 0; }
    .inner figure .inner-image {
      width: 100vw;
      height: 100%; }
  .inner figcaption {
    max-width: 95%; }
    .inner figcaption .fig-descr {
      margin: 0; }
    .inner figcaption .fig-attr {
      margin: 0;
      padding-top: 5px; }
  .inner .pull-quote-box {
    width: 100vw;
    margin: 0; }
  .inner .pull-quote {
    font-size: 1.3em; }
  .inner .pull-quote hr {
    height: 5px; }
  .inner .pull-quote .attribution {
    margin-left: 5px; }
  img.map {
    width: 100vw;
    height: 100%; } }
