/* ------------------ Global Styles ------------ */
/*change page colors here!*/
.internet-graphic {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .internet-graphic .attribution {
    font-size: 8pt;
    float: right; }
  .internet-graphic h3, .internet-graphic .country-ratio {
    font-size: 1.75em;
    margin: 1.2em 0 5pt 0;
    width: 400px;
    text-align: center; }
  .internet-graphic #cuba-title, .internet-graphic #other-country-title {
    text-align: center;
    font-size: .8em; }
  .internet-graphic .fa.fa-male {
    padding: .05em;
    color: #888888;
    opacity: 0.5; }
  .internet-graphic .center-wrapper {
    display: flex;
    justify-content: center; }
  .internet-graphic #country-dropdown {
    width: 200px;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    margin: 1.2em 0 5pt 0;
    background-color: white; }
  .internet-graphic .people-cont {
    display: flex;
    justify-content: space-around; }
  .internet-graphic .fa.fa-male.selected {
    color: #89cdaf;
    opacity: 1; }
  .internet-graphic .country-cont {
    width: 400px; }

@media screen and (min-width: 1600px) {
  .internet-graphic .people-cont {
    margin: 0 15vw 0 15vw; } }

@media screen and (max-width: 1110px) {
  .internet-graphic .dropdown-cont {
    justify-content: flex-end;
    padding-right: 12vw; }
  .internet-graphic .people-cont {
    justify-content: center;
    padding: 0 10vw 0 10vw; }
  .internet-graphic .people-cont, .internet-graphic .title-cont {
    flex-direction: column; }
  .internet-graphic .country-cont {
    width: inherit; }
  .internet-graphic h3 {
    width: inherit; } }

@media screen and (max-width: 570px) {
  .internet-graphic .fa.fa-male {
    font-size: 1.2em; } }

@media screen and (max-width: 320px) {
  .internet-graphic .dropdown-cont {
    padding-right: 0; }
  .internet-graphic h1 {
    font-size: 2em; }
  .internet-graphic h3 {
    margin-top: 0; } }
