/* ------------------ Global Styles ------------ */
body {
  font-family: 'Domine', sans-serif;
  color: #000; }

/* ------------------  Header ------------------ */
header {
  text-align: left;
  padding: 1rem; }

/* ------------------ Navigation ------------------ */
nav ul {
  list-style-type: none; }

nav a {
  color: #000;
  position: relative; }

/* ------------------  Story Page ------------------ */
/* ------------------  Footer ------------------ */
footer ul {
  list-style-type: none; }

footer {
  text-align: left;
  padding: 1rem;
  background-color: #efefef; }
