/* ------------------ Global Styles ------------ */
/*change page colors here!*/
/*this mixin applies bgr-color and color to anything with classes
that are defined in the include below. You can override either of these colors
further down on the page or in any of the other .SCSS files.
*/
.hiphop.subhead {
  color: #F1861B; }

.hiphop.change-bg {
  background: url("textures/hiphop.JPG") no-repeat;
  background-size: cover;
  color: #F1861B; }

.hiphop.nav-title:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .8s ease, background-color .8s ease; }

.hiphop.nav-title:hover:after {
  width: 100%;
  background: #F1861B; }

.dorian.subhead {
  color: #9BD5BB; }

.dorian.change-bg {
  background: url("textures/dorian.JPG") no-repeat;
  background-size: cover;
  color: #9BD5BB; }

.dorian.nav-title:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .8s ease, background-color .8s ease; }

.dorian.nav-title:hover:after {
  width: 100%;
  background: #9BD5BB; }

.skate.subhead {
  color: #A089CE; }

.skate.change-bg {
  background: url("textures/skate.JPG") no-repeat;
  background-size: cover;
  color: #A089CE; }

.skate.nav-title:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .8s ease, background-color .8s ease; }

.skate.nav-title:hover:after {
  width: 100%;
  background: #A089CE; }

.family.subhead {
  color: #F0BD53; }

.family.change-bg {
  background: url("textures/family.JPG") no-repeat;
  background-size: cover;
  color: #F0BD53; }

.family.nav-title:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .8s ease, background-color .8s ease; }

.family.nav-title:hover:after {
  width: 100%;
  background: #F0BD53; }

.harbor.subhead {
  color: #6EA5C2; }

.harbor.change-bg {
  background: url("textures/harbor.JPG") no-repeat;
  background-size: cover;
  color: #6EA5C2; }

.harbor.nav-title:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .8s ease, background-color .8s ease; }

.harbor.nav-title:hover:after {
  width: 100%;
  background: #6EA5C2; }

html {
  font-size: .7em; }

body {
  font-size: 1.375em;
  letter-spacing: .01em;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #000;
  margin: 0; }

p {
  margin-bottom: 1.3em;
  line-height: 2em; }

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.7em;
  font-weight: 600; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.125em; }

/* ------------------  Header ------------------ */
header {
  text-align: left;
  padding: 1rem; }

/* ------------------ Navigation ------------------ */
nav {
  max-height: 45px;
  background-color: #fff;
  opacity: 0.8;
  font-family: "Roboto", sans-serif;
  font-size: 1.05em; }
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    padding: 0 10vw 0 10vw; }
    nav ul a {
      color: #222;
      position: relative;
      text-decoration: none;
      color: #000;
      background-color: transparent; }
  nav #logo-text {
    height: 45px; }
  nav .logo {
    height: 45px;
    width: 45px;
    margin-left: .5em; }
  nav .wrapper {
    margin: 0 auto;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between; }
  nav .label-toggle {
    display: none; }
  nav #menu-toggle {
    display: none; }
  nav .nav-icons, nav .icons {
    display: flex;
    margin: 0 5px 0 5px; }
  nav .nav-icons {
    flex-wrap: wrap;
    margin: 0 .5em 0 0; }
  nav .logo-wrapper a {
    display: flex;
    vertical-align: middle; }
  nav .sm-icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: .8; }
    nav .sm-icons #nav-line {
      padding: 0 .2em;
      height: 50px;
      border-left: 2px solid #696969; }
    nav .sm-icons #insta {
      padding-right: .3em; }
    nav .sm-icons a {
      color: #000;
      text-decoration: none; }
      nav .sm-icons a:hover {
        color: #A089CE;
        opacity: 1; }
  nav .trans-wrapper #trans-btn:hover {
    cursor: pointer; }
  nav .trans-wrapper hr {
    width: 13pt;
    margin: 0; }

#nav-header {
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  z-index: 9; }

header {
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear; }

.default {
  top: 0; }

.fixed {
  top: -85px; }

/*------------------ RESPONSIVE NAV STYLES ---------*/
@media screen and (max-width: 768px) {
  nav .wrapper {
    max-width: 75%; }
  nav ul {
    background-color: #eee;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    padding: 0 1vw 0 1vw;
    visibility: hidden; }
  nav li {
    color: #696969;
    display: block;
    font-size: 1.5em;
    padding: 2em 0; }
  nav li + li {
    border-left: none; }
  nav ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 20px;
    margin-left: 45%;
    background: black;
    text-align: center;
    position: relative;
    top: 1.5em; }
  nav ul li #nav-art:after {
    margin-left: 50%; }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    padding: 10px;
    border: 5px solid #60B1DE; }
  nav .label-toggle {
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 1em;
    width: 35px; }
    nav .label-toggle #nav-container {
      display: inline-block; }
      nav .label-toggle #nav-container .bar1, nav .label-toggle #nav-container .bar2, nav .label-toggle #nav-container .bar3 {
        width: 35px;
        height: 5px;
        margin: 6px 0;
        background: black;
        transition: 0.4s; }
    nav .label-toggle .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    nav .label-toggle .change .bar2 {
      opacity: 0; }
    nav .label-toggle .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }
  nav .wrapper {
    display: block; }
  .line {
    display: none; }
  nav .icons {
    display: none; }
  nav .trans {
    display: none; } }

/* ------------------  Story Page ------------------ */
