/* ------------------ Global Styles ------------ */
/*change page colors here!*/
.paquete-wrapper .title {
  text-align: center;
  color: #A089CE; }

.paquete-wrapper .paquete {
  margin-top: 2%;
  overflow-x: hidden;
  margin-bottom: 2%;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .paquete-wrapper .paquete .bgimg {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh; }
  .paquete-wrapper .paquete .bgimg-1 {
    background-image: url("../assets/images/paquete/gabriella.jpg");
    min-height: 100%; }
  .paquete-wrapper .paquete .bgimg-2 {
    background-image: url("../assets/images/paquete/luis.jpg");
    min-height: 100%; }
  .paquete-wrapper .paquete .bgimg-3 {
    background-image: url("/assets/images/paquete/madam.jpg");
    min-height: 100%; }
  .paquete-wrapper .paquete .bgimg-4 {
    background-image: url("../assets/images/paquete/sergio.jpg");
    min-height: 100%; }
  .paquete-wrapper .paquete .bgimg-5 {
    background-image: url("../assets/images/paquete/alex.jpg");
    min-height: 100%; }
  .paquete-wrapper .paquete .bgimg-6 {
    background-image: url("../assets/images/paquete/marco.jpg");
    min-height: 100%; }
  .paquete-wrapper .paquete .bg {
    color: #000;
    background-color: white;
    text-align: center;
    padding: 25px 40px;
    text-align: justify; }
  .paquete-wrapper .paquete .scrolling {
    position: relative; }
  .paquete-wrapper .paquete .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000; }
  .paquete-wrapper .paquete .border {
    background-color: #000;
    background: url(textures/skate.JPG) no-repeat;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px; }
  .paquete-wrapper .paquete .other-caption {
    position: absolute;
    left: 2%;
    top: 15%;
    width: 250px;
    text-align: left;
    color: #000; }
  .paquete-wrapper .paquete #alex {
    width: 255px; }
  .paquete-wrapper .paquete #right-caption {
    left: 60%;
    margin-bottom: 10px;
    padding: 30px; }
  .paquete-wrapper .paquete .other-border {
    background-color: #fff;
    opacity: 0.6;
    font-weight: bold;
    padding: 20px;
    font-size: 1.275em; }
  .paquete-wrapper .paquete .scrolling {
    display: none; }
  .paquete-wrapper .paquete hr {
    background-color: black;
    height: 5px;
    border-style: none;
    width: 55%;
    margin-left: 0; }

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
  .bgimg {
    background-attachment: scroll; } }

@media screen and (max-width: 1020px) {
  .paquete-wrapper .paquete hr {
    display: block;
    margin-bottom: 5%; }
  .paquete-wrapper .paquete .scrolling {
    display: block; }
  .paquete-wrapper .paquete .other-caption {
    display: none; } }

@media screen and (max-width: 570px) {
  .paquete-wrapper .paquete {
    width: initial;
    margin-left: initial;
    margin-right: initial; }
    .paquete-wrapper .paquete hr {
      display: block;
      margin-bottom: 5%; }
    .paquete-wrapper .paquete .bgimg {
      background-attachment: scroll;
      height: 50vh; }
    .paquete-wrapper .paquete .scrolling {
      display: block; }
    .paquete-wrapper .paquete .other-caption {
      display: none; } }
