/* ------------------ Global Styles ------------ */
/*change page colors here!*/
#photo-gallery #custom-slider {
  width: 90%;
  height: 70vh;
  overflow: hidden;
  margin-left: 0;
  margin-right: auto; }

#photo-gallery #custom-slider > ul {
  width: 100%;
  height: 70vh;
  left: -100%;
  transition: 0.5s left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-flex; }

#photo-gallery #custom-slider > ul > li {
  width: 100%;
  height: 70vh;
  color: white;
  font-size: 3rem; }

#photo-gallery .pic-style {
  max-height: 100%; }

#photo-gallery .pic {
  height: 70vh;
  max-width: 100%; }

#photo-gallery button {
  background: transparent;
  border: none;
  font-size: 4em;
  color: white; }

#photo-gallery .caption {
  background-color: blue;
  color: white;
  width: 30%;
  height: 30vh;
  position: relative;
  bottom: 103%;
  left: 66%; }

#photo-gallery #caption-text {
  font-family: "Roboto", sans-serif;
  margin: 5%;
  float: left; }

#photo-gallery .fa-angle-right {
  position: relative;
  left: -1500%; }

#photo-gallery #slider-right {
  float: right; }

#photo-gallery #slider-left {
  float: left; }
