/* ------------------ Global Styles ------------ */
/*change page colors here!*/
*:after {
  content: "";
  display: table;
  clear: both; }

.hiphop.pg-figcaption {
  border-top: 2px solid #F1861B; }

.dorian.pg-figcaption {
  border-top: 2px solid #9BD5BB; }

.skate.pg-figcaption {
  border-top: 2px solid #A089CE; }

.family.pg-figcaption {
  border-top: 2px solid #F0BD53; }

.harbor.pg-figcaption {
  border-top: 2px solid #6EA5C2; }

.about.pg-figcaption {
  border-top: 2px solid #997A65; }

#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative; }
  #photo-gallery .arrow-wrapper {
    z-index: 1;
    display: flex;
    justify-content: space-between; }
  #photo-gallery .slider-left {
    margin-right: auto !important; }
  #photo-gallery #custom-slider {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-right: auto; }
  #photo-gallery #custom-slider > ul {
    width: 100%;
    left: -100%;
    transition: 0.5s left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex; }
  #photo-gallery #custom-slider > ul > li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /**/ }
  #photo-gallery .pic {
    max-width: 70vw; }
  #photo-gallery button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 4em;
    color: #000; }
  #photo-gallery .caption {
    color: #000;
    width: 30%;
    margin-left: 1vw;
    position: relative;
    display: flex;
    flex-direction: column; }
  #photo-gallery .pg-figcaption {
    padding-top: 1em;
    width: calc(100% - 50px); }
  #photo-gallery .fig-attr {
    margin: 0; }

@media screen and (min-width: 1280px) {
  #photo-gallery .pic {
    width: 100%; }
  #photo-gallery #custom-slider > ul > li {
    justify-content: center; } }

@media screen and (max-width: 1020px) {
  #photo-gallery #custom-slider > ul > li {
    flex-direction: column;
    justify-content: center; }
  #photo-gallery .pg-figcaption {
    border-top: none;
    margin-top: -12vh;
    width: 70%;
    margin-left: 15%; }
  #photo-gallery .fig-attr {
    display: inline-block; }
  #photo-gallery .fig-descr {
    margin-bottom: 0; }
  #photo-gallery .pic {
    max-height: 80vh;
    width: 100%;
    max-width: none; }
  #photo-gallery .caption {
    width: 100%;
    margin-top: 0;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin-left: 0; }
  #photo-gallery .arrow-wrapper {
    z-index: 1;
    display: flex;
    justify-content: space-around; } }

@media screen and (max-width: 300px) {
  #photo-gallery #custom-slider {
    height: auto; }
  #photo-gallery .pic {
    height: auto; } }
