/* ------------------ Global Styles ------------ */
/*change page colors here!*/
#photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; }
  #photo-gallery #custom-slider {
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-right: auto; }
  #photo-gallery #custom-slider > ul {
    width: 100%;
    height: 70vh;
    left: -100%;
    transition: 0.5s left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex; }
  #photo-gallery #custom-slider > ul > li {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    /**/ }
  #photo-gallery .pic-style {
    max-height: 100%; }
  #photo-gallery .pic {
    width: 100%; }
  #photo-gallery button {
    background: transparent;
    border: none;
    outline: none;
    font-size: 4em;
    color: #000; }
  #photo-gallery .caption {
    color: #000;
    width: 30%;
    position: relative; }
  #photo-gallery #caption-text {
    font-family: "Roboto", sans-serif;
    float: left; }
  #photo-gallery #slider-right, #photo-gallery #slider-left {
    z-index: 1;
    position: relative; }
  #photo-gallery #slider-right {
    left: 13%; }
  #photo-gallery #slider-left {
    float: left;
    left: 49%; }
  #photo-gallery #responsive-slider-left {
    display: none; }
  #photo-gallery #responsive-slider-right {
    display: none; }
  #photo-gallery .pg-figcaption {
    margin-left: 3vw; }

@media screen and (min-width: 1280px) {
  #photo-gallery .pic {
    width: 100%; }
  #photo-gallery .pg-figcaption {
    margin-left: 1.2vw; } }

@media screen and (min-width: 2400px) {
  #photo-gallery .pg-figcaption {
    margin-left: 8vw; }
  #photo-gallery .pic {
    width: calc(100% + (50vw - 700px)); } }

@media screen and (max-width: 400px) {
  #photo-gallery #custom-slider {
    height: 130vh; } }

@media screen and (min-width: 1260px) {
  #photo-gallery .pg-figcaption {
    margin-left: 8vw; }
  #photo-gallery .pic {
    width: calc(100% + (50vw - 700px)); } }

@media screen and (max-width: 1020px) {
  #photo-gallery #custom-slider {
    height: 75vh; }
  #photo-gallery #custom-slider > ul > li {
    display: initial;
    height: 40vh; }
  #photo-gallery .pic {
    height: auto; }
  #photo-gallery .pg-figcaption {
    margin-top: 2vh; }
  #photo-gallery .caption {
    width: 100%; }
  #photo-gallery #slider-left, #photo-gallery #slider-right {
    top: 56vh; }
  #photo-gallery #slider-left {
    left: -22%; }
  #photo-gallery #slider-right {
    left: -55%; } }

@media screen and (max-width: 650px) {
  #photo-gallery #slider-left, #photo-gallery #slider-right {
    top: 50vh; } }

@media screen and (max-width: 300px) {
  #photo-gallery #custom-slider {
    height: auto; }
  #photo-gallery #custom-slider > ul {
    height: 60vh; }
  #photo-gallery #custom-slider > ul > li {
    height: 25vh; }
  #photo-gallery .pic {
    height: auto; }
  #photo-gallery #slider-left, #photo-gallery #slider-right {
    top: 500px; }
  #photo-gallery #slider-left {
    left: -19%; }
  #photo-gallery #slider-right {
    left: -50%; } }
