.poem-wrapper {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%; }
  .poem-wrapper p {
    font-style: italic; }
  .poem-wrapper img {
    width: 40vw;
    margin-right: 10%; }
  .poem-wrapper .title {
    text-align: center; }
  .poem-wrapper .poem-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px; }
  .poem-wrapper #section-0, .poem-wrapper #section-1, .poem-wrapper #section-2, .poem-wrapper #section-3, .poem-wrapper #section-4, .poem-wrapper #section-5, .poem-wrapper #section-6 {
    margin-right: 0;
    margin-left: 50px;
    opacity: 0;
    text-align: right; }
  .poem-wrapper #section-0-img, .poem-wrapper #section-1-img, .poem-wrapper #section-2-img, .poem-wrapper #section-3-img, .poem-wrapper #section-4-img, .poem-wrapper #section-5-img, .poem-wrapper #section-6-img {
    opacity: 0; }
  .poem-wrapper .fadeIn {
    -webkit-animation: fadeIn 4s;
    /* Safari 4+ */
    -moz-animation: fadeIn 4s;
    /* Fx 5+ */
    -o-animation: fadeIn 4s;
    /* Opera 12+ */
    animation: fadeIn 4s;
    /* IE 10+, Fx 29+ */
    animation-fill-mode: forwards; }
