.poem{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 0.8em;
}

  .interactive-wrapper .poem-hide{
    cursor: pointer;
  }
  #poem-wrapper img {
    width: 30vw;
    margin-right: 10%; }
  #poem-wrapper .title {
    text-align: center;
  color: #6EA5C2;
  font-size: 1.2; }
  .interactive-wrapper .poem-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; }
  .interactive-wrapper #section-0, .interactive-wrapper #section-1, .interactive-wrapper #section-2, .interactive-wrapper #section-3, .interactive-wrapper #section-4, .interactive-wrapper #section-5, .interactive-wrapper #section-6 {
    width: 400px;
    opacity: 0;
    text-align: left;
    margin-left: 5%;
    margin-top: -13px;}
  .interactive-wrapper #section-0-img, .interactive-wrapper #section-1-img, .interactive-wrapper #section-2-img, .interactive-wrapper #section-3-img, .interactive-wrapper #section-4-img, .interactive-wrapper #section-5-img, .interactive-wrapper #section-6-img {
    opacity: 0;
    }
  .interactive-wrapper .fadeInLeft {
    -webkit-animation: fadeInLeft 2.5s;
    /* Safari 4+ */
    -moz-animation: fadeInLeft 2.5s;
    /* Fx 5+ */
    -o-animation: fadeInLeft 2.5s;
    /* Opera 12+ */
    animation: fadeInLeft 2.5s;
    /* IE 10+, Fx 29+ */
    animation-fill-mode: forwards; }

    .interactive-wrapper .fadeInRight {
      -webkit-animation: fadeInRight 2.5s;
      /* Safari 4+ */
      -moz-animation: fadeInRight 2.5s;
      /* Fx 5+ */
      -o-animation: fadeInRight 2.5s;
      /* Opera 12+ */
      animation: fadeInRight 2.5s;
      /* IE 10+, Fx 29+ */
      animation-fill-mode: forwards; }

.interactive-wrapper .adjust{
  text-align: center;
}

@media screen and (max-width: 1000px){
  #poem-wrapper #section-0, #poem-wrapper #section-1, #poem-wrapper #section-2, #poem-wrapper #section-3, #poem-wrapper #section-4, #poem-wrapper #section-5, #poem-wrapper #section-6 {
    margin-top: 3%;
    width: 100%;
    font-size: 0.7;
    line-height: -5px;
  }
}
@media screen and (max-width: 900px){

  #poem-wrapper .poem-row{
    flex-direction: column;
  }
  #poem-wrapper .title{
    font-size: 0.5em;
  }
  #poem-wrapper img{
    width: 100%;
  }

  #poem-wrapper #section-0, #poem-wrapper #section-1, #poem-wrapper #section-2, #poem-wrapper #section-3, #poem-wrapper #section-4, #poem-wrapper #section-5, #poem-wrapper #section-6 {
    margin-top: 3%;
    width: 100%;
    font-size: 0.8;
    line-height: 1px;
  }

  .poem p{
    line-height: 1.4em;
    font-size: 15px;
  }
}
