img.wifi {
  display: inline-block;
  max-width: 9141px;
  max-height: 1416px; }

.mobile-only {
  display: none; }

#internet-relative {
  position: relative;
  width: 100%;
  min-height: 200px; }
  #internet-relative #internet-button-wrapper {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 6%;
    height: 50px;
    justify-content: space-between;
    z-index: 1; }
  #internet-relative .internet-button {
    border: none;
    background: transparent;
    font-size: 4em;
    cursor: pointer;
    position: absolute;
    z-index: 1; }
  #internet-relative #internet-slider-left {
    left: 0px; }
  #internet-relative #internet-slider-right {
    right: 0px; }
  #internet-relative .internet-button:focus {
    outline: none; }

#internet-slider {
  width: 90%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  #internet-slider ul {
    width: 100%;
    left: -100%;
    transition: 0.5s left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex; }
    #internet-slider ul li {
      width: 100%;
      color: black;
      font-size: 3rem; }
      #internet-slider ul li img {
        width: 100%;
        height: auto;
        margin-bottom: 20px; }

@media screen and (max-width: 1020px) {
  img.wifi {
    display: none; }
  .mobile-only {
    display: block; } }

@media screen and (max-width: 320px) {
  #internet-slider button {
    margin-top: 12vh;
    font-size: 2em; } }
