<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="hero">
    <img alt="Team Photo" src="/assets/images/mockTeamPhoto.jpeg">
  </div>

  <h2>Students in UNC-Chapel Hill’s School of Media and Journalism are honored to tell the stories of change in Havana, Cuba.</h2>

  <div class="divider">
    <img alt="Logo" src="/assets/images/logo.png">
    <p>About the project</p>
  </div>

  <p class="about">
    Ei vix wisi necessitatibus, at pri dicit appellantur. Quod suas deterruisset has an. Ut vidit essent nostro est, ex est exerci commune accusamus, ei alii graeco noluisse eam. Mei equidem adipiscing definitionem ne, cu vis melius vituperata.
  </p>

  <p class="about">
    Mei eu dico doming inermis, qui cu minimum platonem. Quod alii iudicabit pro eu, probo propriae erroribus te nec, eos te essent detracto invidunt. Postea invidunt appellantur eum eu. Ei noster delectus necessitatibus cum. Vim habeo dicunt te, et dolorum postulant mel. Et sea errem quidam.
  </p>

  <div class="divider">
    <img alt="Logo" src="/assets/images/logo.png">
    <p>Meet the team</p>
  </div>


  <div id="special-thanks">
    <p>Special Thanks</p>
    <p>Pro eu omnes tollit, fugit fastidii contentiones his no. Vidit phaedrum inimicus pri no. Illud porro cotidieque pri no. Sint inermis accusam eum in, nostro bonorum no cum, mea ei labore maluisset. An decore erroribus per. Nec id nominavi molestie, dolorem percipit intellegam cu vis.
    </p>
  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
