<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="hero">
    <img alt="Team Photo" src="/assets/images/mockTeamPhoto.jpg">
  </div>
  <div class="about-container">

  <h1 id="about-title">About Us</h1>
  <p>Students in UNC-Chapel Hill’s School of Media and Journalism are honored to tell the stories of change in Havana, Cuba.</p>

  <div class="divider">
    <img alt="Logo" src="/assets/logo.png">
    <h3>The Project</h3>
  </div>

  <p class="about">
    Ei vix wisi necessitatibus, at pri dicit appellantur. Quod suas deterruisset has an. Ut vidit essent nostro est, ex est exerci commune accusamus, ei alii graeco noluisse eam. Mei equidem adipiscing definitionem ne, cu vis melius vituperata.
  </p>

  <p class="about">
    Mei eu dico doming inermis, qui cu minimum platonem. Quod alii iudicabit pro eu, probo propriae erroribus te nec, eos te essent detracto invidunt. Postea invidunt appellantur eum eu. Ei noster delectus necessitatibus cum. Vim habeo dicunt te, et dolorum postulant mel. Et sea errem quidam.
  </p>

  <div class="divider">
    <img alt="Logo" src="/assets/logo.png">
    <h3>The Team</h3>
  </div>

</div> <!--end container -->

  <div class="team-nav">
    <ul>
      <li class="everyone active">Everyone</li>
      <li class="videographers">Videographer</li>
      <li class="reporters">Reporter</li>
      <li class="designers">Designer</li>
      <li class="developers">Developer</li>
      <li class="coaches">Coach</li>
    </ul>
  </div>

  <div class="about-container">

  <div id="team-photos">
    <div class="videographer">
      <img alt="Alma Washington" src="/assets/images/team/mockAlma.jpg">
      <p class="role">VIDEOGRAPHER</p>
      <p class="team-name">Alma Washington</p>
      <p class="portfolio"><a href="http://almawashington.com/"> www.almawashington.com</a></p>
      <p class="twitter-handle"><a href="#">@alma</a></p>
    </div>
    <div class="reporter">
      <img alt="Lindsay Carbonell" src="/assets/images/team/mockLindsay.jpg">
      <p class="role">REPORTER</p>
      <p class="team-name">Lindsay Carbonell</p>
      <p class="portfolio"><a href="http://www.lindsaycarbonell.com/"> www.lindsaycarbonell.com/</a></p>
      <p class="twitter-handle"><a href="#">@lindsay</a></p>
    </div>
    <div class="designer">
      <img alt="Kate Boyd" src="/assets/images/team/mockKate.jpg">
      <p class="role">DESIGNER</p>
      <p class="team-name">Kate Boyd</p>
      <p class="portfolio"><a href="http://www.kwboyd.com/"> www.kwboyd.com/</a></p>
      <p class="twitter-handle"><a href="#">@kate</a></p>
    </div>
    <div class="developer">
      <img alt="Peyton Chance" src="/assets/images/team/mockPeyton.jpg">
      <p class="role">DEVELOPER</p>
      <p class="team-name">Peyton Chance</p>
      <p class="portfolio"><a href="#"> www.peytonwebsite.com/</a></p>
      <p class="twitter-handle"><a href="#">@peyton</a></p>
    </div>
    <div class="coach">
      <img alt="Mary Claire Brogden" src="/assets/images/team/mockMC.jpg">
      <p class="role">COACH</p>
      <p class="team-name">Mary Claire Brogden</p>
      <p class="portfolio"><a href="#"> www.mcwebsite.com/</a></p>
      <p class="twitter-handle"><a href="#">@mc</a></p>
    </div>
  </div>

</div> <!--end container -->

  <div id="special-thanks">
    <p>Special Thanks</p>
    <p>Pro eu omnes tollit, fugit fastidii contentiones his no. Vidit phaedrum inimicus pri no. Illud porro cotidieque pri no. Sint inermis accusam eum in, nostro bonorum no cum, mea ei labore maluisset. An decore erroribus per. Nec id nominavi molestie, dolorem percipit intellegam cu vis.
    </p>
  </div>

  <% include ../partials/footer.ejs %>
  <script src="/js/about.js"></script>
</body>
</html>
