<!DOCTYPE html>
<html>
<head>
<style>
  p {
    font-size: 2em;
    color: #000;
  }
</style>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/article.ejs %>

</body>
</html>
