<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="gallery">
      <div class="card latched">
        <div>
        <video id="my-video" loop muted data-autoplay autoplay>
          <source src="/assets/flowers.webm" type="video/webm">
    			<source src="/assets/flowers.mp4" type="video/mp4">

    		</video>
        <div class="layer">
    			<div class="arrow bounce">
            <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
          </div>
    		</div>
      </div>
      </div>
      <div class="spacer"></div>


      <div class="card card2" data-aos="fade-up">
        <div class="index-title">
        <div id="title1">Cuba's</div>
        <div id="title2">NEWWAVE</div>
        <div id="subtitle">
          A look at the future for Cuba through the eyes of five Havana youth.
        </div>
      </div>

    <div class="flex-container">
      <div class="flex-item">
        <img src="/assets/images/microphone.png" class="title-img"/>
        <p class="box-title">Agency of Rap</p>
        <p class="box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="flex-item">
        <img src="/assets/images/hair.png" class="title-img"/>
        <p class="box-title">Digital Entrepreneurs</p>
        <p class="box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="flex-item">
        <img src="/assets/images/seaside.png" class="title-img"/>
        <p class="box-title">Across the Harbor </p>
        <p class="box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="flex-item">
        <img src="/assets/images/oldman.png" class="title-img"/>
        <p class="box-title">A New Understanding</p>
        <p class="box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="flex-item">
        <img src="/assets/images/skateboard.png" class="title-img"/>
        <p class="box-title">Skater Girl</p>
        <p class="box-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
      </div>
      <div class="spacer"></div>
  </div>


</body>
</html>
