<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <%for (i in body){ %>
    <%= body[i] %>
  <% } %>

  <% include ../partials/footer.ejs %>

</body>
</html>
