<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/js/main.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
</head>

<body>
  <div id="index-container">
    <div id="loader-box">
      <div id="logo-box">
      </div>
      <h2>Donec pulvinar arcu odio, sodales dignissim neque varius eget. Vivamus pretium risus sit amet ornare efficitur. </h2>
      <div class="layer">
        <div class="arrow bounce">
          <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div id="bottom-box">
      <% include ../partials/nav.ejs %>
        <video id="my-video" loop muted data-autoplay autoplay loop="loop">

    			<source src="/assets/flowers.mp4" type="video/mp4">

    		</video>
    </div>
  </div>

    <% include ../partials/footer.ejs %>

</body>
</html>
