<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <script>
  var currentPage = '';
  var currentNav = '';
  var mobileNav = ".overlay-content";
  </script>
  <% include ../partials/nav.ejs %>
  <div id="index-container">
    <div id="bottom-box">

        <video id="home-video" muted data-autoplay autoplay onended="showReplay()">

    			<source src="<%= espanol ? "spanish_video_link":"/assets/video/intro_cinemagraph4.mp4" %>" type="video/mp4">

    		</video>
        <!-- <div id="logo-box">
          <img alt="logo" src="/assets/584_logo_04.png">
        </div> -->
        <div class="replay-btn" id="replay-btn" onclick="replayVideo()">
          <i class="fa fa-repeat"></i>
          <span><%= espanol ? "Replay Espanol":"Replay" %></span>
        </div>
    </div>
  </div>

  <div id="mobile-container">
    <div id="logo-box">
      <img alt="logo" src="/assets/images/584_logo_white.png">
          <div id="info">
            <div id="cinemagraph"></div>
              <p>
        	  	<% if (espanol) { %>
        		TO TRANSLATE Cuba's youth are bringing in a wave of change. Join us as we journey through Havana through their eyes.
        		<% } else { %>
        		Cuba's youth are bringing in a wave of change. Join us as we journey through Havana through their eyes.
        		<% } %>
        	  </p>
        </div>
    </div>
  </div>

  </div>



</body>
</html>
