<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <script>
  var currentPage = 'indexespanol';
  </script>
  <div id="index-container">
    <% include ../partials/navespanol.ejs %>
    <div id="bottom-box">

        <video id="my-video" muted data-autoplay autoplay>

    			<source src="/assets/video/placeholder2.mp4" type="video/mp4">

    		</video>
        <!-- <div id="logo-box">
          <img alt="logo" src="/assets/584_logo_04.png">
        </div> -->
    </div>
  </div>


</body>
</html>
