<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
    <% include ../partials/nav.ejs %>
  <div id="index-container">
        <div class="title-svg">
          <div id="upper-filler">
          </div>
          <!-- <img id="svg-image" src="/assets/images/cubatitle.svg" alt="Cuba's New Wave"> -->
          <div>

            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg id="title-svg-full" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 viewBox="0 0 1366 2000" xml:space="preserve">
               <style type="text/css">
               	.st0{fill:#FFFFFF;}
               </style>
               <g>
                 <g>
               <% include ../partials/title.ejs %>
             </g>
           </g>

            <rect id="svg-backing" y="475" class="st0"/>
            </svg>
          </div>
          <!-- <div class="backing"> -->
          <!-- </div> -->
          <!-- <div class="filler"> -->
          <div id="link-box">
            <p class="subtitle">A look at the future for Cuba through the eyes of five Havana youth. </p>
            <div id="thumbnail-box">
            <div class="arts">
              <img src="/assets/images/microphone.png" class="title-img"/>
              <p class="box-title">Agency of Rap</p>
              <p class="box-content">Hopefully a short</p>
            </div>
            <div class="entre">
              <img src="/assets/images/hair.png" class="title-img"/>
              <p class="box-title">Digital Entrepreneurs</p>
              <p class="box-content">Hopefully a short</p>
            </div>
            <div class="harbor">
              <img src="/assets/images/seaside.png" class="title-img"/>
              <p class="box-title">Across the Harbor </p>
              <p class="box-content">Hopefully a short</p>
            </div>
            <div class="aging">
              <img src="/assets/images/oldman.png" class="title-img"/>
              <p class="box-title">A New Understanding</p>
              <p class="box-content">Hopefully a short</p>
            </div>
            <div class="youth">
              <img src="/assets/images/skateboard.png" class="title-img"/>
              <p class="box-title">Skater Girl</p>
              <p class="box-content">Hopefully a short</p>
            </div>
          </div>
          </div>
        </div>
        <div>
        <video id="my-video" loop muted data-autoplay autoplay loop="loop">

    			<source src="/assets/flowers.mp4" type="video/mp4">

    		</video>
        <div class="layer">
    			<div class="arrow bounce">
            <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
          </div>
    		</div>
      </div>

</div>
    <% include ../partials/footer.ejs %>

  <script>
  document.getElementsByTagName('video')[0].onended = function () {
  this.load();
  this.play();
};
</script>

</body>
</html>
