<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>">
<head>
  <% include ../partials/header.ejs %>
  <script>
  var currentPage = "<%= page %>";
  var currentNav = '.' + currentPage.substring(7);
  var mobileNav = ".overlay-content ." + currentPage.substring(7);



  </script>
</head>

<body>

	<%  include ../partials/nav.ejs %>
	<% include ../partials/article.ejs %>
	<%  include ../partials/footer.ejs %>
  <!-- <script type="text/javascript" src="/js/inner.js"></script> -->
</body>
</html>
