<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
  <script>
  var currentPage = "<%= page %>";
  console.log(currentPage)
  var currentNav = '.' + currentPage.substring(7);
  console.log(currentNav);

  </script>
</head>

<body>
  <% if (page.includes('espanol')) { %>
  <% var espanol = true } %>
  <%  if (espanol == true) { %>
  <%  include ../partials/navespanol.ejs %>
  <% } else { %>
  <%  include ../partials/nav.ejs %>
  <% } %>

  <% include ../partials/article.ejs %>


  <%  if (espanol == true) { %>
  <%  include ../partials/footerespanol.ejs %>
  <% } else { %>
  <%  include ../partials/footer.ejs %>
  <% } %>
</body>
</html>
