<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1>This is the INNER page.</h1>

  <% include ../partials/nav.ejs %>


  <% include ../partials/footer.ejs %>
</body>
</html>
