<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

  <% include ../partials/nav.ejs %>

<<<<<<< HEAD
  <% include ../partials/article.ejs %>
=======
  <!-- <% include ../partials/article.ejs %> -->

  <div class="inner-hero">
    <img src="/assets/images/pokemonBoy.jpg" alt="Cuban Teen with Picachu Tattoo">
  </div>

  <div class="inner-title">
      <h1>Across the Harbor</h1>
      <h2 id="inner-sub">A journey across race, economics, and water</h2>
  </div>

  <p id="inner-intro">Leonardo’s daily journey between Regla and Old Havana provides some much-needed context to the myriad stories about Cuba’s international tourist boom.
  </p>

  <h3 id="inner-subhead">A broken down ferry</h3>
  <p id="inner-content">Maecenas ut efficitur elit, ac luctus lorem. Maecenas ut sem id lectus semper ultricies eu vitae elit. Donec accumsan dignissim orci, maximus auctor lorem volutpat eget. Nulla ligula leo, commodo eget enim vitae, aliquam blandit massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eget orci a augue pellentesque egestas eget eget ipsum. Proin tristique cursus consectetur. Cras suscipit tempus magna eget vehicula.</p>

  <p id="inner-content">
  Ut orci mauris, bibendum nec leo commodo, mattis pretium neque. Mauris eu tellus ac diam rutrum finibus. Integer egestas, nunc id porta imperdiet, quam lectus fermentum arcu, ut tincidunt tellus diam sit amet enim. Fusce interdum sapien turpis, vel efficitur erat laoreet quis. Cras sollicitudin erat id tempus aliquam. Proin convallis ut sem ut malesuada. Nunc ullamcorper porta ipsum, eu faucibus magna interdum egestas. Nullam quis hendrerit odio. Proin gravida urna a purus efficitur, eu tincidunt lectus vulputate. Nunc maximus tempus leo id tincidunt. Duis rutrum accumsan malesuada. Fusce et laoreet ex, id ultricies arcu. Ut congue rhoncus nibh eget euismod. Mauris eu ipsum augue. Fusce tempus ligula non gravida eleifend. Sed ac justo porttitor, dapibus neque eu, bibendum est.</p>

<div class="story-image">
  <img id="inner-image" src="/assets/images/mockTheaterImage.jpg" alt="A night scene of a theater marquee">
  <p id="inner-image-caption">Morbi et accumsan ex. Mauris ac elit blandit mi sollicitudin interdum sit amet non mi. Pellentesque nunc lectus, laoreet at auctor at, scelerisque ut odio.</p>
</div>

<p id="inner-content">
  Cras eleifend hendrerit cursus. Suspendisse dignissim sem ac odio rhoncus, vel vestibulum sapien lobortis. Integer sit amet elementum eros, eu consectetur diam. Nulla lobortis mi purus, at pellentesque nibh gravida non. Sed eu consectetur metus. Nulla hendrerit dapibus ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Maecenas et maximus neque. Nullam eget elit elit. Duis vulputate quam vel augue accumsan, id condimentum justo finibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut aliquet pulvinar enim consectetur porttitor.<p>

  <p id="inner-content">
  Donec posuere turpis nunc, ac ultrices ligula iaculis vel. Maecenas et elementum nunc, et lobortis turpis. Cras volutpat vitae urna sodales facilisis. Phasellus felis sem, hendrerit ut dolor eget, vehicula pellentesque orci. Donec quis efficitur erat. Vestibulum nibh augue, viverra ac magna quis, tempor mollis purus. Nam suscipit urna pellentesque aliquet condimentum. Mauris a pellentesque velit. Integer metus elit, molestie id dignissim vel, pretium ut sem. Morbi quis luctus dolor.</p>

  <p id="inner-content">
  Morbi et accumsan ex. Mauris ac elit blandit mi sollicitudin interdum sit amet non mi. Pellentesque nunc lectus, laoreet at auctor at, scelerisque ut odio. Vivamus non mauris diam. Ut turpis lectus, pellentesque sed velit quis, mattis gravida massa. Aenean sem urna, venenatis eget vestibulum vitae, dignissim in mauris. Nulla blandit vulputate erat ac varius. Suspendisse potenti.</p>

  <p id="inner-content">
  Sed ultricies laoreet tellus at viverra. Maecenas urna eros, dictum id nisi a, aliquam tempor magna. Nullam ut ipsum ut ligula rhoncus feugiat. Phasellus ex urna, aliquet eget lectus non, porta ullamcorper est. Duis vitae nisl sollicitudin, accumsan diam vitae, efficitur lacus. Maecenas varius erat iaculis odio hendrerit viverra. Suspendisse massa enim, cursus quis consectetur ut, luctus a felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin egestas urna vel erat dignissim elementum sed varius metus. Sed ex nisi, suscipit non semper vitae, lobortis sit amet ex. Donec tincidunt purus at massa pulvinar commodo.</p>

  <p id="inner-content">
  Aliquam eget consectetur tellus, at semper augue. Donec convallis fermentum suscipit. Aenean tristique, lorem a viverra posuere, eros libero ultricies nibh, at auctor nulla justo eget ex. Etiam lobortis justo in purus porta tristique. Suspendisse nibh nisi, porttitor a lectus condimentum, bibendum sagittis felis. Curabitur nec tortor quis nisi mollis porttitor. Mauris aliquet felis non euismod pretium. Vestibulum aliquet tortor ac tempus ullamcorper. Cras volutpat diam nec massa ultricies suscipit. Pellentesque auctor egestas mauris. Sed et est mi.</p>

  <p id="inner-content">
  Nullam iaculis, sapien eu mattis gravida, augue ante placerat ante, eget malesuada sem libero ut mauris. Pellentesque orci arcu, sodales ac dolor eget, faucibus dapibus orci. Phasellus suscipit suscipit ullamcorper. Donec ultricies imperdiet lacinia. Phasellus hendrerit volutpat odio, vel gravida nisl scelerisque in. Donec finibus nec diam dapibus dictum. Praesent varius mollis metus vel vulputate. Nam vitae condimentum turpis, nec bibendum turpis. Pellentesque pulvinar tellus non nulla porta, sit amet auctor est auctor. Aliquam erat volutpat. Suspendisse rutrum, augue eget molestie accumsan, orci ipsum facilisis eros, a mattis tortor diam et elit. Maecenas tempus massa ac tortor malesuada interdum. Maecenas consectetur eros sit amet finibus aliquam.</p>

  <p id="inner-content">
  Suspendisse potenti. Sed vitae bibendum mi. Vivamus ut tincidunt lacus. Duis ultrices massa eu dictum imperdiet. In sollicitudin sem at quam porttitor sollicitudin at sit amet ante. Etiam purus nunc, tempor et feugiat eu, commodo quis sem. Aenean ac dolor ullamcorper, mattis mauris vitae, efficitur enim. Nulla iaculis, neque a mollis consectetur, mauris erat ullamcorper libero, finibus varius ipsum nunc in sapien. Aenean laoreet urna mi. Curabitur quis est nulla. Vestibulum pulvinar, nunc sit amet eleifend mattis, dui magna aliquet felis, id mollis nisi elit eu diam. Etiam lacinia mi vitae dui tempor laoreet. Nam scelerisque et ligula nec malesuada. Sed id ipsum vestibulum, fermentum justo vel, congue dolor. Fusce imperdiet semper ultrices.</p>

  <p id="inner-content">
  Cras libero urna, tempor et ex in, tincidunt interdum elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque nec tristique arcu. Aliquam libero massa, pharetra vitae porttitor et, luctus in quam. Vestibulum suscipit, ipsum eu semper molestie, magna eros dignissim enim, eget lobortis enim dui eu augue. Nunc enim lacus, varius ut mauris sed, egestas varius orci. Fusce augue risus, faucibus ac diam sed, maximus blandit odio. Praesent et laoreet urna. Morbi a sem ut nisl mollis mollis.</p>


<!-- Pull quote example here ------>
  <div class="pull-quote">
    <hr>
    <p>Donec in euismod lectus, eget sollicitudin ante. Cras porta sapien quis finibus pulvinar.</p>
  </div>


  <p id="inner-content">
  Curabitur fringilla justo nisi, in varius dolor blandit sed. Morbi at sodales ligula. Quisque lobortis arcu orci, quis ultricies nisi faucibus at. Ut feugiat arcu purus, eget efficitur velit ullamcorper ac. Curabitur enim nisl, tristique vel porta a, varius in orci. Donec in euismod lectus, eget sollicitudin ante. Cras porta sapien quis finibus pulvinar. Pellentesque viverra augue nec nisi feugiat imperdiet. Mauris luctus congue iaculis. Etiam quis nibh dictum eros rhoncus vestibulum non id eros. Aliquam vestibulum metus in sodales dictum. Vivamus quis tortor lorem. Mauris nec sollicitudin quam.</p>

  <p id="inner-content">
  Curabitur sed dolor nec est pretium tincidunt. Maecenas varius elit augue, ut luctus nisl elementum at. Ut sodales tincidunt odio non lobortis. Nullam efficitur, velit quis pharetra faucibus, mi nisi elementum nunc, eu viverra elit nisl in quam. Sed fermentum eu metus eu volutpat. Cras justo massa, eleifend et bibendum eu, faucibus ac metus. Donec suscipit sagittis arcu, eu ultricies massa porta mollis. In hendrerit cursus eros non convallis. Aenean hendrerit lorem eu hendrerit lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Nunc quis cursus mauris. Donec convallis leo erat, vel efficitur massa pellentesque posuere. Mauris ullamcorper elit vitae dui accumsan tempus. Maecenas sagittis varius porttitor. Pellentesque suscipit purus magna, vitae aliquet ante faucibus et.</p>

  <p id="inner-content">
  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent finibus viverra ante. Vestibulum id semper ipsum. Suspendisse ut nunc et est viverra tempus in ut metus. Integer ac eros ac magna feugiat tristique in iaculis nisl. Aenean ultrices sem sed tortor faucibus, et consequat ex vestibulum. Ut cursus est eget diam finibus, nec eleifend purus tristique. Curabitur ultricies ultrices orci molestie rutrum. Aenean venenatis nisl in dui consequat ornare. Donec vitae purus accumsan, facilisis tellus ut, sollicitudin tellus. Nullam blandit magna dolor, ut facilisis leo blandit eget. Mauris scelerisque est quis libero ullamcorper, et vestibulum enim aliquet. Praesent aliquam euismod dolor non bibendum. Mauris dapibus eleifend libero, ac viverra dui mattis eu. Etiam vel magna libero.</p>

  <p id="inner-content">
  Sed nec molestie leo. Donec feugiat nibh vel erat malesuada, sed blandit nisl posuere. Duis mi orci, venenatis sed interdum at, feugiat quis nunc. Donec vel magna quis erat commodo imperdiet. Curabitur tincidunt justo in enim fermentum, at dignissim tortor placerat. Praesent quam metus, commodo eu massa vulputate, vestibulum pharetra justo. Nunc elementum eget nibh vitae commodo. Sed accumsan turpis massa, eget lobortis ex convallis nec. Aliquam dapibus turpis ligula. Etiam sed lacinia est. Aenean nibh tortor, lacinia eget pharetra eget, sodales et enim. Nullam fringilla et neque nec tempus.</p>

  <p id="inner-content">
  Donec vel elementum lorem. Proin accumsan blandit vehicula. Donec accumsan magna turpis, sed tempus nisi cursus sed. Vestibulum egestas leo ut dignissim sagittis. Quisque eleifend erat sed nibh dapibus ornare ut eget augue. Curabitur eleifend eros in orci dictum laoreet. Nam tempor, sem vel mattis aliquet, magna lectus maximus dolor, non sodales dolor odio ut leo.</p>

  <p id="inner-content">
  Aliquam quis mauris a massa scelerisque lobortis. Aliquam lobortis neque et laoreet sagittis. Cras mi urna, malesuada a eros ut, volutpat consectetur orci. Cras id quam id ante faucibus ultrices. Nullam eu lacus nec odio tempus scelerisque sit amet ac tellus. Duis quis aliquam lacus. Maecenas vel tempus turpis, at tristique neque. Aliquam accumsan convallis rutrum.</p>

  <p id="inner-content">
  Praesent sed elementum nisi, at sollicitudin metus. In placerat scelerisque libero, ac pulvinar tortor hendrerit non. Aliquam arcu nisl, consectetur sed orci in, convallis egestas odio. Phasellus aliquet ultrices lobortis. Duis ullamcorper id lorem eget placerat. Praesent facilisis nec tortor non ornare. Nullam luctus urna sed dolor ultricies interdum. Vestibulum suscipit, nisi condimentum eleifend viverra, massa nibh vulputate purus, et consectetur nulla ligula et diam.</p>

  <p id="inner-content">
  Nullam elit risus, eleifend laoreet mi eu, tincidunt porta enim. Cras rhoncus sapien eget sem placerat lacinia. Donec gravida ipsum accumsan dolor ornare, et fermentum est venenatis. Duis ultrices, lacus a sagittis interdum, sapien ligula pretium libero, porttitor gravida purus odio at est. Nunc finibus dapibus lectus, vel efficitur felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id semper massa. Integer aliquet viverra justo dapibus convallis. Nullam ornare massa consequat nunc euismod, consectetur euismod eros semper. Nunc ut turpis hendrerit, laoreet metus ut, dignissim mi. Mauris venenatis dolor a imperdiet consequat. Suspendisse potenti. Praesent ornare velit ac urna molestie varius.</p>

  <p id="inner-content">
  Duis pulvinar, lorem pretium porttitor semper, sapien dui iaculis augue, et euismod ipsum velit pulvinar leo. Donec condimentum tincidunt turpis id pellentesque. Curabitur mauris dui, vulputate eu neque id, lobortis dapibus mauris. Etiam pretium cursus ipsum id consequat. Pellentesque sodales eleifend sem ut placerat. Cras ultricies magna ac facilisis fringilla. Vestibulum venenatis blandit condimentum. Vestibulum non gravida est. Quisque porta ipsum ante, eu molestie justo pulvinar ut. Duis id lorem et ante sollicitudin commodo auctor a lacus. Suspendisse porta, justo et pharetra aliquet, leo nibh tempus sem, et vulputate tortor ligula non purus. Maecenas a ornare libero. Proin nulla nisi, egestas id orci eu, lobortis feugiat mauris. Integer rutrum sit amet erat vitae auctor. Ut in leo in nibh tempor porttitor. Cras congue lectus at erat congue, ut pulvinar diam varius.</p>

  <p id="inner-content">
  Pellentesque id augue a nulla consectetur vestibulum vitae nec ex. In iaculis porttitor justo vitae condimentum. Praesent rutrum suscipit mollis. Aliquam lacinia, velit ac aliquet suscipit, risus sapien placerat turpis, a placerat sapien lectus nec magna. Mauris sit amet justo eros. Aenean nec mi lorem. Aliquam convallis purus quis vestibulum lobortis. Pellentesque ultrices purus sit amet nibh finibus, eu porta est ornare. Curabitur a fermentum leo. Mauris vitae mi vitae nulla luctus posuere.</p>

  <p id="inner-content">
  Cras ultrices nulla nunc, eget porttitor ante laoreet nec. Nunc tristique leo dolor, in condimentum nunc varius at. Morbi ac mauris id eros tristique pharetra nec et turpis. Cras vel lectus ut ex dapibus venenatis vitae at ante. Mauris cursus est fermentum, ullamcorper augue vitae, tincidunt massa. Vestibulum quis urna nec nunc dapibus tristique. Sed justo lectus, auctor ut tincidunt eget, sagittis quis libero. Curabitur a pellentesque mi. Vivamus eu dui placerat, tempor eros sodales, auctor augue. Aliquam erat volutpat.</p>

  <p id="inner-content">
  Donec vitae nisl risus. Duis molestie fermentum ex lacinia tincidunt. Maecenas vitae ligula vel erat ultricies laoreet. Aenean in augue sit amet ante euismod mattis vel sed nisl. Fusce tellus eros, vehicula vel lacinia maximus, facilisis id arcu. Etiam eu ex varius, vulputate libero vitae, eleifend eros. Suspendisse potenti. Vivamus varius est sit amet purus pellentesque volutpat. In eget odio luctus, egestas turpis non, dictum enim. Curabitur ultrices felis et felis convallis, sed elementum dui fermentum. Aliquam erat volutpat. Donec dui mi, euismod ut auctor a, iaculis in ex. Nulla posuere et ante vel eleifend.</p>

  <p id="inner-content">
  In maximus turpis sed est laoreet placerat. Morbi rutrum quam ullamcorper ipsum fringilla cursus. Sed lorem elit, convallis vel mollis at, laoreet ullamcorper mi. Donec malesuada mauris et dolor facilisis elementum. Nulla.</p>

>>>>>>> a65f86095e458820c11a81af011ee08d86747faa

  <% include ../partials/footer.ejs %>

</body>
</html>
